/**
 *
 * Apply your custom CSS here
 *
*/
::-webkit-scrollbar {
    display: none;
}

.title a {
    color: #fff;
}

a {
    color: #000;
}

.modal-open .modal {
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.68) !important;
    overflow-y: auto;
    z-index: 10000 !important;
}

.thumbnail .caption {
    padding: 5px;
}

.btn-left-sidebar {
    position: relative;
}

.detail-content {
    overflow: auto;
    /* position: relative; */
}

.form-control:focus {
    border-color: rgba(236, 15, 15, 0.46);
    outline: 0;
}

.form-control {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0.7px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-left-sidebar .btn-action {
    width: 85%;
    overflow: hidden;
    position: relative;
    margin: 10px 20px;
}

.button-select {
    display: inline
}

.btn-group-view {
    color: #333;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
}

.btn-select-items {
    margin-right: 20px;
}

.btn-group-action-select {
    margin-right: 15px;
}

.btn-group-view #button_select {
    padding-right: 12px;
}

.btn-group-view #btn_gear {
    margin-left: -5px;
    border-left: 1px solid #ccc;
}

.btn-trash {
    border: 1px solid transparent;
    background: #ff3333;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}

.btn-trash:focus {
    background: #ff6d74;
    color: #fff;
}

.btn-trash:hover {
    color: #fff;
}

.btn-group-view .btn {
    background: none;
    margin-bottom: 0 !important;
    vertical-align: bottom !important;
}

.btn-options {
    color: #333;
    border-radius: 2px;
    background-color: #fff;
    border-color: #ccc;
}

.btn-action {
    border-radius: 3px;
    color: #fff !important;
    position: relative;
    overflow: hidden;
    background-color: #fe3333;
}

.btn-action:hover,
.btn-action:focus {
    color: #fff;
}

.clear {
    clear: both
}

.card-item {
    border: 1px #dddddd solid;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.10);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.10);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.10);
    background: #fff;
    position: relative;
}

.card-item-body {
    width: 100%;
    background: rgba(58, 57, 57, 0.55);
    -webkit-transition: bottom 0.3s;
    transition: bottom 0.3s;
    padding: 0 10px !important;
    position: absolute;
    color: #fff;
    bottom: 0;
}

.img-full-width {
    width: 100%;
}

.card-item-footer {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.statistics {
    display: block;
    color: #fff;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.icon-status i {
    color: #CCC
}

.icon-status {
    display: block;
    color: #fff;
    margin: 0;
    width: 100%;
    padding: 8px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.icon-status#item li {
    width: 100%
}

.tab-create-link li {
    display: inline;
    width: 50%;
    text-align: center;
    padding: 10px 15px;
}

.tab-create-link {
    display: inline-block;
    padding: 0;
    width: 100%;
    margin: 20px 0 0 0;
}

.tab-create-link li.active {
    border-bottom: 1px solid #ff3333;
}

.tab-create-link a:active,
.tab-create-link a:hover {
    text-decoration: none;
}

.btn-category-item {
    background-color: #ff3333;
    color: #fff;
    margin-right: 4px !important;
    border-radius: 3px;
}

.card-item-image {
    position: relative;
}

#bookmark-card .card-item-image,
#folder .card-item-image,
#interest-card .card-item-image,
#web-card .card-item-image {
    height: 200px;
}

#interest-card .card-item-image img,
#web-card .card-item-image img {
    height: 200px;
}

#folder:hover .card-info-layer,
#card-feed .card-item:hover .card-info-layer {
    display: none;
}

#people-card .card-item:hover .card-info-layer {
    display: none;
}

.card-item:hover .neo i {
    background: rgb(80, 78, 78);
    border: 1px solid rgb(80, 78, 78);
}

.card-item:hover .hover-image {
    display: block !important;
    cursor: pointer;
}

#folder:hover .card-item-body #icon-status,
#bookmark-card:hover .card-item-body #icon-status,
#web-card:hover .card-item-body #icon-status {
    display: block;
}

#folder .card-item-body h5,
#interest-card .card-item-body h5,
.card-item-body h5,
#web-card .card-item-body h5 {

    display: none;
    -webkit-transform: opacity .15s ease-in-out;;
    -moz-transform: opacity .15s ease-in-out;;
    -ms-transform: opacity .15s ease-in-out;;
    -o-transform: opacity .15s ease-in-out;;
    transform: opacity .15s ease-in-out;;

}

.neo {
    padding: 10px;
    display: block;
    position: absolute;
    height: 55px;
    z-index: 301;
}

.hover-image {
    display: none;
    background: rgba(58, 57, 57, 0.55);
    width: 100%;
    position: absolute;
    z-index: 300;
    min-height: 198px;
    height: 100%;
}

.hover-image .row {
    position: absolute;
    right: 12px;
    top: 15px;
    z-index: 600;
    line-height: 1;
}

.hover-image .btn-trans,
.neo > div a {
    font-size: 16px;
    color: #fff;
    z-index: 400;
}

.card-item #link {
    color: #fff;
}

.card-item #link i {
    display: inline-block;
    padding: 8px 9px;
    background: rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(0, 0, 0, 0);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 100%;
    -moz-box-shadow: 0 0 2px #ccc;
}

.card-item #link i:hover {
    background-color: #ff3333
}

.item-nav-middle {
    position: relative;
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.item-nav-middle button {
    min-width: 40px;
    position: relative;
    z-index: 610;
}

.item-nav-middle-inner {
    font-size: 30px;
    top: 41%;
    padding: 0 41% !important;
    position: absolute;
}

.item-nav-middle-inner-tri {
    margin: 20px auto;
    width: 68%;
    font-size: 30px;

}

.item-nav-middle-inner-double {
    /* margin: 25px auto; */
    /* width: 50%; */
    top: 41%;
    position: absolute;
    padding: 0 28% !important;
    font-size: 30px;
}

.panel-box span#item {
    display: block;
    padding: 15px;

}

.item-nav-middle-inner > a {
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    border: 1px #ccc solid;
}

.item-nav-middle-inner > a.btn-open:hover {
    border: 1px solid #ff3333 !important;
}

.item-nav-middle-inner > a.btn-open {
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    width: auto;
    height: auto;
    border: 1px #ccc solid;
}

.custom-menu {
    background-color: #fff;
    border: none;
    left: 0 !important;
    right: auto !important;
    z-index: 500;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.custom-menu a {
    color: #727272 !important;
    font-size: 12px !important;
}

.custom-menu li.disabled a {
    pointer-events: none;
    color: #cccccc !important;
    cursor: not-allowed;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none !important
}

.share-buttons {
    padding: 0;
    margin: 0 auto;
}

.share-buttons li {
    padding: 3px;
    display: inline-block;
}

.btn-tags {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.collapsed #main-menu {
    display: none
}

.collapsed ul {
    display: none
}

#main-menu .dropdown-menu {
    top: 25px;
    background-color: #fff;
    border: none;
    left: auto !important;
    right: 0 !important;
    z-index: 500;
}

#main-menu .dropdown-menu a {
    display: block;
    padding: 5px 20px;
    border: none;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.tags .input:focus {
    border-color: rgba(236, 15, 15, 0.46);
    outline: 0;
}

.tags span {
    padding: 0 4px
}

.tags a {
    color: #fff;
    cursor: pointer;
}

.tags .tag-list {
    margin: 0;
    padding: 5px 0;
}

.tags .tag-item {
    display: inline-block;
    background: #ff3333;
    color: #fff;
    padding: 4px 6px;
    margin-right: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tags .input {
    position: relative;
    display: block;
    width: 100% !important;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.main-menu li {
    position: relative;
}

.main-menu li > i {
    display: inline-block;
    padding: 10px 0;
    cursor: pointer;
}

.main-menu li > a {
    /*display: inline-block;*/
}

.main-menu li > a:before {
    /*display: none !important;*/
}

.main-menu li:hover > .number {
    display: none
}

.main-menu ul li:hover .more-action-child,
.main-menu li:hover .more-action {
    display: block
}

.main-menu .more-action-child,
.main-menu .more-action {
    top: 0;
    right: 0;
    display: none;
    position: absolute;
    background: none;
    border: none;
    padding: 10px 8px;
    color: #fff;
}

.main-menu .number {
    top: 0;
    right: 0;
    position: absolute;
    padding: 13px 5px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.71);
}

#folder .card-item-thumb {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
}

#folder .card-item-thumb-collaborate {
    width: 100%;
    height: 100%;
}

#manage-feed .card-item-thumb {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
}

#manage-feed .card-item:hover .hover-image {
    background: rgba(58, 57, 57, 0.62)
}

#manage-feed .card-item:hover .hover-image .item-nav-middle {
    display: block
}

#manage-feed .hover-image {
    display: block !important;
    background: none;
}

#manage-feed .card-item-thumb-collaborate {
    width: 100%;
    height: 100%;
}

#manage-feeds .category-block ul li button {
    margin-bottom: 0;
}

#manage-feeds .category-block ul li .confirm-trash {
    position: absolute;
    top: -10px;
    z-index: 424;
    background: #000000;
    color: #fff;
    right: 10px;
    padding: 10px;
}

#manage-feed .description {
    border-bottom: 1px solid #ccc
}

#manage-feed {
    padding: 0 20px
}

#manage-feed .item-nav-middle {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
}

#manage-feed .item-nav-middle a {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px 10px;
}

#manage-feed .item-nav-middle a:hover {
    background: #ff3333;
    border: 1px solid #ff3333;
}

#manage-feed .card-item-image #manage-feed .card-item-image {
    position: relative
}

#manage-feed .card-item {
    width: 270px
}

.popup-container .info-bar {
    right: 30px !important;
    top: 10px;
}

.block-content-edit::-webkit-scrollbar {
    display: none;
}

.block-inner {
    max-width: 738px;
    margin: 0 auto;
    display: block;
}

.related-item {
    overflow: hidden;
}

.related-item .card-item {
    display: inline-block;
}

.list-item .item {
    margin: 0 7px;
    vertical-align: top;
    width: 225px;
    display: inline-block;
}

.list-item {
    margin-left: -7px;
    margin-right: -7px;
}

.related-item h4 {
    color: #fff;
    text-transform: uppercase;
}

.activity-listing .info-bar {
    position: absolute;
    right: 100px;
    opacity: 0;
    top: 10px;
    padding: 0 20px;
    background-color: #EEEEEE;
    z-index: 400;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#manage-tags button:focus,
.activity-listing button:focus {
    outline: none
}

#manage-tags .fa-star,
.activity-listing .fa-star {
    color: #FFBA00
}

#manage-tags .input-check .fa-check-square-o,
.activity-listing .input-check .fa-check-square-o {
    color: #ff3333
}

.activity-listing .item {
    padding: 6px 8px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;

}

.activity-listing .item:hover {
    background-color: #dddddd
}

.activity-listing .item:hover .info-bar {
    opacity: 1;
    background-color: #dddddd;
}

.activity-listing .info-bar .add-item {
    margin-left: 10px
}

#manage-tags .action-buttons,
.activity-listing .action-buttons {
    /* width: 60px; */
    margin: 0 10px;
    display: block;
    text-align: center;
}

.activity-listing .info-text {
    padding-top: 5px;
    padding-left: 0;
}

.info-text .unread {
    font-weight: bold;
    color: #0f0f0f;
}

.activity-listing .info-bar a {
    padding: 0 3px
}

.activity-listing .info-bar a:hover {
    color: #ff3333
}

.activity-listing .info-bar .add-item:hover {
    color: #ff3333
}

.activity-listing .action-buttons .add-item:hover {
    background: #ff3333;
    color: #fff;
    border: 1px #ff3333 solid;
}

.activity-listing .action-buttons .add-item {
    border: 1px #ccc solid;
    border-radius: 4px;
    background: none;
    padding: 5px 10px;
    vertical-align: middle;
}

#manage-tags button,
.activity-listing .action-buttons button {
    background: none;
    border: none;
}

.activity-listing .more-action {
    border: none;
    background: none;
}

.activity-listing .more-action:focus {
    outline: none
}

.activity-listing .more {
    position: absolute;
    right: 0;
    float: right;
}

.activity-listing .more ul {
    left: -100px !important;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.inner-people .nav-tabs {
    display: none !important
}

.inner-people .tab-content {
    background: none !important;
    padding: 0 !important;
}

.select-view {
    padding: 1px;
    font-size: 17px;
}

.select-view a {
: 10 px;
    content: "";
}

.select-view:first-child:before {
    color: #ff3333
}

.notification-menu {
    width: 370px;
    left: -150px;
}

.masonry-container,
masonry {
    display: block;
    clear: both;
    width: 95%;
    margin: 10px auto;
}

.masonry-container .item,
.masonry-container .masonry-brick,
masonry .item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 270px;
    background: #fff;
}

.button-group {
    margin: 10px 0
}

.button-group .btn {
    width: 22%;
    background: #d2d2d2;
    height: auto;
    font-size: 1.4em;
    border-radius: 4px;
}

.button-group .btn:hover {
    background: #ff3333;
    color: #fff;
}

.statistic li {
    background: none;
    padding: 10px 0 !important;
    border: none;
}

.statistic li span {
    cursor: pointer;
}

.right-sidebar-inner {
    position: fixed;
    overflow: auto;
    height: 100%;
    display: block;
    width: 280px;
    right: 0;
    top: 0;
}

.right-sidebar-inner .block {
    border-bottom: 1px #ccc solid
}

.right-sidebar-title a {
    font-size: 16px;
    padding: 3px 0;
}

.right-sidebar-title a:hover {
    text-decoration: underline
}

.menu-option {
    float: right
}

.btn-sort {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-top-left-radius: 4px !important;
    -moz-border-top-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-bottom-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;

}

.select-view {
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 4px;
}

#add_feed .card-view-footer {
    margin: 0
}

.card-view-footer {
    margin-right: -30px;
    margin-left: -30px;
    background: #fff;
}

.right-options {
}

.right-options-manage {
}

.inner-sort {
    width: 175px;
    float: left;
    display: inline-block;
}

.inner-trash {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.inner-select-reload {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.select-view a {
    color: #000
}

.inner-change-view {
    float: right
}

.btn-group-options {
    float: left;
    position: relative;
    width: 137px;
}

.btn-group-options .dropdown-menu {
    top: 30px;
    left: 92px !important;
}

.select-view .selected {
    color: #d5080f !important
}

.popup-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 18%;
    background: transparent;
    height: 100%;
    padding-top: 10px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.sidebar-menu .main-menu a > span {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.card-item-image img {
    min-height: 198px;
    max-height: 400px;
    height: auto;
    border: transparent;
}

.ngdialog-close {

    position: fixed;
    left: 15.8%;
    background: #fff;
    top: 10px;
    padding: 10px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }
    80% {
        -webkit-transform: translateX(10px)
    }
    100% {
        -webkit-transform: translateX()
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px)
    }
    100% {
        transform: translateX()
    }
}

.fadeInRightBig {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media screen and (max-width: 768px) {
    .right-sidebar-edit {
        display: none;
    }
}

.right-sidebar-edit {
    position: relative;
    left: 10px;
    z-index: 100;
    float: left;
    width: 270px;
    overflow: auto;
    background: #fff;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	max-height: 100%;
}

.block-inner .icon-web {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 32px;
    height: auto;
}

.right-sidebar-edit .icon-web {
    max-width: 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: auto;
}

.block-content-edit {
    float: left;
    width: 71.5%;
    max-width: 920px;
    background: #fff;
    height: 100%;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* height: 300px; /* Works */
    display: inline-block;
    overflow: auto;
}

.block-content-edit .pull-left h4,
.block-content-edit .pull-left span {
    display: inline-block
}

.edit-main {
    padding: 20px 0;
    /* border-top: 1px solid #e2e2e2; */
    margin-top: 10px;
}

.block-content-edit .pull-right > a {
    margin-right: 10px;
    margin-top: 9px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 9px;
}

.btn-reverse {
    border: 1px solid #ccc;
    -webkit-border-top-right-radius: 4px !important;
    -moz-border-top-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -moz-border-bottom-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.visit-web {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0;
}

.vote .button {
    display: inline-block
}

.vote button {
    background: none;
    outline: none;
    border: none;
}

.edit-header {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

.text-align {
    padding-left: 30px;
    padding-right: 30px;
}

.body-content {
    line-height: 1.7;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
    color: #1d1d1d;
}

.body-content .content-title h1 {
    font-size: 1.9em;
    color: #1D1C1C;
}

.media {
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.media:first-child {
    border-top: none;
}

.media-body {
    width: 88.3%
}

.media .btn-action {
    margin-top: 8px;
}

.reply {
    color: #ff3333;
    background: none;
    border: none;
    outline: none;
}

.logo-web {
    margin-top: -40px
}

.logo-web img {
    background: #fff;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.21);
    min-height: 128px;
}

.web-info ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.web-info ul li {
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
}

.web-info ul li span {
    display: block
}

.collapsed {
    width: 270px
}

#manage-tags {
    padding: 0;
    margin: 0;
    list-style: none;
}

#manage-tags li.list-item {
    font-size: 15px
}

#manage-tags li {
    display: block
}

#manage-tags .info {
    display: -webkit-box;
    display: -moz-box;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}

#manage-tags .info a:hover {
    text-decoration: underline;
}

.board {
    background: #f3f3f3;
    margin-left: -30px;
    margin-right: -30px;
}

#manage-tags .total-item {
    color: #ff3333;
    font-weight: bold;
}

.collaborate .row {
    margin-bottom: 5px;
}

.collaborate img {
    width: 100%;
}

.collaborate h5 {
    font-weight: 600;
    font-size: 15px
}

.tag-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-buttons li {
    display: inline-block;
    margin-left: 5px;
    padding: 8px 4px;
    color: #fff;
    background: #eee;
}

.login-page {
    padding-top: 0;
}

.login-form input[placeholder] {
    color: #6f6f6f;
}

.cover-img img {
    height: 270px;
    width: 100%;
}

.cover-info {
    border: 1px solid #CACACA;
    padding-bottom: 20px;
}

.content-entry {
    margin: 10px 0;
}

.content {
    position: relative;
    display: block;
    font-size: 15px;
}

.content iframe {
    width: 100%;
}

.content blockquote {
    font-style: italic;
    font-size: 14px;
}

.content img {
    margin: 20px auto;
    display: block;
    max-width: 80%;
    height: auto;
}

.ngdialog {
    z-index: 1000 !important;
}

.ngdialog .activity-listing,
.ngdialog .card-view {
    margin: 0;
    padding: 0;
    border: none;
}

.globe-below {

    position: fixed;
    left: 235px;
    background: #fff;
    top: 50px;
    visibility: visible !important;
    padding: 10px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
}

.popup-container .activity-listing .action-buttons {
    width: 50px;
    display: block;
    text-align: center;
}

pre {
    max-height: 300px;
}

/* people */
.cover-profile .cover-img {
    margin-left: -30px;
    margin-right: -30px;
    max-height: 270px;
    width: auto;
    position: relative;
}

.cover-profile {
    position: relative;
    margin-top: -10px;
}

.avatar {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 20%;
    left: 30px;
}

.avatar img {
    display: block;
    width: 100%;
    position: relative;
    border: 2px solid #FFF;
    height: 100%;
    overflow: hidden;
}

.basic-info {
    position: absolute;
    top: 20%;
    left: 200px;
    color: #fff;
}

.basic-info .description-profile {
    color: #fff;
}

#profile_tabs {
    margin: 10px 0;
    padding: -1px 0;
    background: #F3F3F3;
    border-bottom: 1px solid #cacaca;

}

#profile_tabs li.active {

    padding: 0;
    margin-bottom: -1px !important;

}

#profile_tabs li.active a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #cacaca;
    border-bottom-color: transparent;

}

.panel-heading {
    border: 1px solid #ccc;
    padding: 10px 5px !important;
    background: #F7F7F7 !important;
}

.panel-title {
    font-size: 0.9em !important;
}

.panel {
    padding: 0;
}

.board .panel-body {
    padding-top: 0;
    border: 1px solid #ccc;
}

.profile-panel .panel-body .item {
    padding: 8px;
    width: 32.7%;
    display: inline-block;
    border: none;
    vertical-align: top;
}

.profile-panel .panel-body .link {
    display: block;
    width: 100%;
}

.profile-panel .panel-body .link .text-left {
    margin-left: 5px;
}

.profile-panel .panel-body .item img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.profile-panel .panel-body .item.people img {
    border-radius: 50%;
}

.profile-navigation #profile_tabs {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
}

.profile-panels .panel-title {
    font-weight: 600
}

.white {
    background: #fff;
}

.profile-panels h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
}

.paste {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 1.42857143;
    color: #727272;
    font-size: 13px !important;
    white-space: nowrap;
    padding: 5px 20px;
    background: none;
    border: none;
}

.disabled {
    color: #cccccc;
}

.enabled {
    color: #333;
    font-weight: 400;
}

.card-people-header {
    display: block;
    padding: 5px;
}

.card-people-header .avatar-info img {
    width: 48px;

    height: auto;
    display: block;
}

.card-people-header .avatar-info {
    padding: 7px;
    width: 60px;

    float: left;
    display: inline-block;
    position: relative;
}

.card-people-header .avatar-info .first-image {
    position: absolute;
    z-index: 0;
    left: 1px;
}

.card-people-header .avatar-info .second-image {
    position: absolute;
    z-index: 5;
    left: 6px;
}

.card-people-header .avatar-info .third-image {
    position: absolute;
    z-index: 10;
    left: 11px;
}

.card-people-header .action-info .people-object {
    font-weight: bold;
}

.card-people-header .action-info {

    width: 150px;
    vertical-align: middle;
    padding: 7px 0;
    margin-left: 4px;
    display: inline-block;

}

.card-people-header .date-info {
    width: 32px;
    float: right;
    font-size: 11px;
    padding: 7px 0;
    display: inline-block;

}

.card-people-header:after,
.card-people-header:before {
    display: table;
    content: " ";
    clear: both;

}

.btn-middle {
    margin-left: 10px;
    font-size: 17px;
    text-align: center;
    background: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
}

.btn-middle:hover {
    background: #d43f3a;
    color: #fff;
    border: 1px solid #d43f3a;
}

.panel-box {
    display: none;
}

.panel-uncollapsed {
    display: block !important;
}

.collapse-button {
    background: none;
    outline: none;
    border: none;
}

/* PEOPLE */
.card-people-header .avatar-info img {
    border: 2px solid rgba(191, 189, 189, 0.18);
}

.people-left-sidebar .thumb {
    width: 20px;
    height: 20px;
    -moz-transition: -moz-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
}

.people-left-sidebar .people-thumb-container:hover .thumb {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    position: absolute;
    z-index: 10;
}

.people-left-sidebar .people-thumb-container {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.sidebar-menu.fixed.collapsed header {
    position: fixed;
    width: inherit;
}

.sidebar-menu .people-left-sidebar ul#sub-menu li a {
    padding-left: 20px;
}

.sidebar-menu .people-left-sidebar #sub-menu a {
    padding: 5px;
    border-bottom: none;
}

.people-left-sidebar .people-title {
    display: inline-block;
    top: 0;
    bottom: 0;
    line-height: 20px;
    vertical-align: top;
    z-index: 6;
}

.people-left-sidebar .ribbon-notification {
    position: absolute;
    background: #ff3333;
    color: #fff;
    padding: 4px;
    width: 25px;
    vertical-align: top;
    height: 23px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    right: 0;
    top: 10px;
}

/* POPUP */
.dropdown-popup {
    width: 100%;
    top: 92% !important;
    display: none;
}

/* FEEDS */
.btn-add {
    width: 85%;
    background: transparent;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 3px;
    border: 1px solid #949494;
    margin: 10px 20px;
}

.btn-add:hover {
    background: #949494;
    color: #fff;
}

.btn-add:focus {
    color: #fff;
}

#add_feed {
    background: #fff;
    margin-left: -30px;
    margin-right: -30px;
    border-top: 1px #ccc solid;
    padding: 10px 0;
}

#add_feed .search-field {
    width: 100%;
}

#add_feed .form-search {
    position: relative;
}

#add_feed .btn-search {
    position: absolute;
    right: 0;
    top: 5px;
    background: transparent;
    border: 0;
    outline: none;
}

#add_feed #card-topic {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#add_feed #card-topic img {
    width: 100%;
    height: auto;
}

#add_feed #card-topic ul.topic-listing {
    padding: 0;
    height: 45px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    width: 100%;
}

#add_feed #card-topic ul.topic-listing.expanded {
    height: 100% !important;
}

#add_feed #card-topic li:hover {
    border: 1px solid #fe3333;
    background: #fe3333;
}

#add_feed #card-topic li:hover .topic-title {
    color: #fff;
}

#add_feed #card-topic li {
    padding: 2px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

#add_feed #card-topic li .topic-title {
    font-size: 14px;
    padding: 6px;
    width: 100%;
    display: block;
    /* background: #fff; */
    font-weight: 500;
    text-align: center;
}

#add_feed #card-topic li.selected .topic-title {
    color: #fff;
}

#manage-feeds {
    background: #fff;
    margin-left: -30px;
    margin-right: -30px;
    border-top: 1px #ccc solid;
    padding: 10px 0;
}

#manage-feeds .category-block {
    width: 270px;
    display: inline-block;
    margin: 20px;
    position: relative;

    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(202, 202, 202, 0.62);
    vertical-align: top;
    min-height: 222px;
    padding-bottom: 8px;
}

#manage-feeds span {
    cursor: pointer;
}

#manage-feeds #expand-button {
    padding-left: 7px;
    font-size: 13px;
    color: #979898;
}

#manage-feeds .expand-block {
    height: 100% !important;
}

#manage-feeds .category-block > ul {
    padding: 0;
    min-height: 222px;
    height: 222px;
    overflow: hidden;
    list-style: none;
    margin: 0 0 7px;
}

#manage-feeds .category-block li {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 5px 7px;

}

#manage-feeds .category-block .block-header {
    padding: 7px;
}

#manage-feeds .category-block .block-header .block-title {
    font-weight: 500;
}

#manage-feeds .category-block:hover {
    border: 1px solid #797979;
}

#manage-feeds .category-block li .item-text {
    margin-left: 4px;
}

#manage-feeds .category-block.non-content {
    border: 1px dashed rgba(202, 202, 202, 0.62);;
}

#manage-feeds .category-block li:hover {
    background: rgba(202, 202, 202, 0.16);
}

#manage-feeds .item-action {
    position: absolute;
    right: 7px;
    display: none;
    top: 0;
}

#manage-feeds .category-block li:hover .item-action {
    display: block;
}

#manage-feeds .btn-group-action {
    position: absolute;
    top: 16px;
    right: 5px;
}

#manage-feeds .btn-group-action button {
    display: inline-block;
}

.empty-block {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

.btn-trans:active {
    box-shadow: none;
    outline: none;
}

.btn-trans {
    background: none;
    border: none;
    padding: 3px;
    outline: none;
}

.dndPlaceholder {
    background: rgba(202, 202, 202, 0.16);
    height: 28px;
}

.dndDragover {
    background: rgba(192, 181, 194, 0.18) !important;

}

.dndDragover:visited,
.dndDragover:focus,
.dndDragover:hover,
.dndDragover:active {
    cursor: all-scroll;

}

.add-interests-popup {
    background: #fff;
    min-width: 900px;
    position: absolute;
    padding: 25px 0;
    top: 10px;
    left: 259px;
}

.add-interests-popup .title {
    font-size: 32px;
}

.card-avatar {
    padding: 10px;
    width: 78%;
    margin: 0 auto;
}

.breadcrumb > li + li:before {
    content: "\203A";
}

.login-inner {
    width: 600px;
    margin: 100px auto 0;
    display: block;
    color: #fff;
    position: relative;
}

.login-inner p,
.login-inner a {
    color: #fff
}

.main-content-view {
    display: block;
}

.main-content-view > p.description,
.main-content h1.title {
    text-align: center;
    margin: 5px;
    padding: 0;
}

/*noinspection CssUnknownTarget*/
.login-page .main-content {
    background: url('/media/avatar/default/background-login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: table;
    height: 100%;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

}

.login-inner .btn-signup {
    background: #ff3333;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.login-inner .btn-signin {
    background: transparent;
    width: 100%;
    font-size: 18px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
}

.login-inner .btn-signin:hover,
.login-inner .btn-signup:hover {
    color: #fff;
}

.container .login-header {
    padding: 20px 0;

    clear: both;
}

.container .login-header span {
    color: #fff;
}

.container .login-header .btn-login {
    margin-left: 10px;
    background: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

.bottom .container {
    color: #fff;
}

.bottom .container ul {
    list-style: none;

}

.bottom .container ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.bottom .container ul li a {
    color: #fff;
}

.welcome-board {
    width: 800px;
    margin: 20px auto;
    display: block;
    text-align: center;
    color: #fff;
}

.welcome-board h1 {
    font-size: 50px !important;
}

.web-card {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.card-info-layer {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.26);
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto 0;
}

.card-info-layer img {
    width: 80px;
    min-height: 80px !important;
    max-height: 50px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.52);
    display: block;
    margin: 20% auto 0;
    /* -webkit-box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.75); */
    -moz-box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.75);
    /* box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.75); */
}

#folder .card-info-layer h4 {
    font-size: 23px !important;
}

#folder .card-info-layer h4,
#interest-card .card-info-layer h4 {
    width: 190px;
    font-size: 22px;
    text-align: center;
    min-height: 50px !important;
    max-height: 50px !important;
    margin: 32% auto 0;
    display: block;
}

.card-item-image h4 {
    text-align: center;
    color: #fff;
}

.card-item-image h4 a {
    text-align: center;
    color: #fff;
}

.add-link .dropdown-popup li {
    padding: 5px;
    list-style: none;
}

.add-link .dropdown-popup .has-sub-popup ul {
    display: none;
}

.add-link .dropdown-popup .has-sub-popup .down:hover ul {
    display: block;
}

.item-action .popover.top {
    width: 100%;
    position: absolute;
}

.board .card-view {
    border-top: none;
    margin: 0 !important;
}

.tabs-content .tab-content {
    padding: 10px !important
}

.tabs-content .active a {
    background: #fff !important;
}

.xenon-loading-bar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgb(216, 216, 216);
    height: 3px;
    z-index: 10000;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100);
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}

.xenon-loading-bar span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #ff3333;
}

.xenon-loading-bar.progress-is-hidden {
    top: -3px;
    zoom: 1;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    -ms-filter: alpha(Opacity=50);
    filter: alpha(opacity=50);
    visibility: hidden
}

.sub-menu-add-link {
    display: none;
    padding-left: 10px;
}

.sub-menu-add-link.expand {
    display: block !important;
}

.select-folder-addlink li > span > span:first-child {
    display: inline;
}

.select-folder-addlink li > span > span {
    width: 88%;
    display: inline-block
}

.select-folder-addlink li,
.select-folder li {
    list-style: none;
    cursor: default;
}

.select-folder-addlink li > span,
.select-folder-list li > span {
    width: 100%;
    display: block;
    cursor: pointer;
}

.select-folder-addlink li > span,
.select-folder li > span > span {
    width: 100%;
    padding: 10px;
    display: block;
}

.select-folder li > span {
    width: 100%;
    display: block;
    cursor: pointer;
}

.select-folder-addlink > ul > li > ul.expand > li:hover,
.select-folder-addlink > ul > li:hover,
.select-folder li:hover {
    background: #f3f3f3
}

.select-folder-addlink,
.select-folder {
    display: block;
    position: relative;
}

.select-folder-addlink > button.btn-trans,
.select-folder > button.btn-trans {
    position: absolute;
    bottom: 14px;
    right: 1px;
    border-radius: 3px;
    width: 30px;
    background: #f7f7f7;
    height: 30px;
    top: 1px;
}

.select-folder-addlink ul.dropdown-menu,
.select-folder ul.dropdown-menu {
    width: 100%;
}

.expand-menu {
    position: absolute;
    top: 10px;
    width: 15px;
    left: 0;
    cursor: pointer;
    color: #fff;
}

.expand-menu i {
    font-size: 16px
}

.sidebar-menu .main-menu a .title {
    margin-left: 10px;
}

.select-folder-list, .select-folder-list .sub-menu {
    padding-left: 1.5em;
}
.select-folder-list li:hover {
    background: none;
}
.select-folder-list li.active > span > span,
.select-folder-list li:hover > span > span {
    font-weight: bolder;
}
.select-folder-list li.folder-list-inline span {
    display: inline;
    padding: 0;
}
.select-folder-list li.folder-list-inline span > span {
    line-height: 1.6em;
}
.select-folder-list li.ban span {
    color: red;
}

/*.select-folder ul.dropdown-menu > li > span:hover{*/
/*background: rgba(255, 40, 20, 0.17);*/
/*}*/

/*.select-folder ul.dropdown-menu li ul li > span:hover{*/
/*background: rgba(255, 40, 20, 0.17);*/

/*}*/
/*.select-folder ul.dropdown-menu > li:*/
/*.select-folder li .dropdown-icon {*/
/*width: 10px;*/
/*cursor: pointer;*/
/*}*/

.topic-listing li {
    border: 1px solid rgba(131, 131, 131, 0.35);
    margin: 5px;
}

.topic-title {
    color: rgb(131, 131, 131);
}

.hidden-sidebar {
    visibility: hidden;
}

.modal-header h3 {
    margin-top: 6px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
}

.modal-content input[readonly] {
    cursor: pointer;
}

.modal-content input[type="file"]::-ms-browse {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 10px 0;
    outline: none;
}

.popup-container .card-view,
.popup-container .activity-listing {
    min-height: 0;
}

.popup-container .time {
    font-style: italic;
    color: #A9A2A2;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa-arrow-down,
.fa-arrow-up {
    cursor: pointer;
}

i.wrong-password,
i.wrong-username {
    position: absolute;
    top: 30%;
    right: 5px;
    color: #ff3333;
}

input.wrong-password,
input.wrong-username {
    border: 1px solid #ff3333;
}

.alert-invalid {
    position: absolute;
    top: -45px;
    color: #ff3333;
    width: 120%;
    left: 57%;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #FECDC7;
    -moz-box-shadow: 0 0 3px #777777;
    -webkit-box-shadow: 0 0 3px #777777;
    box-shadow: 0 0 3px #777777;
}

.alert-invalid:before, .alert-invalid:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-bottom-width: 0;
}

.alert-invalid:before {
    bottom: -16px;
    left: 27.7%;
    /* If 1px darken stroke slightly */
    border-top-color: #FECDC7;
    border-width: 16px;
}

.alert-invalid:after {
    bottom: -15px;
    left: 28%;
    border-top-color: #FECDC7;
    border-width: 15px;
}

.reset-password-form {
    background: #fff;
    z-index: 300;
    padding: 10px 15px;
    color: #444;
    left: -120px;
    width: 320px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: -200px;
}

.reset-password-form p {
    padding: 4px 0;
    font-style: italic;
}

.reset-password-form .btn-action {
    font-size: 14px;
    width: 100%;
}

.reset-password-form:before, .reset-password-form:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-bottom-width: 0;
}

.reset-password-form:before {
    bottom: -16px;
    left: 43.7%;

    /* If 1px darken stroke slightly */
    border-top-color: #fff;
    border-width: 16px;
}

.reset-password-form:after {
    bottom: -15px;
    left: 44%;
    border-top-color: #fff;
    border-width: 15px;
}

.over-layer {
    background: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 200;
    position: absolute;
}

#add-feed-header {
    display: table;
    width: 100%;
}

#expand-topic {
    position: absolute;
    top: 10px;
    right: 30px;
}

#expand-topic.expanded {
    position: relative;
    top: auto;
    right: auto;
}

#card-feed {
    padding-top: 10px;
}

.navigation-next-post {
    height: 196px;
    width: 45px;
    display: block;
    position: fixed;
    background: url('../images/slide-arrow-right.png') no-repeat right top;
    top: 50%;
    right: 325px;
    background-size: 24%;
    cursor: pointer;
}

.navigation-prev-post {
    height: 200px;
    width: 48px;
    cursor: pointer;
    display: block;
    position: fixed;
    background: url('../images/slide-arrow-left.png') no-repeat left top;
    top: 50%;
    left: 240px;
    background-size: 24%;
}

.owl-carousel {
    display: block !important;
}

.owl-next {
    position: absolute;
    right: -60px;
    height: 200px;
    top: 100px;
    width: 48px;
    cursor: pointer;
    display: block;
    background: url('../images/slide-arrow-related-next.png') no-repeat left top;
    background-size: 38%;
}

.owl-prev {
    position: absolute;
    left: -36px;
    height: 200px;
    top: 100px;
    width: 48px;
    cursor: pointer;
    display: block;
    background: url('../images/slide-arrow-related-prev.png') no-repeat left top;
    background-size: 38%;
}

/* TOUR TIP */
.over-lay {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 200;
    right: 0;
    height: 100%;
}

.tool-tip-tour {
    background: #fff;
    position: absolute;
    z-index: 280;
    padding: 10px;
    width: 350px;
}

.step1 {
    top: -170px;
    left: 150px;
}

.step2 {
    top: -170px;
    left: 150px;
}

.add-feed-guideline {
    z-index: 400;
    position: relative;
    background: #fff;
}

.left-sidebar-guideline {

}

.step3 {
    top: 200px;
    left: 20px;
}

.voted {
    color: #ff3333 !important;
}

.voted-c {
    background: #ff3333 !important;
    color: #fff !important;
}

.comment-reply-button {
    position: absolute;
    top: 12px;
    right: 22px;
    color: #fff;
    background: rgba(254, 51, 51, 0.75);
    font-size: 12px;
    border-radius: 3px;
    padding: 3px 6px;
}

textarea {
    resize: none;
}

#card-topic li.selected {
    background: #ff3333;
    border: 1px solid #ff3333;
}

.subscribed {
    color: #fff;
    background: #fe3333 !important;
}

.pagination-sm {
    display: table;
    margin: 18px auto;
}

.people-listing {
    height: 280px;
    overflow-y: auto;
    padding: 0;
    margin: -18px -10px;
}

.people-listing li {
    padding: 9px 9px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ECE9E9;
}

.people-listing li .avatar-item {
    position: relative;
    width: 50px;
}

.people-listing li img {
    width: 100%;
}

.people-listing li span {
    display: block;
}

.people-listing li .people-name {
    line-height: 47px;
    display: inline-block;
}

.people-listing li .people-name a {
    font-size: 18px;
    margin-left: 7px;
}

/* SEARCH */

.search-area {
    display: inline-block;
}

.search-area .select-area,
.search-area .search-box {

}

/* Profile SETTING */

.profile-setting-container {
    width: 580px;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}

.social-account {
    margin-bottom: 5px;
}

.social-account img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-right: 10px;
}

.kara-panel {
    display: block;
    background: #fff;
    position: relative;
    border: 1px solid #D8D8D8;
    padding: 0 10px;
    margin-bottom: 20px;
}

.kara-panel-header {
    border-bottom: 1px solid #D8D8D8;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px;
}

.kara-panel-body {
    position: relative;
    display: block;
    padding: 20px 0;
}

.kara-panel-footer {

}

.onoffswitch {
    position: relative;
    width: 73px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #DBDBDB;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 27px;
    padding: 0;
    line-height: 27px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FE3333;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFFFF;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 14px;
    margin: 6.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 42px;
    border: 2px solid #DBDBDB;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.file-upload,
.avatar-upload {
    display: inline-block;
    position: relative;
    overflow: hidden; /*for looks only*/
    background: #FFF;
    padding: 5px;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    margin-top: 24%;
    outline: none;
}

.file-upload-button:focus,
.avatar-upload-button:focus {
    outline: none
}

/*for looks only*/
.file-upload-button,
.avatar-upload-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 9999%;
    margin-left: -9899%;
    outline: none;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5; /* Good browsers */
}

.avatar-upload-button:focus {
    outline: none
}

.avatar-upload-button:hover {
    cursor: pointer
}

/*noinspection CssUnknownTarget*/
.share-facebook {
    background: url('../images/32-facebook.png') no-repeat;
    width: 50px;
    height: 50px;
    display: block;
}

#avatar-profile img {
    width: 150px;
    max-width: none;
    height: auto;
}

.btn-set-avatar {
    margin-top: -7%;
    border: none;
    display: none;
}

#avatar-profile {
    border-radius: 50%;
    width: 150px;
    padding-left: 0;
    margin-left: 15px;
    height: 150px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
}

.search-bar {
    display: block;
    padding: 18px 20px;
    width: 340px;
}

.search-keyword {
    display: inline;
    padding-left: 40px;
}

.search-bar .btn-search {
    display: block;
    position: absolute;
    top: 22px;
    left: 25px;
    color: #606161;
}

.btn-select-search {
    display: block;
    position: absolute;
    top: 23px;
    right: 25px;
}

.search-select {
    display: none;
    padding: 14px 10px 10px 16px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.10);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.10);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.10);
    font-size: 13px;
    z-index: 400;
}

.search-select p {
    font-size: 13px;
    padding: 3px 0;
}

.search-select ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-select ul > li {
    list-style: none;
    margin-right: 10px;

    display: inline-block;
}

#search_result .search-block {
    margin-bottom: 20px;
}

#search_result .tabs-search {
}

#search_result .tabs-search > ul {
    margin-left: -30px;
    margin-right: -30px;
    background: #fff;
    padding: 0 20px;
}

#search_result .tabs-search > ul > li {
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px;
    text-align: center;
}

#search_result .tabs-search > ul > li.active {
    border-bottom: 1px solid #fe3333
}

#search_result .activity-listing {
    min-height: 0 !important;
}

#search_result .search-block {
    position: relative;
}

#search_result .see-more {
    position: absolute;
    top: 0;
    right: 0;

}

#search_result .no-result {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

.context-menu {
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(243, 235, 235);
}

footer.main-footer {
    clear: both;
}

.feed-null {
    color: #fff;
}

.cover-img:hover .btn-change-cover {
    display: block;
}

.btn-change-cover {
    display: none;
    position: absolute;
    top: 5px;
    right: 20px;
    color: #fff;
}

.cropping-canvas {
    cursor: all-scroll;
}

.change-cover-image {
    display: none;
}

.cssload-container * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-container {
    margin: 15% auto;
    max-width: 149px;
}

.btn.raised {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.btn.raised:active {
    box-shadow: 0 1px 1px #063e6b;
}

span {
    font-weight: 400;
}

input[type="checkbox"].toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
}

input[type="checkbox"].toggle:focus {
    outline: 0;
}

.anim {
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}

.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.clickable .toggle:checked + .anim {
    -moz-animation: anim-in 0.75s;
    -webkit-animation: anim-in 0.75s;
    animation: anim-in 0.75s;
}

.clickable .toggle:checked + .anim:after {
    -moz-animation: anim-in-pseudo 0.75s;
    -webkit-animation: anim-in-pseudo 0.75s;
    animation: anim-in-pseudo 0.75s;
}

.clickable .toggle:not(:checked) + .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.clickable .toggle:not(:checked) + .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}

.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes anim-in {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes anim-in {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes anim-in {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-ms-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-webkit-keyframes anim-out {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes anim-out {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes anim-out {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes anim-out {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@-ms-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

.item_per_page {
    min-width: 125px;
    text-align: left;
    cursor: pointer;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }

}

#myDebug {
    z-index: 1000000;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
    resize: both;
    top: 0;
    left: 0;
    color: #fff;
    max-width: 270px;
    max-height: 100%;
    min-width: 270px;
    min-height: 30px;
}

#myDebug.hover {
    background: #2c2e2f;
    color: #fff;
    max-width: 80%;
}

#myDebug pre,
#myDebug .panel,
#myDebug .panel-body,
#myDebug .panel-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: transparent !important;
    color: #fff;
    border-color: transparent;
}

#myDebug.hover .panel-body,
#myDebug.hover pre,
#myDebug.hover .panel-heading {
    background: #2c2e2f;
    color: #fff;
    border-color: #ccc;
}

.user-info-navbar .anonymous-menu {
    margin-right: 20px;
}

.user-info-navbar .anonymous-menu li a.btn {
    color: #fff;
    margin: 10px 0;
    font-size: inherit;
    padding: 14px 30px;
}

.sidebar-menu .welcome-board {
    width: auto;
}

.sidebar-menu .login-inner {
    width: auto;
    margin: 0;
}

.login-inner .external-login {
    position: relative;
}

.login-inner .external-login a {
    display: block;
    color: #fff;
    background: #2c2e2f;
    padding: 13px 20px;
    font-size: 15px;
    margin-bottom: 10px
}

.login-inner .external-login a i {
    margin-right: 5px
}

.login-inner .external-login a:hover {
    background: #454849
}

.login-inner .external-login a.facebook {
    background-color: #3b5998
}

.login-inner .external-login a.facebook:hover {
    background-color: #2d4373
}

.login-inner .external-login a.twitter {
    background-color: #55acee
}

.login-inner .external-login a.twitter:hover {
    background-color: #2795e9
}

.login-inner .external-login a.gplus {
    background-color: #dd4b39
}

.login-inner .external-login a.gplus:hover {
    background-color: #c23321
}

.is-loading {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out
}

.is-loading a {
    pointer-events: none;
    cursor: default;
}


