<ol class="breadcrumb" xe-breadcrumb>
    <li ng-class="{active: globals.current.breadcrumbs.length <= 0,}">
        <a href="javascript:void(0)"
           ui-sref="{$ $state.current.data.state_root $}.view({viewType:globals.settings.viewType, pk:'None'})">
            <i class="fa-home"></i>
            All
        </a>
    </li>
    <li ng-class="{active: $last}"
        ng-show="$last||$first||globals.settings.showFullBreadcrumb"
        ng-repeat="item in globals.current.breadcrumbs | reverse">
        <a ng-show="$last||globals.settings.showFullBreadcrumb"
           ui-sref="{$ $state.current.data.state_root $}.view({viewType:globals.settings.viewType, pk:'{$ item.id $}'})">
            {$ item.name $}
        </a>
        <a ng-show="$first&&!$last&&!globals.settings.showFullBreadcrumb"
           ng-click="globals.settings.showFullBreadcrumb=true;"
           href="javascript:void(0);">
            {$ '...' $}
        </a>
    </li>
</ol>
