<ul class="dropdown-menu" role="menu" aria-labelledby="button_select">
    <li role="presentation">
        <a href="javascript:void(0);"
           ng-click="resetSelection();"
           ng-if="false"
           ng-show="!globals.selection.hand_select">
            Hand Select
        </a>
        <a href="javascript:void(0);"
           ng-click="resetSelection();"
           ng-hide="!globals.selection.hand_select">
            Hide Select
        </a>
    </li>
    <li role="presentation" ng-show="globals.selection.hand_select">
        <a href="javascript:void(0);" ng-click="selectAll();">Select All</a>
    </li>
    <li role="presentation" ng-show="globals.selection.hand_select">
        <a href="javascript:void(0);" ng-click="selectNone();">Select None</a>
    </li>
    <li role="presentation" ng-show="globals.selection.hand_select">
        <a href="javascript:void(0);" ng-click="selectStarred();">Starred</a>
    </li>
</ul>
