<div class="buttons dropdown btn-group-action-select btn-group-view"
     ng-if="!$state.includes('feeds.manage') && !$state.includes('interests.manage') &&!$state.includes('manage.tags.other.**')">
    <div class="button-select">
        <button id="button_select" class="btn"
                ng-click="!globals.selection.hand_select ? resetSelection() : continue"
                ng-class="{selected: globals.selection.select_starred, hidden: globals.settings.viewType=='card'}"
                data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            <i class="fa fa-lg"
               ng-class="{ 'fa-square-o':
                        (globals.selection.select_starred ? globals.selection.select_all : !globals.selection.select_all),
                            'fa-check-square-o': globals.selection.select_all,
                            'fa-star': globals.selection.select_starred }"></i>
        </button>
        {% include "layout/header/select-choose.html" %}
    </div>
    <div class="button-select">
        <button class="btn" data-toggle="dropdown" aria-haspopup="true" role="button" id="btn_gear"
                ng-show="globals.selection.hand_select">
            <i class="fa fa-gear"></i>
        </button>
        {% include "layout/tools/select-tools.html" %}
    </div>
</div>
