<span class="input-group-btn" dropdown="">
    <button type="button" class="btn btn-sort " data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Sort by : Default <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu no-spacing">
        <li class="ms-hover">
            <a href="javascript:void(0);" ng-click="globals.settings.sortType = 'name'">
                Name
            </a>
        </li>
        <li class="ms-hover">
            <a href="javascript:void(0);" ng-click="globals.settings.sortType = 'description'">
                Description
            </a>
        </li>
    </ul>
    <button type="button" class="btn btn-default btn-reverse" ng-click="globals.settings.sortReverse=!globals.settings.sortReverse;">
        <i class="fa " ng-class="{'fa-arrow-up': !globals.settings.sortReverse, 'fa-arrow-down': globals.settings.sortReverse}"></i>
    </button>
</span>
