﻿<div class="controls-bar pull-left">
    {% block cb-views %}
    {% endblock %}

    {% block cb-extra %}
    {% endblock %}
</div>
<div class="controls-bar pull-right">
    {% block cb-refresh %}
        <div class="buttons">
            <button ng-click="reloadPage();">
                <i class="fa fa-repeat fa-lg"></i>
            </button>
        </div>
    {% endblock %}

    {% block cb-choose %}
        <div class="buttons dropdown">
            <a href="javascript:void(0);" id="button_select"
               class="button" ng-class="{selected: globals.selection.select_starred}"
               data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <i class="fa fa-lg"
                   ng-class="{ 'fa-square-o':
                        (globals.selection.select_starred ? globals.selection.select_all : !globals.selection.select_all),
                            'fa-check-square-o': globals.selection.select_all,
                            'fa-star': globals.selection.select_starred }"></i>
            </a>
            <button id="button_select"
                    ng-class="{selected: globals.selection.select_starred}"
                    data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <i class="fa fa-lg"
                   ng-class="{ 'fa-square-o':
                        (globals.selection.select_starred ? globals.selection.select_all : !globals.selection.select_all),
                            'fa-check-square-o': globals.selection.select_all,
                            'fa-star': globals.selection.select_starred }"></i>
            </button>
            {% include "layout/header/select-choose.html" %}
        </div>
    {% endblock %}

    {% block cb-sort %}
        <div class="buttons dropdown">
            <span class="left">Sort by:</span>
            <select class="demo-default left select" placeholder="Default Sorting" ng-model="globals.settings.sortType"
                    ng-init="globals.settings.sortType = 'name'">
                <option value="name">Title</option>
                {#<option value="time">Time</option>#}
                {#<option value="url">Source</option>#}
                {#<option value="like">Like</option>#}
            </select>
            <button class="left" id="button_sort" ng-click="globals.settings.sortReverse=!globals.settings.sortReverse;">
                <i class="fa" ng-class="{'fa-arrow-up': !globals.settings.sortReverse, 'fa-arrow-down': globals.settings.sortReverse}"></i>
            </button>
        </div>
    {% endblock %}
</div>