<h1 class="title ng-binding">{$ globals.current.info.name || $state.current.data.title $}</h1>

<p class="description ng-binding">{$ globals.current.paginator.unit || '0 unread link' $}</p>

<div class="row">
    <div class="col-md-5">
        {% include "layout/header/breadcrumb.html" %}
    </div>
    <div class="right-options pull-right" ng-class="{'right-options-manage':true}">
        <div class="inner-sort">
            {% include "layout/header/sortby.html" %}
        </div>
        <div class="inner-select-reload">
            {% include "layout/header/select.html" %}
            <div class="buttons dropdown btn-group-view">
                <button type="button" class="btn btn-reload"
                        ng-click="reloadPage();">
                    <i class="fa fa-repeat"></i>
                </button>
            </div>
        </div>
    </div>
</div>