<div class="select-view btn-group-view ">
    <a class="btn" id="button_select"
       ng-click="changeStateParamsView('list');"
       ng-class="{ selected: $state.includes($state.current.data.state_root+'.view', {viewType:'list'}) }">
        <i class="fa fa-list"></i>
    </a>
    <a class="btn" id="btn_gear"
       ng-click="changeStateParamsView('card');"
       ng-class="{ selected: $state.includes($state.current.data.state_root+'.view', {viewType:'card'}) }">
        <i class="fa fa-th-large"></i>
    </a>
</div>
