<ul class="dropdown-menu custom-menu" role="menu">
    <li ng-repeat="tool in globals.tools.select" ng-if="$eval(tool.expr)"
        ng-class="{disabled: $eval(tool.dis_expr)}">
        <a href="javascript:void(0);" ng-click="callSelectTool(tool.func, item)">
            {$tool.name$}
        </a>
    </li>
</ul>
