<ul class="dropdown-menu manage-tag-menu" role="menu">
    <li ng-repeat="tool in item.tools">
        <a href="javascript:void(0);" ng-click="callTool(tool.func, item)">
            {$tool.name$}
        </a>
    </li>
</ul>
