<div id="myDebug" ng-class="{hover: globals.myDebugHover}">
    <div class="col-md-12">
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="globals.myDebug">
            {$ globals.version $}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="globals.myDebugHover">
            hover
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="globals.is_need_login">
            is_need_login
        </label>
        <h5 ng-if="globals.myDebug">{$ clock | date:'dd-MM-yyyy HH:mm:ss Z' $}</h5>
    </div>

    <div class="col-md-12" ng-if="globals.myDebug">
        <pre>$stateParams =         {$ $stateParams | json : spacing $}</pre>
        <pre>$state.current:        {$ $state.current | json : spacing $}</pre>
        <pre>is_authenticated:      {$ globals.is_authenticated $}</pre>
        <pre>is_anonymous:          {$ globals.is_anonymous $}</pre>
        <pre>Settings:              {$ globals.settings | json : spacing $}</pre>
    </div>

    <div class="col-md-12" ng-if="globals.myDebug">
        <accordion>
            <accordion-group heading="Menus:">
                <pre>top_menu:      {$ top_menu | json : spacing $}</pre>
                <pre>lsb_menu:      {$ lsb_menu | json : spacing $}</pre>
            </accordion-group>
            <accordion-group heading="layoutOptions:">
                <pre>layoutOptions: {$ layoutOptions | json : spacing $}</pre>
            </accordion-group>
            <accordion-group heading="Globals:">
                <pre>globals:       {$ globals | json : spacing $}</pre>
            </accordion-group>

            <accordion-group heading="Globals.User:">
                <pre>               {$ globals.user | json : spacing $}</pre>
            </accordion-group>
            <accordion-group heading="Globals.Selection:">
                <pre>               {$ globals.selection | json : spacing $}</pre>
            </accordion-group>
            <accordion-group heading="Globals.Interactive:">
                <pre>Item:          {$ globals.interactive.item | json : spacing $}</pre>
                <pre>Object:        {$ globals.interactive | json : spacing $}</pre>
                <pre>               {$ globals.interactive | json : spacing $}</pre>
            </accordion-group>
            <accordion-group heading="Globals.Current:">
                <pre>Info:          {$ globals.current.info | json : spacing $}</pre>
                <pre>Paginator:     {$ globals.current.paginator | json : spacing $}</pre>
                <pre>               {$ globals.current | json : spacing $}</pre>
            </accordion-group>
            <accordion-group heading="Globals.PopupCurrent:">
                <pre>               {$ globals.popupCurrent | json : spacing $}</pre>
            </accordion-group>

            <accordion-group heading="Load:">
                <pre>is_loading:    {$ globals.is_loading | json : spacing $}</pre>
                <pre>error:         {$ globals.error | json : spacing $}</pre>
                <input type="url" ng-model="load_url">
                <button type="button" class="btn" ng-click="winOpen(load_url)">op</button>
            </accordion-group>
        </accordion>
    </div>
</div>
