<div class="col-md-12 demo" ng-controller="testController">
    <script type="text/ng-template" id="man.html">
        <div class="item">
            {$ item.type + ' ' + item.name $}
            <input type="text" ng-model="item.name" class="form-control input-sm">
            <button ng-click="item.type='woman'">Woman</button>
            <button ng-click="item.type='unknown'">Unknown</button>
            <pre>{$ item | json : spacing $}</pre>
        </div>
    </script>

    <script type="text/ng-template" id="woman.html">
        <div class="item">
            {$ item.type + ' ' + item.name $}
            <input type="text" ng-model="item.name" class="form-control input-sm">
            <button ng-click="item.type='man'">Man</button>
            <button ng-click="item.type='unknown'">Unknown</button>
            <pre>{$ item | json : spacing $}</pre>
        </div>
    </script>

    <script type="text/ng-template" id="unknown.html">
        <button>DRAG</button>
        <div class="item" dnd-nodrag>
            {$ item.type + ' ' + item.name $}
            <input type="text" ng-model="item.name" class="form-control input-sm">
            <button ng-click="item.type='man'">Man</button>
            <button ng-click="item.type='woman'">Woman</button>
            <pre>{$ item | json : spacing $}</pre>
        </div>
    </script>

    <script type="text/ng-template" id="group.html">
        <div class="container-element box box-blue" ng-init="items = item.lists">
            <h3>{$ item.type + ' ' + item.name $}</h3>
            <input type="text" ng-model="item.name" class="form-control input-sm">
            {#<div ng-repeat="list in item.lists" ng-include="'list.html'"></div>#}
            <ul dnd-list="items"
                    {#dnd-allowed-types="item.allowedTypes"#}
                dnd-horizontal-list="true"
                dnd-external-sources="true"
                dnd-dragover="dragOver(event, index, type, external)"
                dnd-drop="dropOver(event, index, item, type, external)"
                dnd-inserted="inserted(event, index, item, type)"
                class="itemlist">
                <li ng-repeat="item in items"
                    dnd-draggable="item"
                    dnd-type="item.type"
                    dnd-effect-allowed="copyMove"
                    dnd-dragstart="dragStart(item)"
                    dnd-moved="dragMoved(items, $index)"
                    dnd-copied="dragCopied(item)"
                    dnd-canceled="dragCanceled(item)"
                    dnd-dragend="dragEnd(item)"
                    ng-include="item.type + '.html'">
                    {$ item.name $}
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </script>

    <script type="text/ng-template" id="list.html">
        <ul dnd-list="list"
            dnd-allowed-types="zone.allowedTypes"
                {#dnd-disable-if="list.length >= zone.max"#}
            dnd-external-sources="true"
            dnd-dragover="dragOver(event, index, type, external)"
            dnd-drop="dropOver(event, index, item, type, external)"
            dnd-inserted="inserted(event, index, item, type)"
            class="itemlist">
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-type="item.type"
                dnd-disable-if="item.type == zone.disableType"
                dnd-effect-allowed="copyMove"
                dnd-dragstart="dragStart(item)"
                dnd-selected="dragSelected(item)"
                dnd-moved="dragMoved(list, $index)"
                dnd-canceled="dragCanceled(item)"
                dnd-dragend="dragEnd(item)"
                ng-class="{selected: models.selected === item}"
                ng-include="item.type + '.html'">
            </li>
            <li class="dndPlaceholder">
                Drop any <strong>{$ zone.allowedTypes.join(' or ')$}</strong> here
            </li>
        </ul>
    </script>

    <div class="col-md-10">
        <div ng-repeat="zone in models.zones" class="col-md-6">
            <div class="dropzone box">
                <h3>{$ zone.name + '(' + zone.lists.length + '/' + zone.max + ')' $}</h3>
                <input type="text" ng-model="zone.name"
                       class="form-control input-sm" placeholder="name">
                <input type="text" ng-model="zone.max"
                       class="form-control input-sm" placeholder="max">
                {$ zone.allowedTypes $}<br/>
                <button ng-click="toggleType(zone.allowedTypes, 'man')">{$$}Man</button>
                <button ng-click="toggleType(zone.allowedTypes, 'woman')">Woman</button>
                <button ng-click="toggleType(zone.allowedTypes, 'unknown')">Unknown</button>
                <button ng-click="toggleType(zone.allowedTypes, 'group')">Group</button>
                <br/>
                {$ zone.disableTypes $}<br/>
                <button ng-click="zone.disableTypes = 'man'">Man</button>
                <button ng-click="zone.disableTypes = 'woman'">Woman</button>
                <button ng-click="zone.disableTypes = 'unknown'">Unknown</button>
                <button ng-click="zone.disableTypes = 'group'">Group</button>

                <div ng-init="list = zone.lists" ng-include="'list.html'"></div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-type="item.type"
                    dnd-effect-allowed="copy"
                    dnd-dragstart="dragStart(item)"
                    dnd-selected="dragSelected(item)"
                    dnd-copied="dragCopied(item)"
                    dnd-canceled="dragCanceled(item)"
                    dnd-dragend="dragEnd(item)">
                    <button type="button" class="btn btn-default btn-lg" disabled="disabled">{$ item.type $}</button>
                </li>
            </ul>
        </div>

        <div class="box box-grey box-padding">
            <h3>Selected</h3>
            <strong>Type: </strong> {$ models.selected.type $}<br>
            <input type="text" ng-model="models.selected.name" class="form-control" style="margin-top: 5px"/>
            <pre>{$ models.selected | json : spacing $}</pre>
        </div>

        <div class="trashcan box box-grey box-padding">
            <h3>Unova</h3>
            <ul dnd-list="[]">
                <li>
                    <img alt=""
                         ng-src="http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/nested/trashcan.jpg"
                         err-src="http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/nested/trashcan.jpg"
                         class="">
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12">
        <h2>Generated Model</h2>
        <pre>{$ models | json : spacing $}</pre>
    </div>
</div>
