{% load staticfiles %}

<div class="popup-container animated fadeInRightBig">
    <div class="block-content-edit">
        <div class="row edit-header">
            <div class="pull-left">
                <h4><i class="fa fa-folder"></i> Discovery </h4> <span>( 28 subscriptions )</span>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0)"><i class="fa fa-angle-left"></i> Previous</a>
                <a href="javascript:void(0)">Next <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row edit-main">
            <div class="col-md-4">
                <h4>Edit Folder</h4>
            </div>
            <div class="right-options pull-right" ng-class="{'right-options-manage':$state.includes('manage')}">
                {% block controls_bar %}
                    <div class="inner-sort">
                        {% include "layout/header/sortby.html" %}
                    </div>
                    <div class="inner-select-reload">
                        {% include "layout/header/select.html" %}
                        <div class="buttons dropdown btn-group-view">
                            <button type="button" class="btn"
                                    ng-click="reloadPage();">
                                <i class="fa fa-repeat"></i>
                            </button>
                        </div>
                    </div>
                    <div class="inner-change-view">
                        {% block views %}
                            {% include "layout/header/views.html" %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="right-sidebar-edit">
        <div class="col-md-12">
            <div class="row no-margin block">
                <div class="button-group">
                    <button type="button" class="btn"><i class="fa-compass"></i></button>
                    <button type="button" class="btn"><i class="fa-plus"></i></button>
                    <button type="button" class="btn"><i class="fa fa-arrow-up"></i></button>
                    <button type="button" class="btn"><i class="fa fa-arrow-down"></i></button>
                </div>
            </div>
            <div class="row no-margin block">
                <i class="fa-behance-square"></i> Behance
                <h4 class="right-sidebar-title">Illustration for Gefest Insurance Company 2011 Annual Calendar</h4>

                <p>
                    The task was to show how the real locations and objects of our time will develop and integrate into
                    the world of future...
                    <a class="pull-right">Read more </a>
                </p>
            </div>
            <div class="row no-margin block">
                <h4 class="right-sidebar-title">Statistic</h4>
                <ul class="list-group list-group-minimal statistic">
                    <li class="list-group-item">
                        <i class="fa-comment"></i> Comment
                        <span class="pull-right">4</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fa-eye"></i> View
                        <span class="pull-right">4</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-arrow-up"></i> Vote
                        <span class="pull-right">4</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fa-share-square"></i> Share
                        <span class="pull-right">4</span>
                    </li>
                </ul>
            </div>
            <div class="row no-margin block">
                <div class="col-sm-12">
                    <div class="row">
                        <h4 class="right-sidebar-title">Subscribe <a href="javascript:void(0)" class="pull-right">See all</a></h4>
                    </div>
                    <ul class="list-group list-inline">
                        <li>
                            <img alt=""
                                 ng-src="{% static 'images/user-4.png' %}"
                                 err-src="{% static 'images/user-4.png' %}"
                                 width="43"
                                 class="img-circle img-inline userpic-32">
                        </li>
                        <li>
                            <img alt=""
                                 ng-src="{% static 'images/user-4.png' %}"
                                 err-src="{% static 'images/user-4.png' %}"
                                 width="43"
                                 class="img-circle img-inline userpic-32">
                        </li>
                        <li>
                            <img alt=""
                                 ng-src="{% static 'images/user-4.png' %}"
                                 err-src="{% static 'images/user-4.png' %}"
                                 width="43"
                                 class="img-circle img-inline userpic-32">
                        </li>
                        <li>
                            <img alt=""
                                 ng-src="{% static 'images/user-4.png' %}"
                                 err-src="{% static 'images/user-4.png' %}"
                                 width="43"
                                 class="img-circle img-inline userpic-32">
                        </li>
                    </ul>
                </div>
            </div>
            <!-- TAGS -->
            <div class="row  no-margin block">
                <h4 class="right-sidebar-title">Tags</h4>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" class="btn btn-tags">Design</a></li>
                    <li><a href="javascript:void(0)" class="btn btn-tags">Creative</a></li>
                    <li><a href="javascript:void(0)" class="btn btn-tags">Art</a></li>
                    <li><a href="javascript:void(0)" class="btn btn-tags">Angularjs</a></li>
                    <li><a href="javascript:void(0)" class="btn btn-tags">NodeJs</a></li>
                </ul>
            </div>
            <!-- SHARE -->
            <div class="row  no-margin block">
                <h4 class="right-sidebar-title">Share</h4>
                <ul class="list-inline">
                    <li><a href="javascript:void(0)" class="btn btn-tags"><i class="fa-facebook"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-tags"><i class="fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-tags"><i class="fa-pinterest"></i></a></li>
                </ul>
            </div>
            <!-- Note -->
            <div class="row no-margin block">
                <h4 class="right-sidebar-title">Note</h4>

                <p>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly
                    partiality considered on in estimating.</p>
            </div>
        </div>
    </div>
</div>
