﻿{% extends "layout/header/sortmenu.html" %}

{% block cb-views %}
    <div class="buttons button-db">
        <a href="javascript:void(0)" class="button {% if view == "listview" %}selected{% endif %}"
           ng-click="showEditFeedPopup('list')"><i class="fa fa-list fa-lg"></i></a>
        <a href="javascript:void(0)" class="button {% if view == "cardview" %}selected{% endif %}"
           ng-click="showEditFeedPopup('card')"><i class="fa fa-th-large fa-lg"></i></a>
    </div>
{% endblock %}
