{% load staticfiles %}

<div ng-if="first_time" class="over-lay"></div>

<div id="add_feed" class="row">
    <div id="add-feed-header" ng-class="{'add-feed-guideline':listTour[0].status}">
        <div ng-if="false && listTour[0].status" class="tool-tip-tour bottom-position step1">
            <h4>Add Feed</h4>

            <p>Use search field or browse topic to find your farvorite web then click subscribe on web cards to add it
                in your left sidebar</p>

            <p>Step 1 of 6 | <span>Skip all</span>
                <button class="pull-right btn btn-action" ng-click="nextStep('.step1',null)">Next</button>
            </p>
        </div>
        <div class="col-md-12">
            <h4>Search feed</h4>

            <form class=" form-search" role="form" ng-submit="get_sources_with_key()">
                <input class="form-control search-field" type="text" placeholder="{$ search_filter$}"
                       ng-model="search_input">
                <button type="submit"
                        class="btn-search">
                    <i class="fa fa-search fa-2x"></i>
                </button>
            </form>
            <div class="clear"></div>
        </div>
        <!-- RESULT -->
        <div class="topic-browsing col-md-12">
            <div id="card-topic">
                <ul class="topic-listing">
                    <li class="item"
                        ng-repeat="item in main_categoris = (globals.main_categories | filter:search_input)"
                        ng-class="{selected: item.name == search_filter }">
                        <a ng-click="get_sources_of_category(item);">
                            <span class="topic-title">#{$ item.name $}</span>
                        </a>
                    </li>
                    <li id="expand-topic" ng-if="main_categoris.length > 10" class="item"><a
                            href="javascript:void(0)"><span class="topic-title"><i class="fa fa-ellipsis-h"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="card-feed" ng-class="{'add-feed-guideline':listTour[1].status}">
        <div ng-if="first_time" class="tool-tip-tour bottom-position step2" ng-class="{'hidden':!listTour[1].status}">
            <h4>Subscribe Web</h4>

            <p>Use search field or browse topic to find your farvorite web then click subscribe on web cards to add it
                in your left sidebar</p>

            <p>Step 2 of 6 | <span>Skip all</span>
                <button class="pull-right btn btn-action" ng-click="nextStep('.step2','reload')">Next</button>
            </p>
        </div>
        <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth":true}'
             class="masonry-container">
            <div class="item" masonry-tile ng-repeat="item in sources_result | filter:search_input"
                 ng-if="!item.subscribed">
                <div class="card-item" id="web-card">
                    <div class="card-item-image">
                        <div class="dim"></div>
                        <div class="neo">
                            <span class="pull-left" id="link">
                                <i class="fa fa-globe"></i>
                            </span>
                        </div>
                        <div class="hover-image">
                            <div class="row no-margin no-padding">
                                <div class="btn-group open pull-right" dropdown="">
                                    <button class="btn btn-trans"
                                            ng-click="interactive(item, 'web')"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    {% include 'layout/include/feed-source-menu.html' %}
                                </div>
                            </div>
                            <div class="item-nav-middle">
                                <div class="item-nav-middle-inner-double">
                                    <button class="btn btn-middle" ng-click="showWebScreenPopup(item)"><i
                                            class="fa fa-globe"></i></button>
                                    <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                            popover-placement="top" popover="Subscribe"
                                            ng-click="interactive(item, 'feedsource'); showSubscribePopup(item);"><i
                                            class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <ul class="statistics list-inline" id="icon-status">
                                    <li>
                                        <i ng-click="actionLike(item,'post')" class="fa fa-fw fa-arrow-up"
                                           ng-class="{'voted': item.status.liked}"></i>
                                        {$ item.statistic.likes || 0 $}
                                    </li>
                                    <li>
                                        <i ng-click="actionDislike(item,'post')"
                                           class="fa fa-fw fa-arrow-down"
                                           ng-class="{'voted': item.status.disliked}"></i>
                                        {$ item.statistic.dislikes || 0 $}
                                    </li>
                                    <li>
                                        <i class="fa fa-fw fa-comment"></i>
                                        {$ item.statistic.comments || 0 $}
                                    </li>
                                    <li>
                                        <i class="fa fa-fw fa-eye"></i>
                                        {$ item.statistic.views || 0 $}
                                    </li>
                                    <li>
                                        <i class="fa fa-fw fa-share-square-o"></i>
                                        {$ item.statistic.shares || 0 $}
                                    </li>
                                    <li class="pull-right">
                                        <button type="button" class="collapse-button" data-toggle="panel-box"
                                                data-target="#demo"><i
                                                class="fa fa-caret-down"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="img-thumbnail no-padding img-full-width fadeIn animated">
                            <img alt=""
                                 ng-src="{$ globals.cdn + 'feed_source_cover/' + item.cover $}"
                                 err-src="{% static 'images/test-cover.jpg' %}"
                                 class="img-responsive img-full-width"/>
                        </div>
                        <div class="card-info-layer">
                            <img alt=""
                                 ng-src="{$ globals.cdn + 'feed_source/' + item.thumbnail $}"
                                 err-src="{% static 'images/logo-inside.jpg' %}"
                                 class="logo-inside">
                            <h4><a ng-click="showLinkDetailPopup(item)" href="javascript:void(0);">
                                {$ item.name $}</a></h4>
                        </div>
                    </div>
                    <div class="card-item-body">
                        <h5>{$ item.description | truncateword : 20 | trusted $}</h5>
                    </div>
                </div>
                <div class="card-item-extra">
                    <div class="panel-box">
                        <ul class="icon-status list-inline" id="item">
                            <li>
                                <a href="javascript:void(0)" class=" btn-link-item no-margin">
                                    <i class="fa fa-fw fa-folder"></i> {$ item.numb.relate_sources $}</a>
                                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

{% include "feeds/pagination.html" %}

<div class="left-sidebar-guideline left-position" ng-class="{'hidden':!listTour[2].status}">
    <div ng-if="first_time" class="tool-tip-tour step3">
        <h4>Subscribe Web</h4>

        <p>Use search field or browse topic to find your farvorite web then click subscribe on web cards to add it in
            your left sidebar</p>

        <p>Step 3 of 6 | <span>Skip all</span>
            <button class="pull-right btn btn-action" ng-click="nextStep('.step2','.step3')">Next</button>
        </p>
    </div>
</div>