{% load staticfiles %}
{% load webdesign %}
{% load filters %}

<div ng-controller="FeedCard" class="card-list" id="files">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="item in items">
        <div>
            <div class="thumbnail">
                <a href="javascript:void(0);">
                    <img alt="sadas"
                         ng-src="{% static 'images/img-exmp.jpg' %}"
                         err-src="{% static 'images/img-exmp.jpg' %}"
                         class="img-responsive"/>
                </a>

                <div class="hover-control">
                    <a href="javascript:void(0)" class="link"><i class="fa fa-link"></i></a>

                    <div class="more">
                        <ul class="nav" style="max-width: 300px;">
                            <li class="dropdown">
                                <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                {% include "feeds/menu-feature-of-view.html" %}
                            </li>
                        </ul>
                    </div>
                    <div class="btn1"><i class="fa fa-compass"></i></div>
                    <a class="btn2" data-toggle="tooltip" data-placement="top" title="Bookmark"
                       href="javascript:void(0);" ng-click="item.status.bookmarked ? continue : showAddLinkPopup();">
                        <i class="fa fa-plus"></i>
                    </a>

                    <div class="time"><i class="fa fa-clock-o"></i> 2d</div>
                </div>
            </div>
            <div class="description">
                <h5>{$item.Name$}</h5>

                <p>
                    {% lorem %}
                </p>
            </div>
            <div class="controls clearfix">
                <div class="button">
                    <button ng-click="voteUp()"><i class="fa fa-arrow-circle-up"></i></button>
                </div>
                <div class="button">
                    <span>{$item.Vote$}</span>
                </div>
                <div class="button">
                    <button ng-click="showVoteDownPopup()"><i class="fa fa-arrow-circle-down"></i></button>
                </div>
                <div class="button">
                    <button><i class="fa fa-comment"></i> {$item.Comment$}</button>
                </div>
                <div class="button">
                    <button><i class="fa fa-eye"></i> {$item.View$}</button>
                </div>
                <div class="button">
                    <button><i class="fa fa-share-square-o"></i> {$item.Share$}</button>
                </div>
            </div>
            <div class="categories">
                <a><i class="fa fa-paint-brush"></i> Design</a>
                <i class="fa fa-angle-right"></i>
            </div>
            <div class="card-link">
                <a href="javascript:void(0)">
                    <img alt="behance.net"
                         ng-src="{% static 'images/behance.png' %}"
                         err-src="{% static 'images/behance.png' %}"
                         class=""/>
                    behance.net
                </a>
                <i class="fa fa-angle-right"></i>
            </div>
            <div class="card-folder">
                <a href="javascript:void(0)">
                    <i class="fa fa-folder"></i>
                    <i class="fa fa-link"></i>
                    123
                </a>
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>

<div class="card-list" id="files">
    {% for i in 9|get_range %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div>
                <div class="thumbnail">
                    <a href="javascript:void(0);">
                        <img alt="sadas"
                             ng-src="{% static 'images/img-exmp.jpg' %}"
                             err-src="{% static 'images/img-exmp.jpg' %}"
                             class="img-responsive"/>
                    </a>

                    <div class="hover-control">
                        <a href="javascript:void(0)" class="link"><i class="fa fa-link"></i></a>

                        <div class="more">
                            <ul class="nav" style="max-width: 300px;">
                                <li class="dropdown">
                                    <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    {% include "feeds/menu-feature-of-view.html" %}
                                </li>
                            </ul>
                        </div>
                        <div class="btn1"><i class="fa fa-compass"></i></div>
                        <a class="btn2" data-toggle="tooltip" data-placement="top" title="Bookmark"
                           href="javascript:void(0);"
                           ng-click="item.status.bookmarked ? continue : showAddLinkPopup();">
                            <i class="fa fa-plus"></i>
                        </a>

                        <div class="time"><i class="fa fa-clock-o"></i> 2d</div>
                    </div>
                </div>
                <div class="description">
                    <h5>{% lorem 5 w random %}</h5>

                    <p>
                        {% lorem %}
                    </p>
                </div>
                <div class="controls clearfix">
                    <div class="button">
                        <button ng-click="voteUp()"><i class="fa fa-arrow-circle-up"></i></button>
                    </div>
                    <div class="button">
                        <span>123</span>
                    </div>
                    <div class="button">
                        <button ng-click="showVoteDownPopup()"><i class="fa fa-arrow-circle-down"></i></button>
                    </div>
                    <div class="button">
                        <button><i class="fa fa-comment"></i> 4</button>
                    </div>
                    <div class="button">
                        <button><i class="fa fa-eye"></i> 99</button>
                    </div>
                    <div class="button">
                        <button><i class="fa fa-share-square-o"></i> 35</button>
                    </div>
                </div>
                <div class="categories">
                    <a><i class="fa fa-paint-brush"></i> Design</a>
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="card-link">
                    <a href="javascript:void(0)">
                        <img alt="behance.net"
                             ng-src="{% static 'images/behance.png' %}"
                             err-src="{% static 'images/behance.png' %}"
                             class=""/>
                        behance.net
                    </a>
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="card-folder">
                    <a href="javascript:void(0)">
                        <i class="fa fa-folder"></i>
                        <i class="fa fa-link"></i>
                        123
                    </a>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>

