{% load staticfiles %}

<div id="manage-feeds" class="row">
    <div class="col-md-12">
        <div ng-repeat="zone in categories" class="category-block" ng-if="zone.sources.length">
            <div class="block-header">
                <h4 class="block-title">{$ zone.name $}
                <span class="pull-right">
                    <button type="button" ng-click="interactive(zone, 'feedsource'); showTagCategoryRenamePopup();"
                            class="btn btn-trans">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" ng-click="delAllSources(zone);" class="btn btn-trans">
                        <i class="fa fa-close"></i>
                    </button>
                </span>
                </h4>
            </div>
            <ul dnd-list="zone.sources"
                    {#dnd-allowed-types="zone.allowedTypes"#}
                    {#dnd-disable-if="zone.sources.length >= zone.max"#}
                    {#dnd-external-sources="true"#}
                dnd-dragover="dragOver(event, index, type, external)"
                dnd-drop="dropOver(event, index, item, type, external, zone)"
                dnd-inserted="inserted(event, index, item, type, external)"
                class="animated fadeIn">
                <li ng-repeat="item in zone.sources track by $index"
                    dnd-draggable="item"
                    dnd-type="'feedsource'"
                        {#dnd-disable-if="item.type == zone.disableType"#}
                    dnd-effect-allowed="move"
                    dnd-dragstart="dragStart(item)"
                    dnd-selected="dragSelected(item)"
                    dnd-moved="dragMoved(zone.sources, $index)"
                    dnd-copied="dragCopied(item)"
                    dnd-canceled="dragCanceled(item)"
                    dnd-dragend="dragEnd(item)"
                    ng-class="{selected: selected === item ,hidden: item.unsubscribed === 0 }">
                    <span class="item-icon">
                        <img alt=""
                             ng-src="{$ globals.cdn + 'feed_source_icon/' + item.icon $}"
                             err-src="{% static 'images/fa-globe.png' %}"
                             width="16" height="16"
                             class=""/>
                    </span>
                    <span class="item-text">{$ item.alias_name || item.name | truncate:43 $}</span>
                    <span class="pull-right item-action">
                        <button type="button"
                                ng-click="interactive(item, 'feedsource'); showRenameUserFeedSource();"
                                class="btn btn-trans">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-trans delete-feed-source"
                                ng-click="delOneSource(zone, $index);">
                            <i class="fa fa-trash"></i>
                        </button>
                    </span>
                </li>
                <li class="dndPlaceholder">
                    Drop any <strong>{$ zone.allowedTypes.join(' or ')$}</strong> here
                </li>
            </ul>
            <span id="expand-button" ng-if="zone.sources.length > 8">
                {$ zone.sources.length - 8 $} more sources
            </span>
        </div>
        <div dnd-list="newzone.sources"
                {#dnd-allowed-types="zone.allowedTypes"#}
                {#dnd-disable-if="zone.sources.length >= zone.max"#}
                {#dnd-external-sources="true"#}
             dnd-dragover="dragOver(event, index, type, external)"
             dnd-drop="dropToNewZone(event, index, item, type, external, newzone)"
             dnd-inserted="inserted(event, index, item, type, external)"
             class="category-block non-content">
            <span class="empty-block">Drag and drop a source here to create a new collection</span>
        </div>
    </div>
</div>
<div class="clear"></div>
