<ul class="dropdown-menu">
    <li><a href="javascript:void(0);" ng-click="">Hide</a></li>
    <li><a href="javascript:void(0);" ng-click="showSharePopup()">Share</a></li>
    <li><a href="javascript:void(0);" ng-click="">Note</a></li>
    <li><a href="javascript:void(0);" ng-click="">Mask as Read</a></li>
</ul>
