{% load webdesign %}
{% load staticfiles %}

<div class="cover-profile">
    <button ng-click="initCrop = true; showCrop()">Crop</button>
    <div class="cover-img">
        <img alt="{$ wall_user.first_name + ' ' + wall_user.last_name $}"
             ng-src="globals.cdn + 'avatar/' + wall_user.profile.avatar"
             err-src="{% static 'images/cover_john_smith.jpg' %}"
             class="cover-exist">
        <image-crop data-height="270"
                    data-result="result"
                    data-result-blob="resultBlob"
                    crop="initCrop"
                    padding="0"
                    data-width="995"
                    src="imgSrc"
                    alt="{$ wall_user.first_name + ' ' + wall_user.last_name $}"
                    ng-src="{% static 'images/cover_john_smith.jpg' %}"
                    err-src="{% static 'images/cover_john_smith.jpg' %}"
                    class="change-cover-image"></image-crop>
        <input type="file" class="btn btn-trans btn-change-cover" title="Change cover" name="fileInput" id="fileInput"
               onchange="angular.element(this).scope().fileChanged(event)"/>
    </div>
    <div class="avatar">
        <img alt="{$ wall_user.first_name + ' ' + wall_user.last_name $}"
             ng-src="{$ globals.cdn + 'avatar/' + wall_user.profile.avatar $}"
             err-src="{% static 'images/user-4.png' %}"
             class="img-circle img-responsive">
    </div>
    <div class="basic-info">
        <div class="pull-left">
            <h3>{$ wall_user.first_name + ' ' + wall_user.last_name || wall_user.profile.nick_name || wall_user.username
                $} <span>Ho Chi Minh, Vietnam</span></h3>

            <p class="description-profile">{% lorem 10 w random %}</p>
            <button class="has-radius reverse-o btn btn-action bg-lg" ng-if="false">Follow</button>
        </div>
        <div class="pull-right" ng-show="">
            <div class="">
                <span>2k</span>
                <span>Followers</span>
            </div>
            <div class="">
                <span>90</span>
                <span>Following</span>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
