{% extends "layout/main-view.html" %}
{% block title %}
{% endblock %}

{% block breadcrumb-options %}
{% endblock %}

{% block right-options %}
{% endblock %}

{% block before-view %}
    {% include "profile/cover-profile.html" %}
    <div class="board profile-navigation">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="profile_tabs">
                <li role="presentation" ng-class="{ active: $state.includes('profile.wall') }">
                    <a ui-sref="profile.wall">
                        Wall
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: $state.includes('profile.folder') }">
                    <a ui-sref="profile.folder">
                        <i class="fa fa-fw fa-folder"></i>Folder
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: $state.includes('profile.link') }">
                    <a ui-sref="profile.link">
                        <i class="fa fa-fw fa-link"></i>Link
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: $state.includes('profile.web') }">
                    <a ui-sref="profile.web">
                        <i class="fa fa-fw fa-globe"></i>Web
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: $state.includes('profile.interest') }">
                    <a ui-sref="profile.interest">
                        <i class="fa fa-fw fa-heart"></i>Interest
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: $state.includes('profile.people') }" ng-if="false">
                    <a ui-sref="profile.people">
                        <i class="fa fa-fw fa-user"></i>People
                    </a>
                </li>
                <li role="presentation" ng-class="{ active: $state.includes('profile.dashboard') }" ng-if="false">
                    <a ui-sref="profile.dashboard">
                        <i class="fa fa-fw fa-dashboard"></i>Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="board tabs-content">
{% endblock %}

{% block after-view %}
    </div>
{% endblock %}
