{% load staticfiles %}

<div class="profile-setting-container">
    <form ng-submit="updateProfile()" class="form-horizontal" class="validate">
        <div class="kara-panel" id="profile-infomation">
            <div class="kara-panel-header">
                <h4>Profile Infomation</h4>
            </div>
            <div class="kara-panel-body">
                <div class="form-group">
                    <label for="full_name" class="col-sm-3 control-label">Profile Picture</label>

                    <div class="col-sm-3 no-padding-left" id="avatar-profile">
                        <img alt="{$ global.user.username $}"
                             ng-model="avatar"
                             ng-src="{$ globals.cdn + 'avatar/' + globals.user.profile.avatar $}"
                             err-src="{% static 'images/user-4.png' %}"
                             class="">
                    </div>
                    <div class="col-sm-4 ">
                        <button type="button" data-type="avatar" class="btn btn-set-avatar btn-action">Save</button>
                        <span class="avatar-upload">
                             <input type="hidden" ng-model="user.profile.avatar" id="avatar-url"/>
                             <input type="file" id="avatar-upload-button"
                                    ngf-select="uploadFiles($file, $invalidFiles)"
                                    class="avatar-upload-button"
                                    accept="image/*"
                                    ngf-max-height="1000"
                                    ngf-max-size="1MB"/>
                             Select
                            {#<input type="file" name="image" ng-file-select="Upload($files, 1)"  id="avatar-upload-button" class="avatar-upload-button" >Choose a file#}
                        </span>

                        <p>allow jpg,png </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="full_name" class="col-sm-3 control-label">Full name</label>

                    <div class="col-sm-7">
                        <input type="text" ng-model="user.first_name" data-validate="required"
                               data-message-required="This is custom message for required field." class="form-control"
                               id="full_name" placeholder="Your fullname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="full_name" class="col-sm-3 control-label">Password</label>

                    <div class="col-sm-7">
                        <a style="color:#fe3333;line-height:2.5" href="javascript:void(0)"
                           ng-click="showPopupChangePassword();">Change password</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>

                    <div class="col-sm-7">
                        <input type="text" disabled ng-model="user.email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-3 control-label">Gender</label>

                    <div class="col-sm-7">
                        <label class="radio-inline">
                            <input type="radio" ng-model="user.profile.gender_id" value="1"> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="user.profile.gender_id" value="2"> Female
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="user.profile.gender_id" value="3"> Other
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday" class="col-sm-3 control-label">Birthday</label>

                    <div class="col-sm-7">
                        <input type="text" ng-model="user.profile.birthday" class="form-control" data-mask="dd/mm/yyyy"
                               placeholder="dd/mm/yyyy" inputmask>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bio" class="col-sm-3 control-label">Bio</label>

                    <div class="col-sm-7">
                        <textarea name="bio" ng-model="user.profile.biography" placeholder="Biography"
                                  class="form-control" id="bio" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select_language" class="col-sm-3 control-label">Language</label>

                    <div class="col-sm-7">
                        <select name="language" ng-model="user.profile.language" class="form-control"
                                id="select_language">
                            <option ng-repeat="lang in globals.list_language " value="{$ lang.code $}">{$
                                lang.nativeName $}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select_country" class="col-sm-3 control-label">Country</label>

                    <div class="col-sm-7">
                        <select name="country" ng-model="user.profile.country" class="form-control" id="select_country">
                            <option ng-repeat="country in globals.list_country " value="{$ country.code $}">{$
                                country.name $}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="kara-panel" id="social-account-connect">
            <div class="kara-panel-header">
                <h4>Social Connecting</h4>
            </div>
            <div class="kara-panel-body">
                <div class="list-social-connect">
                    <div class="social-account row no-padding">
                        <div class="col-xs-4">
                            <img alt=""
                                 ng-src="{% static 'images/32-facebook.png' %}"
                                 err-src="{% static 'images/32-facebook.png' %}"
                                 class="">
                            <strong>Facebook</strong>
                        </div>
                        <div class="col-xs-8">
                            {$ facebook.uid $}
                            <div class="pull-right">
                                <input type="checkbox"
                                       ng-click="social_connecting(facebook)"
                                       ng-model="facebook.is_connecting"
                                       class="iswitch-lg iswitch-info">
                                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"
                                   class="hidden"></a>
                            </div>
                        </div>
                    </div>
                    <div class="social-account row no-padding">
                        <div class="col-xs-4">
                            <img alt=""
                                 ng-src="{% static 'images/32-googleplus.png' %}"
                                 err-src="{% static 'images/32-googleplus.png' %}"
                                 class="">
                            <strong>Google Plus</strong>
                        </div>
                        <div class="col-xs-8">
                            {$ google.uid $}
                            <div class="pull-right">
                                <input type="checkbox"
                                       ng-click="social_connecting(google)"
                                       ng-model="google.is_connecting"
                                       class="iswitch-lg iswitch-info">
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"
                                   class="hidden"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-setting-submit">
            <button type="submit" class="btn btn-action pull-right">Update Setting</button>
            <div class="clear"></div>
        </div>
    </form>
</div>
<script>
    var fileInput = document.getElementById('avatar-upload-button');
    var fileDisplayArea = document.getElementById('avatar-profile');
    fileInput.addEventListener('change', function (e) {
        var file = fileInput.files[0];
        var imageType = /image.*/;
        if (file.type.match(imageType)) {
            var reader = new FileReader();

            reader.onload = function (e) {
                fileDisplayArea.innerHTML = "<img src='" + reader.result + "'>";
                $(".btn-set-avatar").css('display', 'inline-block');
                $(".avatar-upload").text('Change');
                //fileDisplayArea.appendChild(img);
            };
            reader.readAsDataURL(file);
        } else {
            fileDisplayArea.innerHTML = "File not supported!"
        }
    });
</script>
