<span class="action-buttons">
    <button class="center add-item"
            ng-click="interactive(item, 3); item.status.bookmarked ? continue : showAddLinkPopup();">
        <i class="fa"
           ng-class="{'fa-plus': !item.status.bookmarked, 'fa-check': item.status.bookmarked}"></i>
    </button>
</span>

<span class="col-xs-10 info-text">
    <span>{$ item.feed.name |truncate:20 $}</span>
    <i class="fa fa-angle-right"></i>
    <i class="fa fa-link"></i>
    <a href="javascript:void(0);" ng-click="showLinkDetailPopup(item)">
        <strong>{$ item.name |truncate:50 $}</strong>
    </a>
   {$ item.description || item.title || item.name |truncate: 30 $}
</span>

<span class="col-xs-1 more" dropdown>
    <button type="button " class="more-action dropdown-toggle pull-right-sm"
            data-toggle="dropdown" ng-click="interactive(item, 2)"><i class="fa fa-ellipsis-h"></i></button>
    {% include 'layout/include/feed-list-menu.html' %}
</span>

<span class="info-bar">
    <a href="javascript:void(0)"><i class="fa fa-arrow-up"></i> {$ item.statistic.likes || 0 $} </a>
    <a href="javascript:void(0)"><i class="fa fa-arrow-down"></i> {$ item.statistic.dislikes || 0 $} </a>
    <a href="javascript:void(0)"><i class="fa fa-comment"></i> {$ item.statistic.comments || 0 $} </a>
    <a href="javascript:void(0)"><i class="fa fa-eye"></i> {$ item.statistic.views || 0 $} </a>
    <a href="javascript:void(0)"><i class="fa fa-share-square-o"></i> {$ item.statistic.shares || 0 $} </a>
    <a href="{$ item.bookmark.url |http $}" target="_blank"><i class="fa fa-compass"></i> Visit web</a>
    <a href="javascript:void(0)"><i class="fa fa-clock-o"></i> {$ item.published_on | amDifference : null : 'days' $}d </a>
</span>
