<div class="card-view" id="feed-card">
    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth" : true}'
         class="masonry-container">
        <div masonry-tile class="item masonry-tile"
             ng-repeat="item in FeedPopup | orderBy:globals.settings.sortType:globals.settings.sortReverse"
             ng-include="'templates/include/feed-post-card/'">
        </div>
    </div>
</div>

{% include "layout/pagination.html" %}