<div class="globe-below animated" ng-class="{'hide' : !ngCloseStatus , '': ngCloseStatus}">
    <i class="fa fa-globe"></i>
</div>
<div class="add-interests-popup">
    <div class="col-md-12">
        <div class="pull-left">
            <h4 class="title">
                {$ '#'+item.name $}
            </h4>
        </div>
        <div class="pull-right">
            <a href="javascript:void(0)"><i class="fa fa-angle-left"></i> Previous</a>
            <a href="javascript:void(0)">Next <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="topic-browsing col-md-12">
        <div id="card-feed">
            <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth":true}'
                 class="masonry-container">
                <div class="item" masonry-tile ng-repeat="interest in interests" ng-if="!interest.pined">
                    <div class="card-item" id="interest-card">
                        <div class="card-item-image">
                            <div class="neo">
                                <span class="pull-left" id="link">
                                    <i class="fa fa-heart"></i>
                                </span>

                                <div class="btn-group open pull-right" dropdown="">
                                    <a class=" dropdown-toggle"
                                       ng-click="interactive(interest, 'interest')"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="true">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    {% include 'layout/include/interest-card-menu.html' %}
                                </div>
                            </div>
                            <div class="hover-image">
                                <div class="row no-margin no-padding">
                                </div>
                                <div class="item-nav-middle">
                                    <div class="item-nav-middle-inner">
                                        <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                                popover-placement="top" popover="Subscribe"
                                                ng-click="pin_interest(interest)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="img-thumbnail no-padding img-full-width">
                                <img alt=""
                                     ng-src="{$ globals.cdn + 'interest/' + interest.thumbnail $}"
                                     err-src="{% static 'images/thumbnail-link.jpg' %}"
                                     class="img-responsive img-full-width"/>
                            </div>
                            <div class="card-info-layer">
                                <h4>
                                    # {$ interest.name $}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>