{% load staticfiles %}

<div class="col-md-12 text-align">
    <h3>Comment</h3>
</div>
<div class="col-md-12 text-align">
    <div class="media-list">
        <div class="media">
            <div class="media-left">
                <a href="javascript:void(0)">
                    <img alt="96x96"
                         ng-src="{$ 'http://static.karaplus.com/avatar/' + globals.user.profile.avatar $}"
                         err-src="{% static 'images/user-4.png' %}"
                         class="media-object img-circle img-responsive">
                </a>
            </div>
            <div class="media-body">
                <form ng-submit="actionComment(item, popupType)" ng-controller="CommentCtrl">
                    <div class="form-group">
                        <textarea placeholder="Write your comment"
                                  rows="4"
                                  class="form-control"
                                  name="Comment"
                                  id="Comment"
                                  ng-model="item.comment_tex"></textarea>
                    </div>
                    <button class="btn btn-action btn-sm pull-right"
                            type="submit"
                            id="submit">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <ul class="media-list" ng-if="item.comments">
        <li ng-repeat="comment in item.comments"
            class="media">
            <a href="javascript:void(0)" class="media-left">
                <img alt="96x96"
                     ng-src="{$ 'http://static.karaplus.com/avatar/' + comment.person.avatar $}"
                     err-src="{% static 'images/thumbnail-avatar-big.jpg' %}"
                     class="media-object img-circle img-responsive">
            </a>

            <div class="media-body" ng-init="comment.reply=false">
                <h4 class="media-heading">{$ comment.person.nick_name + ' (' + comment.person.user.username + ')'
                    $}</h4>

                <p class="time">{$ comment.updated_on | amDateFormat:'YYYY.MM.DD HH:mm:ss' $}</p>

                <p>{$ comment.content $}</p>

                <div class="controls row">
                    <div class="col-md-6">
                        <div class="button">
                            <button class="reply btn" ng-click="comment.reply=true; get_comments(comment, 'comment')">
                                Reply
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 vote">
                        <div class="button">
                            <button ng-click="actionLike(comment,'comment')">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        </div>
                        <div class="button">
                            <a href="javascript:void(0)" class="reverse">
                                {$ comment.statistic.likes || 0 $}
                            </a>
                        </div>
                        <div class="button">
                            <button ng-click="actionDislike(comment,'comment')">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                        </div>
                        <div class="button">
                            <a href="javascript:void(0)" class="reverse">
                                {$ comment.statistic.dislikes || 0 $}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- Nested media object -->
                        <ul class="media-list" ng-if="comment.comments" ng-include="'reply-of-comment'"></ul>
                    </div>
                    <div class="col-md-12" ng-if="comment.reply" ng-controller="CommentCtrl">
                        <div class="form-group">
                            <textarea placeholder="Write something ..."
                                      rows="2"
                                      class="form-control"
                                      ng-model="comment.comment_tex"></textarea>
                        </div>
                        <button ng-click="actionComment(comment, 'comment')"
                                class="btn btn-trans btn-sm comment-reply-button">Reply
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
    {% include "popup_view/pagination_comment.html" %}
</div>

<script type="text/ng-template" id="reply-of-comment">
    <div class="media"
         ng-repeat="reply in comment.comments track by $index">
        <div class="media-left">
            <a href="javascript:void(0)">
                <img alt="96x96"
                     ng-src="{$ 'http://static.karaplus.com/' + 'avatar/' + reply.person.avatar $}"
                     err-src="{% static 'images/thumbnail-avatar-big.jpg' %}"
                     class="media-object img-circle img-responsive">
            </a>
        </div>
        <div class="media-body" ng-init="reply.reply=false">
            <h4 class="media-heading">{$ reply.person.nick_name + ' (' + reply.person.user.username + ')' $}</h4>

            <p class="time">{$ reply.updated_on | amDateFormat:'YYYY.MM.DD HH:mm:ss' $}</p>

            <p>{$ reply.content $}</p>

            <div class="controls row">
                <div class="col-md-6"></div>
                <div class="col-md-6 vote">
                    <div class="button">
                        <button ng-click="actionLike(reply,'comment')">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)" class="reverse">
                            {$ reply.statistic.likes || 0 $}
                        </a>
                    </div>
                    <div class="button">
                        <button ng-click="actionDislike(reply,'comment')">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)" class="reverse">
                            {$ reply.statistic.dislikes || 0 $}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
