{% load staticfiles %}

<div class="block-content-edit">
    <div class="block-inner">
        <div class="row edit-header no-margin">
            <div class="pull-left">
                <h4>
                    <img alt=""
                         ng-src="{$ 'http://static.karaplus.com/' + 'feed_source_icon/' + item.feed.icon $}"
                         err-src="{% static 'images/fa-globe.png' %}"
                         class="icon-web">
                    {$ item.feed.name $}
                </h4>
            </div>
            <div class="pull-right">
                <button ng-if="!showRightSidebar" class="btn btn-trans" ng-click="hideRightSidebarPopup()">
                    Hide
                    <i class="fa fa-angle-right"></i>
                </button>
                <button ng-if="showRightSidebar" class="btn btn-trans" ng-click="showRightSidebarPopup()">
                    Show
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>

        <div class="detail-content web-view">
            <span id="nextItem"
                  ng-style="{left : left_next + 'px'}"
                  ng-if="nextItem"
                  class="navigation-next-post"
                  ng-click="showNextPost(nextItem)"></span>
            <span id="prevItem"
                  ng-style="{left : left_prev + 'px'}"
                  ng-if="prevItem"
                  class="navigation-prev-post"
                  ng-click="showPrevPost(prevItem)"></span>

            <div class="col-md-12 text-align">
                <a href="{$ item.bookmark.url |http $}" target="_blank" class="visit-web btn-gray btn">Visit Website</a>
            </div>
            <div class="clear"></div>
            <div class="body-content">
                <div class="content-title">
                    <h1>{$ item.name $}</h1>
                </div>
                <div class="clear"></div>
                <div class="content-info">
                    <div class="web-info">
                        <div class="info">
                            <div class="vote">
                                <div class="button">
                                    <button type="button" ng-click="upObject();"
                                            ng-class="{'voted': item.status.liked}">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                </div>
                                <div class="button">
                                    <span>{$ item.statistic.likes || 0 $}</span>
                                </div>
                                <div class="button">
                                    <button type="button" ng-click="downObject();"
                                            ng-class="{'voted':item.status.disliked}">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                </div>
                                <div class="button">
                                    <span>{$ item.statistic.dislikes || 0 $}</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-entry">
                    <div ng-if="item.bookmark.url.indexOf('youtube.com') == -1" class="content animated fadeIn"
                         ng-bind-html="item.content | unsafe">
                    </div>
                    <div ng-if="item.bookmark.url.indexOf('youtube.com') > -1" class="content animated fadeIn">
                        <iframe width="800" height="450"
                                ng-src="{$ item.bookmark.url | youtube | trusted $}"
                                frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12 text-align">
                <a href="{$ item.bookmark.url |http $}" target="_blank" class="visit-web btn-gray btn">Visit Website</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="block-inner">
        <div class="bottom-content" id="comment-block">
            {% include "popup_view/comment.html" %}
        </div>
    </div>
</div>
