{% load staticfiles %}

<div class="right-sidebar-edit" ng-if="!showRightSidebar">
    <div class="col-md-12">
        <div class="row no-margin block">
            <div class="button-group">
                <a href="{$ item.bookmark.url |http $}" target="_blank" class="btn">
                    <i class="fa fa-compass"></i>
                </a>
                <button type="button" class="btn" ng-click="plusObject()">
                    <i ng-class="{'fa-plus': !item.status.bookmarked, 'fa-check': item.status.bookmarked}"></i>
                </button>
                <button type="button" class="btn"
                        ng-click="upObject();"
                        ng-class="{'voted-c':item.status.liked}">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn"
                        ng-click="downObject();"
                        ng-class="{'voted-c':item.status.disliked}">
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        </div>
        <!-- INFO -->
        <div class="row no-margin block">
            <img alt=""
                 ng-src="{$ 'http://static.karaplus.com/' + 'feed_source_icon/' + item.feed.icon $}"
                 err-src="{% static 'images/fa-globe.png' %}"
                 class="icon-web">
            <strong>{$ item.feed.name $}</strong>
            <h4 class="right-sidebar-title">
                <a href="{$ item.bookmark.url |http $}" target="_blank" class="title">
                    {$item.name $}
                </a>
            </h4>

            <p>
                {$ item.description $}
                <a class="pull-right" ng-click="">Read more </a>
            </p>
        </div>
        <!-- STATISTIC -->
        {% include 'popup_view/rsb_statistic.html' %}
        <!-- SUBSCRIBERS -->
        {% include 'popup_view/rsb_user.html' %}
        <!-- TAGS -->
        {% include 'popup_view/rsb_tag.html' %}
        <!-- SHARE -->
        {% include 'popup_view/rsb_socialshare.html' %}
        <!-- Note -->
        {% include 'popup_view/rsb_note.html' %}
    </div>
</div>

