<div class="card-view-footer text-center">
    <div class="col-md-12 pagination-change-page"
         ng-class="{ numPages: (item.paginator.numPages> 1),
          hidden: !(item.paginator.totalItems > 0) }">
        <pagination ng-change="changePage()"
                    ng-model="item.paginator.currentPage"
                    total-items="item.paginator.totalItems"
                    items-per-page="item.paginator.itemsPerPage"
                    num-pages="item.paginator.numPages"
                    max-size="globals.settings.maxSizePage"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    class="pagination-sm"></pagination>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
