<div class="row no-margin block">
    <h4 class="right-sidebar-title">Statistic</h4>
    <ul class="list-group list-group-minimal statistic">
        <li class="list-group-item">
            <i class="fa-fw fa-comment"></i>
            <span ng-click="showPopupStatic('commented',item)">Comment </span>
            <span class="pull-right" ng-click="scrollToComment()">
                {$ item.statistic.comments || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw fa-eye"></i>
            <span ng-click="showPopupStatic('viewed',item)">View </span>
            <span class="pull-right" ng-click="showPopupStatic('viewed',item)">
                {$ item.statistic.views || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw fa-arrow-up"></i>
            <span ng-click="showPopupStatic('liked',item)">Vote </span>
            <span class="pull-right" ng-click="showPopupStatic('liked',item)">
                {$ item.statistic.likes || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw  fa-arrow-down"></i>
            <span ng-click="showPopupStatic('disliked',item)">Down Vote </span>
            <span class="pull-right" ng-click="showPopupStatic('disliked',item)">
                {$ item.statistic.dislikes || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw fa-share-square"></i>
            <span ng-click="showPopupStatic('shared',item)">Share </span>
            <span class="pull-right" ng-click="showPopupStatic('shared',item)">
                {$ item.statistic.shares || 0 $}
            </span>
        </li>
    </ul>
</div>
