{% load staticfiles %}

<div class="row no-margin block" ng-if="item.subscriber">
    <div class="col-sm-12">
        <div class="row">
            <h4 class="right-sidebar-title">Subscribe <a href="javascript:void(0)" class="pull-right">See all</a></h4>
        </div>
        <ul class="list-group list-inline">
            <li ng-repeat="person in item.subscriber">
                <a href="javascript:void(0)" ui-sref="profile.wall({'profile':person.profile.id})">
                    <img alt="{$ person.username | truncate : 20 $}"
                         title="{$ person.username | truncate : 20 $}"
                         ng-src="{$ globals.cdn + 'avatar/' + person.profile.avatar $}"
                         err-src="{% static 'images/user-4.png' %}"
                         width="43"
                         class="img-circle img-inline userpic-32">
                </a>
            </li>
        </ul>
    </div>
</div>
