<div class="row no-margin block" ng-if="item.tags && item.tags.length">
    <h4 class="right-sidebar-title">Tags</h4>
    <ul class="list-inline">
        <li ng-repeat="tag in item.tags">
            <a href="javascript:void(0)" class="btn btn-tags">{$ tag.tag $}</a>
        </li>
    </ul>
</div>
