{% load staticfiles %}

<div class="row no-margin block">
    <h4 class="right-sidebar-title">
        Share
    </h4>
    <ul class="list-inline">
        <li class="facebook">
            <a href="javascript:void(0)"
               socialshare
               socialshare-provider="facebook"
               socialshare-text="{$ item.name $}"
               socialshare-url="{$ item.share_url $}"
               {#socialshare-type="feed"#}
               {#socialshare-via="1082195178497482"#}
               {#socialshare-redirect-uri="http://www.karaplus.com"#}
               class="remove-tag">
                <img alt="Facebook"
                     ng-src="{% static 'images/share_facebook.png' %}"
                     err-src="{% static 'images/share_facebook.png' %}"
                     class=""/>
            </a>
        </li>
        <li class="twitter">
            <a href="javascript:void(0)"
               socialshare
               socialshare-provider="twitter"
               socialshare-text="{$ item.name $}"
               socialshare-hashtags="kara, karaplus"
               socialshare-url="{$ item.share_url $}"
               class="remove-tag">
                <img alt="Twitter"
                     ng-src="{% static 'images/share_twitter.png' %}"
                     err-src="{% static 'images/share_twitter.png' %}"
                     class=""/>
            </a>
        </li>
        <li class="g-plus">
            <a href="javascript:void(0)"
               socialshare
               socialshare-provider="google+"
               socialshare-url="{$ item.share_url $}"
               class="remove-tag">
                <img alt="Google Plus"
                     ng-src="{% static 'images/share_googleplus.png' %}"
                     err-src="{% static 'images/share_googleplus.png' %}"
                     class=""/>
            </a>
        </li>
    </ul>
</div>
