<div class="globe-below animated" ng-class="{'hide' : !ngCloseStatus , '': ngCloseStatus}">
    <i class="fa fa-globe"></i>
</div>

<div class="popup-container ">
    {% include 'popup_view/webscreen_content.html' %}

    {% include 'popup_view/webscreen_rsb.html' %}
</div>
