{% load staticfiles %}

<div class="block-content-edit">
    <div class="block-inner">
        <div class="row edit-header">
            <div class="pull-left">
                <h4>
                    # {$ item.categories[0].name $}
                </h4>
            </div>
            <div class="pull-right">
                <button ng-if="!showRightSidebar" class="btn btn-trans" ng-click="hideRightSidebarPopup()"> Hide <i
                        class="fa fa-angle-right"></i></button>
                <button ng-if="showRightSidebar" class="btn btn-trans" ng-click="showRightSidebarPopup()"> Show <i
                        class="fa fa-angle-right"></i></button>
            </div>
        </div>
        <div class="detail-content web-view row">
            <div class="col-md-12 text-align">
                <a ng-href="{$ item.url |http $}" target="_blank" class="visit-web btn-gray btn">Visit
                    Website</a>
            </div>
            <div class="col-md-12 text-align">
                <div class="cover-info">
                    <div class="cover-img">
                        <img alt="{$ item.name $}"
                             ng-src="{$ 'http://static.karaplus.com/' + 'feed_source_cover/' + item.cover $}"
                             err-src="{% static 'images/cover.jpg' %}"
                             width="100%"
                             class="img-responsive img-full-width"/>
                    </div>
                    <div class="col-md-3">
                        <div class="logo-web">
                            <img alt="{$ item.name $}"
                                 title="{$ item.name $}"
                                 ng-src="{$ 'http://static.karaplus.com/' + 'feed_source/' + item.thumbnail $}"
                                 err-src="{% static 'images/thumbnail-web.jpg' %}"
                                 width="100%"
                                 class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-9 no-padding">
                        <div class="web-info">
                            <div class="info">
                                <h4>{$ item.name $}</h4>

                                <p>{$ item.description || item.name $}</p>

                                <div class="vote">
                                    <div class="button">
                                        <button ng-click="showPopupStatic('liked',item)">
                                            <i class="fa fa-arrow-up" ng-class="{voted: item.status.liked}"></i>
                                        </button>
                                    </div>
                                    <div class="button">
                                        <span>{$ item.statistic.likes || 0 $}</span>
                                    </div>
                                    <div class="button">
                                        <button ng-click="showPopupStatic('disliked',item)">
                                            <i class="fa fa-arrow-down" ng-class="{voted: item.status.disliked}"></i>
                                        </button>
                                    </div>
                                    <div class="button">
                                        <span>{$ item.statistic.dislikes || 0 $}</span>
                                    </div>
                                    <div class="button">
                                        <button ng-click="showPopupStatic('commented',item)">
                                            <i class="fa fa-comment"></i>
                                        </button>
                                    </div>
                                    <div class="button">
                                        <span>{$ item.statistic.comments || 0 $}</span>
                                    </div>
                                    <div class="button">
                                        <button ng-click="showPopupStatic('viewed',item)">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                    <div class="button">
                                        <span>{$ item.statistic.views || 0 $}</span>
                                    </div>
                                    <div class="button">
                                        <button ng-click="showPopupStatic('shared',item)">
                                            <i class="fa fa-share-square-o"></i>
                                        </button>
                                    </div>
                                    <div class="button">
                                        <span>{$ item.statistic.shares || 0 $}</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="text-align">
                <div class="row edit-main no-margin">
                    <div class="right-options pull-right"
                         ng-class="{'right-options-manage':$state.includes('manage')}">
                        {% block controls_bar %}
                            <div class="inner-sort">
                                {% include "layout/header/sortby.html" %}
                            </div>
                            <div class="inner-select-reload">
                                {% include "layout/header/select.html" %}
                                <div class="buttons dropdown btn-group-view">
                                    <button type="button" class="btn"
                                            ng-click="reloadPage();">
                                        <i class="fa fa-repeat"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="inner-change-view">
                                <div class="select-view btn-group-view">
                                    <a class="btn" id="button_select"
                                       ng-click="templateview=true;templatename='popup_list';"
                                       ng-class="{ selected: templateview}">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a class="btn" id="btn_gear"
                                       ng-click="templateview=false;templatename='popup_card';"
                                       ng-class="{ selected: !templateview }">
                                        <i class="fa fa-th-large"></i>
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
                <div class="row no-margin" ng-include="templatename">
                    <div class="clear"></div>
                </div>
                <script type="text/ng-template" id="popup_list">
                    <div class="list-view">
                        <div class="row activity-listing">
                            <ul class="list-group list-unstyled">
                                <li class="item"
                                    ng-class="{selection:!globals.selection.hand_select}"
                                    ng-repeat="item in item.posts | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                                    ng-include="'templates/include/feed-popup-list/'"></li>
                            </ul>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="popup_card">
                    <div class="card-view" id="feed-card">
                        <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth" : true}'
                             class="masonry-container">
                            <div masonry-tile class="item masonry-tile"
                                 ng-repeat="item in item.posts | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                                 ng-include="'templates/include/feed-post-card/'">
                            </div>
                        </div>
                    </div>
                </script>
            </div>
        </div>
        <div class="clear"></div>

        {% include "popup_view/pagination.html" %}

        <div class="col-md-12 text-align">
            <a ng-href="{$ item.url |http $}" target="_blank" class="visit-web btn-gray btn">Visit Website</a>
        </div>
        <div id="comment-block">
            {% include "popup_view/comment.html" %}
        </div>
    </div>
</div>
