<div class="right-sidebar-edit" ng-if="!showRightSidebar">
    <div class="col-md-12">
        <div class="row no-margin block">
            <div class="button-group">
                <a href="{$ item.url |http $}" target="_blank" class="btn">
                    <i class="fa-compass"></i>
                </a>
                <button type="button" class="btn" ng-click="plusObject()"
                        ng-class="{'subscribed': item.status.subscribed}">
                    <i ng-class="{'fa-plus': !item.status.subscribed, 'fa-check': item.status.subscribed}"></i>
                </button>
                <button type="button" class="btn" ng-class="{'voted-c': item.status.liked}" ng-click="upObject()">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn" ng-class="{'voted-c': item.status.disliked}" ng-click="downObject()">
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        </div>
        <!-- INFO -->
        <div class="row no-margin block">
            <h4 class="right-sidebar-title">
                {$ item.name $}
            </h4>

            <p>
                <span ng-if="collapsed==true">{$ item.description | truncate : 80 $}</span>
                <span ng-if="collapsed==false">{$ item.description $}</span>
                <span class="pull-right" ng-click="collapsed!=collapsed" ng-if="item.description.length > 80">Read more </span>
            </p>
        </div>
        <!-- STATISTIC -->
        {% include 'popup_view/rsb_statistic.html' %}
        <!-- SUBSCRIBERS -->
        {% include 'popup_view/rsb_user.html' %}
        <!-- TAGS -->
        {% include 'popup_view/rsb_tag.html' %}
        <!-- SHARE -->
        {% include 'popup_view/rsb_socialshare.html' %}
        <!-- Note -->
        {% include 'popup_view/rsb_note.html' %}
    </div>
</div>
