/**************************
        VARIABLES
***************************/
/**************************
        COMPONENTS
***************************/
/* Fallback for browsers that don't support SVG - Generated with http://iconizr.com/ */
.svg .si-icon:before {
    display: none;
}

.svg .si-icon svg {
    width: 30px;
    height: 30px;
}

.no-svg .si-icon svg {
    display: none;
}

/* alternatively you can define that there is no background image when SVG is supported instead of using .no-svg */
/**************************
        MIXINS
***************************/
/**************************
        STYLES
***************************/
/**************************
        Common & Layout
***************************/
body {
    color: #838383;
    background: #fcfcfc;
}

button {
    border: none;
    outline: none;
    padding: 0;
}

hr {
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
}

pre {
    background: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: inherit;
}

.clear {
    clear: both;
    margin: 0;
}

.yellow {
    color: #ffb700;
}

.red {
    color: #f12f05;
}

.blue {
    color: #0979a5;
}

.green {
    color: #39b549;
}

.feed {
    background-color: #fcfcfc;
}

.feed .si-icon svg path {
    stroke: #ffffff;
}

.feed a {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed a:hover,
.feed a.selected {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed a.reverse {
    color: #ff3333 !important;
}

.feed a.reverse:hover,
.feed a.reverse.selected {
    color: #ffffff;
}

.feed a.hover-bg {
    color: #d0d0d0;
}

.feed a.hover-bg:hover,
.feed a.hover-bg.selected {
    background-color: #e8e8e8;
}

.feed .dropdown-menu > li > a {
    color: #888888;
}

.feed .dropdown-menu > li > a:hover,
.feed .dropdown-menu > li > a.selected {
    background-color: transparent;
}

.feed .dropdown-menu > li.disabled > a {
    color: #cccccc !important;
}

.feed h1,
.feed h2,
.feed h3,
.feed h4,
.feed h5,
.feed h6 {
    font-weight: bold;
}

.feed button,
.feed a.button {
    color: #838383;
    background-color: transparent;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed button:hover,
.feed a.button:hover,
.feed button.selected,
.feed a.button.selected {
    color: #ff3333;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed button:hover > i.fa-star,
.feed a.button:hover > i.fa-star,
.feed button.selected > i.fa-star,
.feed a.button.selected > i.fa-star {
    color: #ffcc33 !important;
}

.feed button.has-border,
.feed a.button.has-border {
    border: 1px solid #d3d3d3;
}

.feed button.has-border:hover,
.feed a.button.has-border:hover,
.feed button.has-border.selected,
.feed a.button.has-border.selected {
    border: 1px solid #ff3333;
}

.feed button.has-border-reverse,
.feed a.button.has-border-reverse {
    border: 1px solid #ff3333;
}

.feed button.has-border-reverse:hover,
.feed a.button.has-border-reverse:hover,
.feed button.has-border-reverse.selected,
.feed a.button.has-border-reverse.selected {
    border: 1px solid #d3d3d3;
}

.feed button.has-radius,
.feed a.button.has-radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.feed button.hover-bg:hover,
.feed a.button.hover-bg:hover,
.feed button.hover-bg.selected,
.feed a.button.hover-bg.selected {
    background-color: #e8e8e8;
}

.feed button.hover-bg-o:hover,
.feed a.button.hover-bg-o:hover,
.feed button.hover-bg-o.selected,
.feed a.button.hover-bg-o.selected {
    background: #ff3333 !important;
    color: #ffffff !important;
}

.feed button.reverse,
.feed a.button.reverse {
    color: #ff3333;
}

.feed button.reverse:hover,
.feed a.button.reverse:hover,
.feed button.reverse.selected,
.feed a.button.reverse.selected {
    color: #838383;
}

.feed button.reverse-o,
.feed a.button.reverse-o {
    color: #ffffff;
    background-color: #ff3333;
}

.feed button.reset,
.feed a.button.reset {
    background-color: #aeaeae;
    color: inherit;
}

.feed button .caret,
.feed a.button .caret {
    border-color: #ffffff transparent -moz-use-text-color;
}

.feed button.basic:hover,
.feed a.button.basic:hover,
.feed button.basic.selected,
.feed a.button.basic.selected {
    color: #838383;
    -webkit-transition: all 0 ease-in-out;
    -moz-transition: all 0 ease-in-out;
    -o-transition: all 0 ease-in-out;
    transition: all 0 ease-in-out;
}

.feed .more,
.feed .controls .button-menu {
    color: #ff3333;
}

.feed .more > i {
    color: #ffffff;
}

.feed .right-sidebar.opened .feed-controls .controls .button button {
    background-color: inherit;
    color: #838383;
}

.feed .right-sidebar.opened .feed-controls .controls .button:hover button,
.feed .right-sidebar.opened .feed-controls .controls .button.selected button {
    color: #ff3333;
    background-color: inherit;
}

.feed .right-sidebar.opened .feed-controls .controls > button#addfeed {
    background-color: inherit;
    border: 1px solid #ff3333;
    color: #ff3333;
}

.feed .right-sidebar.opened .feed-controls .controls > button#addfeed:hover,
.feed .right-sidebar.opened .feed-controls .controls > button#addfeed.selected {
    background-color: inherit;
    border: 1px solid #838383;
    color: #838383;
}

.feed .popup-overlay .popup-dialog .popup-content .detail-content p > strong {
    color: #ff3333;
}

.feed .popup-overlay .popup-dialog .popup-content .detail-content .visit-web {
    border: 1px solid #2c2c2c;
    color: #2c2c2c;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 100%;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.feed .popup-overlay .popup-dialog .popup-content .detail-content .visit-web:hover,
.feed .popup-overlay .popup-dialog .popup-content .detail-content .visit-web.selected {
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .popup-overlay .popup-dialog .popup-content .web-view > .controls .button:hover button,
.feed .popup-overlay .popup-dialog .popup-content .web-view > .controls .button.selected button,
.feed .popup-overlay .popup-dialog .popup-content .web-view > .controls .button:hover i,
.feed .popup-overlay .popup-dialog .popup-content .web-view > .controls .button.selected i {
    color: #ff3333;
    background: #ffffff;
}

.feed .popup-overlay .popup-dialog .popup-content .web-view .cover-info .cover-img .button button {
    color: #ffffff;
}

.feed .popup-overlay .popup-dialog .popup-content .web-view .cover-info .cover-img .button button:hover {
    color: #ffffff;
}

.feed .popup-overlay .popup-dialog .popup-content .web-view .cover-info .web-info .button button {
    background-color: inherit;
    color: #838383;
}

.feed .popup-overlay .popup-dialog .popup-content .web-view .cover-info .web-info .button button:hover {
    color: #ff3333;
}

.feed .popup-overlay .popup-dialog .popup-content .web-view .cover-info .web-info ul > li:nth-child(6) > span > i:nth-child(2) {
    color: #ffcc33;
}

.feed .cover-img .button button {
    background: #ff3333;
}

.feed .body-content .column-list > li:hover,
.feed .body-content .column-list > li.selected {
    background: #2f2f2f;
}

.feed .body-content .column-list > li a:hover,
.feed .body-content .column-list > li a.selected {
    color: #838383;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .body-content #folder-web-cards > .constrols button,
.feed .body-content #folder-web-cards > .constrols a.button {
    background-color: transparent;
    color: #ff3333;
}

.feed .body-content #folder-web-cards > .constrols button:hover,
.feed .body-content #folder-web-cards > .constrols a.button:hover {
    color: #d0d0d0;
}

.feed .body-content .edit_folder #files.card-list.edit-card > li > .controls.top .button {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    background-color: inherit;
    color: #838383;
}

.feed .body-content .edit_folder #files.card-list.edit-card > li > .controls.top .button:hover button {
    background-color: inherit;
    color: #ff3333;
}

.feed .body-content .edit_folder #files.card-list.edit-card > li > .controls.top .button button {
    width: 30px;
    height: 30px;
    background-color: inherit;
    color: #838383;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.feed .body-content .edit_folder #files.card-list.edit-card > li > .controls.top .button button .fa-3x {
    font-size: inherit;
}

.feed #add_feed .form-search .form-group .input-group button {
    background-color: inherit;
    color: #838383;
}

.feed #add_feed .form-search .form-group .input-group button:hover {
    color: #ff3333;
}

.feed #add_feed .form-search .form-group .input-group .form-control:focus {
    color: #838383;
}

.feed #add_feed .form-search .form-group .input-group .form-control:focus:-moz-placeholder,
.feed #add_feed .form-search .form-group .input-group .form-control:focus::-moz-placeholder {
    color: #838383;
}

.feed .card-list > li .thumbnail > a {
    background: #ff3333;
}

.feed .card-list#folders > li .controls {
    background: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#folders > li .controls h5 {
    color: #838383;
}

.feed .card-list#folders > li .controls:hover,
.feed .card-list#folders > li .controls.selected {
    background: #ff3333;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#folders > li .controls:hover h5,
.feed .card-list#folders > li .controls.selected h5 {
    color: #ffffff;
}

.feed .card-list#folders > li .controls:hover .button > button,
.feed .card-list#folders > li .controls.selected .button > button {
    color: #ffffff;
    background: #ff3333;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#folders > li.add-folder {
    border: 1px dashed #ff3333;
}

.feed .card-list#folders > li.add-folder .controls button,
.feed .card-list#folders > li.add-folder .controls a.button,
.feed .card-list#folders > li.add-folder .controls i {
    color: #838383;
    background: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#folders > li.add-folder .controls i {
    color: #ff3333;
}

.feed .card-list#folders > li.add-folder .controls:hover,
.feed .card-list#folders > li.add-folder .controls.selected {
    background: #ff3333;
}

.feed .card-list#folders > li.add-folder .controls:hover button,
.feed .card-list#folders > li.add-folder .controls.selected button,
.feed .card-list#folders > li.add-folder .controls:hover a.button,
.feed .card-list#folders > li.add-folder .controls.selected a.button,
.feed .card-list#folders > li.add-folder .controls:hover i,
.feed .card-list#folders > li.add-folder .controls.selected i {
    color: #ffffff;
    background: #ff3333;
}

.feed .card-list#files.interest-files.card-list > li .description {
    height: 60px;
}

.feed .card-list#files.interest-files.card-list > li .info > div {
    border-left: none;
    border-right: none !important;
    border-bottom: none;
    text-align: right;
}

.feed .card-list#files.edit-card > li .button button {
    background: #ffffff;
    color: #838383;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#files.edit-card > li .button button:hover {
    color: #d0d0d0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#files.edit-card > li > .controls.top {
    height: 90px;
    overflow: hidden;
}

.feed .card-list#files.edit-card > li > .controls.top img {
    padding: 10px;
}

.feed .card-list#files.edit-card > li > .controls.top .button {
    margin: 10px;
}

.feed .card-list#files.edit-card > li > .controls.top .button:nth-child(3) {
    right: 0;
}

.feed .card-list#files.edit-card > li > .controls.top .button button {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ff3333;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#files.edit-card > li > .controls.top .button button:hover {
    color: #d0d0d0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.feed .card-list#files.edit-card > li .description {
    padding: 10px;
    height: 60px;
    margin-bottom: 10px;
}

.feed .card-list#files.edit-card > li .description h5 {
    color: #838383;
}

.container {
    width: 100% !important;
    padding: 0;
    margin-top: 0;
    position: relative;
}

.container .container-fluid > .navbar-header,
.container .container-fluid > .navbar-collapse {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.navbar {
    background-color: #fafafa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border: 0;
}

.navbar .logo {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.navbar .navbar-nav > li {
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar .navbar-nav:first-child > li {
    border-bottom: 3px solid #fafafa;
}

.navbar .navbar-nav:first-child > li > a {
    border-right: solid 1px #d2d2d2;
    border-left: solid 1px #ffffff;
    padding: 3px 25px;
}

.navbar .navbar-nav:first-child > li > a .badge {
    background: #ff3333;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: normal;
}

.navbar .navbar-nav:first-child > li.active {
    border-bottom-color: #ff3333;
}

.navbar .navbar-nav:first-child > li.active a {
    background: none;
}

.navbar .navbar-nav:first-child > li.active a:hover {
    background: none;
}

.navbar .navbar-nav:first-child > li:hover {
    border-bottom: 3px solid #ff3333;
}

.navbar .navbar-nav:first-child > li:first-child a {
    border-left: none;
}

.navbar .navbar-nav:first-child > li:last-child a {
    border-right: none;
}

.navbar .navbar-nav:last-child > li > a {
    padding: 3px 25px;
}

.navbar .navbar-nav:last-child > li:first-child a {
    border-right: solid 1px #d2d2d2;
}

.navbar .navbar-nav:last-child > li:nth-child(2) a {
    border-left: solid 1px #ffffff;
}

.navbar .navbar-nav:last-child > li:nth-child(4) {
    border-left: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
    padding-bottom: 22px;
}

.navbar .navbar-nav:last-child > li:nth-child(5) a {
    color: #ff3333;
}

.navbar .navbar-nav:last-child > li:nth-child(5) a > i {
    font-size: 1.5em;
}

.navbar .navbar-nav > li > a {
    padding: 3px 20px;
    line-height: 28px;
}

.navbar .navbar-menu {
    height: 100%;
    list-style: none;
    margin: 0 0 0 20%;
    padding: 0;
}

.navbar .navbar-menu li {
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
}

.navbar .navbar-menu li:last-child {
    clear: right;
}

.navbar .navbar-menu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0;
    font-size: 1.2em;
}

.navbar .navbar-menu li a:hover,
.navbar .navbar-menu li a.selected {
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.3em;
}

.sidebar {
    background-color: #2f2f2f;
    position: fixed;
    top: 0;
    width: 45px;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

.sidebar .controls {
    padding: 10px 0;
    border-bottom: solid 1px #212121;
    height: 78px;
}

.sidebar .controls .logo {
    display: block;
    float: left;
    height: 25px;
    width: 45px;
    background: url("../images/kara-logo.png") no-repeat 0;
    background-size: 200%;
}

.sidebar .controls .logo img {
    display: none;
}

.sidebar .controls .button-menu {
    background: none;
    padding-top: 5%;
}

.sidebar .vertical-menu {
    display: none;
}

.sidebar.opened {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sidebar.opened ~ .body-content {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sidebar.opened .controls {
    min-height: 78px;
}

.sidebar.opened .controls .logo {
    display: block;
    background: none;
    height: auto;
    width: auto;
}

.sidebar.opened .controls .logo img {
    display: block;
}

.sidebar.opened .controls .button-menu {
    display: block;
}

.sidebar.opened .vertical-menu {
    display: block;
    height: 100%;
    overflow: auto;
    border-top: 1px solid #3a3a3a;
    padding-top: 10px;
}

.sidebar.opened .vertical-menu h5 {
    color: #a5a5a5;
    line-height: 30px;
    font-weight: normal;
}

.sidebar.opened .vertical-menu h5:first-child {
    margin-top: 0;
    color: inherit;
}

.sidebar.opened .vertical-menu .row {
    margin: 0;
    padding-bottom: 20px;
}

.sidebar.opened .vertical-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar.opened .vertical-menu .more {
    float: right;
    font-size: 0.9em;
    font-style: italic;
    line-height: 30px;
}

.sidebar.opened .vertical-menu .description {
    margin: 10px 0;
}

.sidebar.opened .vertical-menu .description .more {
    line-height: inherit;
}

.sidebar.opened .vertical-menu .nav-buttons .button {
    padding: 0;
}

.sidebar.opened .vertical-menu button,
.sidebar.opened .vertical-menu a.button {
    padding: 0 10px;
    margin: 10px 0;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.sidebar.opened .vertical-menu a.button {
    display: block;
}

.sidebar.opened .vertical-menu .submenu {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sidebar.opened .vertical-menu .submenu.opened {
    height: auto;
    overflow: visible !important;
}

.sidebar.opened .vertical-menu .navbar-menu {
    /*margin: 0 @small-padding @larger-padding;*/
    margin-bottom: 20px;
}

.sidebar.opened .vertical-menu .navbar-menu.general {
    margin-bottom: 0;
}

.sidebar.opened .vertical-menu .navbar-menu li {
    width: 100%;
    clear: both;
    position: relative;
}

.sidebar.opened .vertical-menu .navbar-menu li.active {
    background: #414141;
}

.sidebar.opened .vertical-menu .navbar-menu li a {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    display: block;
}

.sidebar.opened .vertical-menu .navbar-menu li a > i {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 35px;
    font-size: 1.2em;
}

.sidebar.opened .vertical-menu .navbar-menu li a.title {
    margin-left: 30px;
    font-size: 0.9em;
}

.sidebar.opened .vertical-menu .navbar-menu li a.title span {
    line-height: 35px;
    overflow: hidden;
}

.sidebar.opened .vertical-menu .navbar-menu li a.title span.left {
    height: 35px;
    margin-right: 5px;
}

.sidebar.opened .vertical-menu .navbar-menu li a.title span.right {
    width: 50px;
    /*float: right;*/
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    text-align: right;
}

.sidebar.opened .vertical-menu .navbar-menu li a.settings,
.sidebar.opened .vertical-menu .navbar-menu li a.web-screen,
.sidebar.opened .vertical-menu .navbar-menu li a.more {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    display: none;
}

.sidebar.opened .vertical-menu .navbar-menu li a.collapse {
    float: left;
    width: 30px;
}

.sidebar.opened .vertical-menu .navbar-menu li span.aitems {
    position: relative;
    display: block;
    /*z-index: 0;*/
}

.sidebar.opened .vertical-menu .navbar-menu li span.aitems.active,
.sidebar.opened .vertical-menu .navbar-menu li span.aitems:hover {
    background: #414141;
}

.sidebar.opened .vertical-menu .navbar-menu li span.aitems:hover.z:after {
    background-color: #414141;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    z-index: -1;
}

.sidebar.opened .vertical-menu .navbar-menu li span.aitems:hover > a.title > span.right {
    display: none;
}

.sidebar.opened .vertical-menu .navbar-menu li span.aitems:hover > a.settings,
.sidebar.opened .vertical-menu .navbar-menu li span.aitems:hover > a.web-screen,
.sidebar.opened .vertical-menu .navbar-menu li span.aitems:hover > a.more {
    display: block;
}

.sidebar.opened .vertical-menu .navbar-menu li .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
}

.sidebar.opened .vertical-menu .navbar-menu li > #submenu.submenu {
    padding-left: 6px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > span.aitems {
    padding-left: 0;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > span.aitems {
    padding-left: 6px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 12px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 18px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 24px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 30px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 36px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 42px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 48px;
}

.sidebar.opened .vertical-menu .navbar-menu > li.li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > .submenu > li > span.aitems {
    padding-left: 54px;
}

.sidebar.left-sidebar {
    left: 0;
    padding-right: 15px;
}

.sidebar.left-sidebar.opened {
    width: 20%;
}

.sidebar.left-sidebar.opened ~ .body-content {
    margin-left: 20%;
}

.sidebar.left-sidebar.opened .controls .button-menu {
    float: right;
    padding-right: 10px;
}

.sidebar.left-sidebar.opened .vertical-menu {
    padding-right: 10px;
}

.sidebar.left-sidebar.opened .vertical-menu .tags-menu {
    padding-left: 30px;
}

.sidebar.left-sidebar.opened .vertical-menu .tags-menu > li.tag-block {
    margin-left: -30px;
}

.sidebar.left-sidebar.opened .vertical-menu .tags-menu > li.li-heading > a.title {
    border-bottom: 1px solid #ababab;
    margin-left: 0;
    padding-left: 0;
}

.sidebar.left-sidebar.opened .vertical-menu .tags-menu > li.li-heading > a.title span.right {
    height: 35px;
    margin-right: 5px;
    line-height: 35px;
    overflow: hidden;
    padding: 0;
}

.sidebar.left-sidebar.opened .vertical-menu .tags-menu > li.li-heading:hover > a > span.right {
    display: block;
}

.sidebar.left-sidebar.opened .vertical-menu .tags-menu > li.tag {
    float: left;
    width: auto;
    clear: none;
}

.sidebar.right-sidebar {
    right: 0;
    padding-left: 15px;
}

.sidebar.right-sidebar.opened {
    width: 20%;
}

.sidebar.right-sidebar.opened ~ .body-content {
    margin-right: 20%;
}

.sidebar.right-sidebar.opened .controls .button-menu {
    float: left;
    padding-left: 10px;
}

.sidebar.right-sidebar.opened .vertical-menu .tags,
.sidebar.right-sidebar.opened .vertical-menu .tag-buttons,
.sidebar.right-sidebar.opened .vertical-menu .people,
.sidebar.right-sidebar.opened .vertical-menu .shares {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
}

.sidebar.right-sidebar.opened .vertical-menu .tags li,
.sidebar.right-sidebar.opened .vertical-menu .tag-buttons li,
.sidebar.right-sidebar.opened .vertical-menu .people li,
.sidebar.right-sidebar.opened .vertical-menu .shares li {
    line-height: 30px;
}

.sidebar.right-sidebar.opened .vertical-menu .tags li a,
.sidebar.right-sidebar.opened .vertical-menu .tag-buttons li a,
.sidebar.right-sidebar.opened .vertical-menu .people li a,
.sidebar.right-sidebar.opened .vertical-menu .shares li a {
    display: block;
    line-height: 30px;
}

.sidebar.right-sidebar.opened .vertical-menu .tag-buttons,
.sidebar.right-sidebar.opened .vertical-menu .people,
.sidebar.right-sidebar.opened .vertical-menu .shares {
    margin-bottom: 10px;
}

.sidebar.right-sidebar.opened .vertical-menu .tag-buttons li,
.sidebar.right-sidebar.opened .vertical-menu .people li,
.sidebar.right-sidebar.opened .vertical-menu .shares li {
    float: left;
    margin: 10px 10px 0 0;
}

.sidebar.right-sidebar.opened .vertical-menu .tag-buttons li a,
.sidebar.right-sidebar.opened .vertical-menu .people li a,
.sidebar.right-sidebar.opened .vertical-menu .shares li a {
    min-width: 80px;
    padding: 0 10px;
    background: #ffffff;
    text-align: center;
}

.sidebar.right-sidebar.opened .vertical-menu .people li a,
.sidebar.right-sidebar.opened .vertical-menu .shares li a {
    min-width: inherit;
    padding: 0;
    background: none;
}

.sidebar.right-sidebar.opened .vertical-menu .people li a img,
.sidebar.right-sidebar.opened .vertical-menu .shares li a img {
    max-height: 50px;
    max-width: 50px;
    display: inline-block;
}

.sidebar.right-sidebar.opened .vertical-menu .people li a .img-default {
    min-width: 39px;
    min-height: 39px;
    background-color: #cccccc;
}

.sidebar.right-sidebar.opened .vertical-menu .shares li {
    margin-right: 20px;
}

.sidebar.right-sidebar.opened .vertical-menu .shares li a {
    text-align: left;
}

.sidebar.right-sidebar.opened .feed-controls {
    margin-bottom: 10px;
}

.sidebar.right-sidebar.opened .feed-controls .controls {
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0;
}

.sidebar.right-sidebar.opened .feed-controls .controls .button {
    position: absolute;
    top: 0;
}

.sidebar.right-sidebar.opened .feed-controls .controls .button:nth-child(1) {
    right: 0;
}

.sidebar.right-sidebar.opened .feed-controls .controls .button:nth-child(2) {
    right: 30px;
}

.sidebar.right-sidebar.opened .feed-controls .controls .button button {
    width: 30px;
    height: 100%;
    line-height: 30px;
}

.sidebar.right-sidebar.opened .feed-controls .controls > button#addfeed {
    width: 100%;
}

.dropdown-menu {
    text-align: left;
}

.dropdown-menu > li > a > .fa {
    padding-right: 5px;
    line-height: 30px;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu li > .dropdown-menu {
    top: 0;
    left: 100%;
}

.dropdown-menu li:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu li:hover > a:after {
    border-left-color: #ffffff;
}

.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.47);
    cursor: pointer;
    z-index: 2000;
    display: none;
}

.popup-layer {
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 20%;
    z-index: 2001;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.popup-layer.shown {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.popup-layer .close-popup,
.popup-layer .close-float {
    display: none;
    text-align: center;
    color: #838383;
    position: absolute;
    top: 0;
    z-index: 2002;
}

.popup-layer .close-popup {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    right: 0;
}

.popup-layer .close-popup i {
    font-size: 18px;
}

.popup-layer .close-float {
    width: 40px;
    height: 40px;
    left: -40px;
    background-color: #fafafa;
    border-radius: 5px 0 0 5px;
}

.popup-layer .close-float i {
    font-size: 1.5em;
    padding: 10px;
}

.popup-layer {
    margin-right: 20%;
}

.popup-layer .popup-entry {
    padding: 40px 15px 15px;
    height: auto;
    background-color: #fafafa;
    position: relative;
}

.popup-layer .close-float {
    display: block;
}

.popup-layer .head {
    border-bottom: solid 1px #dddddd;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.popup-layer .head div {
    padding: 0;
}

.popup-layer .head .popup-header {
    color: #2c2c2c;
    font-size: 1.3em;
}

.popup-layer .head .popup-header i {
    font-size: 1.5em;
}

.popup-layer .head .popup-header > span {
    color: #7c7c7c;
    font-size: 0.8em;
}

.popup-layer .head .pager {
    margin: 0;
    float: right;
}

.popup-layer .head .pager > li > a {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: inline-block;
    padding: 5px 14px;
    margin-left: 10px;
    color: #2c2c2c;
    font-size: 0.9em;
}

.popup-layer h1,
.popup-layer h2 {
    font-size: 1.2em;
    margin: 0;
    color: #6d6d6d;
}

.popup-layer .popup-content {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    /*overflow: auto;*/
    position: relative;
}

.popup-layer .popup-content h3 {
    margin: 0;
    line-height: 45px;
    color: #6d6d6d;
    font-size: 18px;
}

.popup-layer .popup-content .detail-content {
    position: relative;
    height: 100%;
}

.popup-layer .popup-content .detail-content .body-content {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}

.popup-layer .popup-content .detail-content .visit-web {
    border: solid 1px #838383;
    color: #2c2c2c;
    width: 100%;
    display: block;
    padding: 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.popup-layer .popup-content .detail-content .btnComment {
    border: solid 1px #ababab;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff;
    color: #838383;
    padding: 5px 15px;
    position: absolute;
    right: 15px;
    top: 0;
}

.popup-layer .popup-content .web-view > .controls .button {
    position: absolute;
    top: 0;
}

.popup-layer .popup-content .web-view > .controls .button:nth-child(1) {
    right: 5px;
}

.popup-layer .popup-content .web-view > .controls .button:nth-child(2) {
    right: 40px;
}

.popup-layer .popup-content .web-view > .controls .button button {
    width: 30px;
    height: 100%;
    line-height: 30px;
}

.popup-layer .popup-content .web-view .cover-info {
    border: 1px solid #ababab;
    color: #838383;
    margin: 15px auto;
    position: relative;
    padding-bottom: 20px;
}

.popup-layer .popup-content .web-view .cover-info .cover-img {
    width: 100%;
    height: 100%;
}

.popup-layer .popup-content .web-view .cover-info .web-info {
    padding: 10px 0;
    position: relative;
}

.popup-layer .popup-content .web-view .cover-info .web-info h5 {
    margin: 0;
    padding: 3px 0;
    font-size: 1.2em;
}

.popup-layer .popup-content .web-view .cover-info .web-info .row.info {
    vertical-align: top;
    position: relative;
}

.popup-layer .popup-content .web-view .cover-info .web-info ul {
    list-style: outside none none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
    position: relative;
}

.popup-layer .popup-content .web-view .cover-info .web-info ul > li {
    display: inline-block;
    text-align: center;
    padding: 0 30px 0 0;
}

.popup-layer .popup-content .web-view .cover-info .web-info ul > li > span,
.popup-layer .popup-content .web-view .cover-info .web-info ul > li i {
    color: #cccccc;
    line-height: 20px;
}

.popup-layer .popup-content .web-view .cover-info .web-info ul > li > span {
    display: block;
}

.popup-layer .popup-content .web-view .cover-info .web-info ul > li > span:nth-child(1) {
    color: #838383;
}

.popup-layer .popup-content .web-view .cover-info .logo-web {
    position: relative;
    height: 100%;
}

.popup-layer .popup-content .web-view .cover-info .logo-web img {
    margin-top: -30%;
    max-width: 200px;
}

.popup-layer .popup-content .vote .button {
    float: left;
}

.popup-layer .popup-content .vote .button button {
    width: 30px;
    line-height: 30px;
    height: 100%;
}

.popup-layer .popup-content .vote .button span {
    line-height: 30px;
}

.popup-layer .popup-content .right-sidebar {
    background-color: #2f2f2f;
    bottom: 20px;
    height: auto;
    margin-right: 20px;
    padding-left: 20px;
    position: absolute;
    top: 0;
}

.popup-layer .popup-content .right-sidebar.sidebar-background {
    background-color: #2f2f2f;
}

.popup-layer .popup-content .right-sidebar .vertical-menu {
    padding-right: 10px;
    height: auto;
}

.popup-layer .popup-content .right-sidebar .vertical-menu .navbar-menu {
    margin: 0;
}

.popup-layer .popup-content .right-sidebar .vertical-menu .tag-buttons {
    background: none;
}

.popup-layer .popup-content .right-sidebar .vertical-menu .tag-buttons li > a {
    min-width: 80px;
    padding: 0 10px;
    background: transparent;
    text-align: center;
}

.modal.fade.in .modal-dialog .modal-content {
    background: #f6f6f6;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.modal.fade.in .modal-dialog .modal-content::after {
    border-top: 1px solid #d3d3d3;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 45px;
    width: 100%;
}

.modal.fade.in .modal-dialog .modal-content h3 {
    margin: 0;
    line-height: 45px;
    color: #6d6d6d;
    font-size: 18px;
}

.modal.fade.in .modal-dialog .modal-content .close-popup {
    text-align: center;
    color: #838383;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    opacity: 1;
}

.modal.fade.in .modal-dialog .modal-content .close-popup i {
    font-size: 18px;
}

.modal.fade.in .modal-dialog .modal-content .form {
    background-color: #f6f6f6;
}

.modal.fade.in .modal-dialog .modal-content .form a {
    color: #838383;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group {
    margin: 0 0 10px;
    vertical-align: top;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group label {
    margin: 0;
    line-height: 35px;
    font-style: normal;
    font-weight: bold;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group label.ask {
    line-height: inherit;
    margin-top: 10px;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group {
    width: 100%;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .form-control {
    height: 35px;
    line-height: 35px;
    border: 1px solid #d3d3d3;
    box-shadow: none;
    width: 100%;
    color: #cbcbcb;
    font-style: italic;
    font-weight: lighter;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .input-select {
    padding-right: 40px;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown {
    bottom: 0;
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown > a {
    margin: auto;
    padding: 0;
    line-height: 34px;
    float: right;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .submenu {
    height: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .submenu.opened {
    overflow: visible !important;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu {
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0;
    min-width: inherit;
    width: 350px;
    max-height: 250px;
    overflow: auto;
    display: block;
    margin: 0;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li {
    width: 100%;
    clear: both;
    text-align: left;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    display: block;
    padding: 0;
    clear: none;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a i {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 35px;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a.title {
    margin-left: 30px;
    margin-right: 30px;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a.title span:first-child {
    width: 50px;
    float: right;
    line-height: 35px;
    padding-left: 5px;
    overflow: hidden;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a.title span:last-child {
    height: 35px;
    margin-right: 5px;
    line-height: 35px;
    overflow: hidden;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a.add {
    width: 30px;
    float: right;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group .dropdown.opened .dropdown-menu li a.collapse {
    width: 30px;
    float: left;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group-addon {
    background: #f6f6f6;
    padding: 0;
    border: none;
    text-align: right;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group-addon button {
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 90px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group-addon button:first-child {
    margin-left: 0;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group-addon button[type="submit"] {
    background-color: #ff3333;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group .input-group-addon button[type="reset"] {
    background-color: #aeaeae;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group input[type="checkbox"] {
    position: absolute;
    right: 0;
    opacity: 0;
}

.modal.fade.in .modal-dialog .modal-content .form .control-group i {
    line-height: 20px;
    float: right;
}

.modal.fade.in .modal-dialog .modal-content .feature-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
}

.modal.fade.in .modal-dialog .modal-content .share-buttons,
.modal.fade.in .modal-dialog .modal-content .tag-buttons {
    padding: 0;
}

.modal.fade.in .modal-dialog .modal-content .share-buttons li,
.modal.fade.in .modal-dialog .modal-content .tag-buttons li {
    line-height: 30px;
    float: left;
    margin: 0;
    text-align: center;
}

.modal.fade.in .modal-dialog .modal-content .share-buttons li a,
.modal.fade.in .modal-dialog .modal-content .tag-buttons li a {
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.modal.fade.in .modal-dialog .modal-content .share-buttons {
    min-height: 60px;
}

.modal.fade.in .modal-dialog .modal-content .share-buttons li {
    padding-right: 10px;
}

.modal.fade.in .modal-dialog .modal-content .share-buttons li a > img {
    max-width: 40px;
    max-height: 40px;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons {
    padding: 10px 0 0 10px;
    margin-top: 10px;
    margin-left: -10px;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons li {
    text-align: left;
    position: relative;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons li a,
.modal.fade.in .modal-dialog .modal-content .tag-buttons li button {
    margin: 0 10px 10px 0;
    line-height: 30px;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons li a {
    display: block;
    min-width: 70px;
    padding: 0 30px 0 10px;
    color: #838383;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons li .remove-tag {
    margin-right: 0;
    min-width: inherit;
    padding: 0 10px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    border: 1px solid #d3d3d3;
    border-left: 0;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons .add-tag-button {
    border: none;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons .add-tag-button button {
    color: #ffffff;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.modal.fade.in .modal-dialog .modal-content .tag-buttons .add-tag-button button:hover {
    color: #d0d0d0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.modal.fade.in .modal-dialog .modal-content .modal-header,
.modal.fade.in .modal-dialog .modal-content .modal-body,
.modal.fade.in .modal-dialog .modal-content .modal-footer {
    padding: 0 10px;
    border: none;
}

.modal.fade.in .modal-dialog .modal-content .modal-header {
    height: 45px;
    background-color: #ffffff;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group label {
    line-height: 35px;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group label.ask {
    line-height: inherit;
    margin-top: 10px;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls .form-control,
.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls .tags-input input {
    font-size: 0.9em;
    font-style: italic;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls .form-control {
    border: 1px solid #d3d3d3;
    box-shadow: none;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls .tags-input .host {
    margin: 0;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls .tags-input .host .tags {
    box-shadow: none;
    border: 1px solid #d3d3d3;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls .tags-input .host .tags input {
    margin: 0;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .control-group .controls textarea {
    resize: none;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .reason {
    margin: 15px 0;
}

.modal.fade.in .modal-dialog .modal-content .modal-body .reason i {
    width: 15px;
}

.modal.fade.in .modal-dialog .modal-content .modal-footer {
    margin-top: 10px;
    padding-bottom: 10px;
}

.modal.fade.in .modal-dialog .modal-content .modal-footer button {
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    color: #ffffff;
    width: 90px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.modal.fade.in .modal-dialog .modal-content .modal-footer button:first-child {
    margin-left: 0;
}

.modal.fade.in .modal-dialog .modal-content .modal-footer button[type="submit"] {
    background-color: #ff3333;
}

.modal.fade.in .modal-dialog .modal-content .modal-footer button[type="reset"] {
    background-color: #aeaeae;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .controls {
    margin-bottom: 15px;
}

.modal.fade.in .modal-dialog .modal-content .collaborate a {
    display: inline-block;
    line-height: 30px;
    margin-right: 10px;
    color: #838383;
}

.modal.fade.in .modal-dialog .modal-content .collaborate a img {
    max-height: 50px;
    max-width: 50px;
    display: inline-block;
}

.modal.fade.in .modal-dialog .modal-content .collaborate a .img-default {
    min-width: 50px;
    min-height: 50px;
    background-color: #2f2f2f;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .revoke {
    margin: auto 0;
    float: right;
    line-height: 20px;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .revoke i {
    float: none;
    line-height: 30px;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .full {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .dropdown {
    position: relative;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .dropdown .dropdown-menu {
    left: auto;
    right: 0;
    min-width: inherit;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .dropdown .dropdown-menu > li:hover > a {
    color: #ff3333;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .dropdown > a {
    line-height: 30px;
    width: auto;
    float: left;
}

.modal.fade.in .modal-dialog .modal-content .collaborate .item {
    font-weight: bold;
}

.modal.fade.in .modal-dialog .modal-content .form-private .input-group-cover {
    margin-left: 15px;
}

.modal.fade.in .modal-dialog .modal-content .form-private .input-group > a {
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;
}

.modal.fade.in .modal-dialog .modal-content .form-private .input-group .dropdown .dropdown-menu {
    left: auto;
    right: 0;
    min-width: inherit;
}

.modal.fade.in .modal-dialog .modal-content .form-private .input-group .dropdown .dropdown-menu > li {
    line-height: 30px;
}

.modal.fade.in .modal-dialog .modal-content .form-private .input-group .dropdown .dropdown-menu > li:hover > a {
    color: #ff3333;
}

.modal.fade.in .modal-dialog .modal-content .form-private .input-group .dropdown > a {
    line-height: 30px;
    width: auto;
    float: left;
}

.modal.fade.in .modal-dialog .modal-content .search {
    margin-top: 15px;
}

.modal.fade.in .modal-dialog .modal-content .search .dropdown {
    margin-top: 15px;
}

.modal.fade.in .modal-dialog .modal-content .search .dropdown a {
    color: #838383;
}

.modal.fade.in .modal-dialog.modal-sm {
    width: 370px;
}

.modal-open {
    margin: 0 !important;
}

.modal-open .container {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.marked button,
.marked i {
    color: #ffcc33;
}

.media-list {
    margin: 20px 0;
}

.media-list .media-list {
    margin-top: 10px;
    margin-bottom: 0;
}

.media-list .media {
    width: 100%;
    clear: both;
    padding-top: 10px;
    border-top: solid 1px #838383;
    margin-top: 10px;
}

.media-list .media .media-left,
.media-list .media .media-right,
.media-list .media .media-body {
    vertical-align: top;
}

.media-list .media .media-left {
    float: left;
    padding-right: 10px;
}

.media-list .media .media-left > img {
    width: 60px;
    margin: 0;
    padding: 0;
}

.media-list .media .media-body {
    margin-left: 70px;
}

.media-list .media .media-body textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: solid 1px #838383;
}

.media-list .media .media-body .btnSubmit {
    float: right;
    padding: 10px 20px;
    display: block;
    background: #ff3333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    margin-top: 10px;
}

.media-list .media .media-body .time {
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: 3px;
}

.media-list .media .media-body .controls {
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0;
}

.media-list .media .media-body .controls .reply {
    color: #f12f05;
}

.media-list .media .media-body .controls .vote .button {
    float: right;
}

.media-list .media .media-body .controls .vote .button button {
    width: 30px;
    height: 100%;
    line-height: 30px;
}

.media-list > .media > .media-list .media-left {
    margin-left: 10px;
}

.media-list > .media > .media-list .media-left > img {
    width: 50px;
}

.media-list > .media > .media-list .media > .media-list .media-left {
    margin-left: 10px;
}

.media-list > .media > .media-list .media > .media-list .media-left > img {
    width: 40px;
}

.topic-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topic-list .thumbnail {
    background: transparent;
    height: 70px;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.topic-list .thumbnail a {
    display: block;
    color: #ffffff;
    text-align: center;
}

.topic-list .thumbnail a img {
    display: inline-block;
}

.topic-list .title {
    border: solid 1px #ababab;
    height: 30px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    padding: 5px;
}

.topic-list .title a {
    color: #838383;
    line-height: 20px;
    margin: 0;
    display: block;
}

.topic-list > div {
    margin: 1% auto;
}

.body-content {
    height: 100%;
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.body-content h1.title {
    color: #2c2c2c;
    font-size: 2.5em;
    font-weight: normal;
}

.body-content .content-header {
    background-color: #f3f3f3;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px;
}

.body-content .content-header h1 {
    margin-top: 0;
}

.body-content .row:nth-child(1) h1 > span {
    color: #888888;
    font-size: 0.5em;
}

.body-content .form-search {
    margin-top: 20px;
    margin-bottom: 10px;
}

.body-content .form-search > .dropdown {
    float: left !important;
    display: inline-table;
}

.body-content .form-search > .dropdown > button {
    background: none;
    color: #cbcbcb;
    padding: 0 10px;
}

.body-content .form-search > .dropdown > button i {
    line-height: 40px;
}

.body-content .form-search .form-group {
    vertical-align: top;
    float: right;
    display: inline-table;
}

.body-content .form-search .form-group .input-group .form-control {
    height: 40px;
    border: none;
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: -30px;
    box-shadow: none;
}

.body-content .form-search .form-group .input-group .form-control label {
    margin-bottom: 10px;
}

.body-content .form-search .form-group .input-group .input-group-addon {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.body-content .form-search .form-group .input-group .input-group-addon button {
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
}

.body-content .form-search .form-group .input-group .input-group-addon .dropdown button {
    padding: 0 10px;
    background-color: #ffffff;
}

.body-content .form-search .form-group .input-group .input-group-addon .dropdown button .caret {
    border-color: #000000 transparent -moz-use-text-color;
}

.body-content .form-search .form-group .input-group .input-group-addon .dropdown .dropdown-menu li {
    text-align: left;
}

.body-content .summary {
    font-size: 0.9em;
}

.body-content .column-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body-content .column-list > li {
    width: 31%;
    float: left;
    margin: 0 1% 10px 1%;
}

.body-content .column-list > li a {
    font-size: 1.2em;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    display: block;
    text-align: left;
}

.body-content .column-list > li a i {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 35px;
}

.body-content .column-list > li a.title {
    margin-right: 30px;
}

.body-content .column-list > li a.title span:first-child {
    width: 90px;
    float: right;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 10px;
    overflow: hidden;
    text-align: right;
}

.body-content .column-list > li a.title span:last-child {
    height: 35px;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 35px;
    overflow: hidden;
}

.body-content .column-list > li a.collapse {
    width: 30px;
    float: right;
}

.body-content .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.body-content .outer .button {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.body-content .outer .button button {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.body-content .result {
    margin: 1%;
    height: 200px;
    position: relative;
}

.body-content .result h1 {
    color: #838383;
    display: inline-block;
}

.body-content #folder-web-cards > .constrols h1 {
    display: inline-block;
}

.body-content .board {
    background-color: #fafafa;
}

.body-content .board .nav-tabs {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.body-content .board .nav-tabs a {
    color: #838383;
}

.body-content .board .nav-tabs > li.active a,
.body-content .board .nav-tabs > li.active a:hover,
.body-content .board .nav-tabs > li.active a:focus {
    background-color: #fafafa;
}

.breadcrumb {
    padding: 0;
    margin: 10px auto;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.breadcrumb > li > a {
    color: #2c2c2c;
    font-size: 0.8em;
}

.breadcrumb li + li:before {
    color: #838383;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
}

.breadcrumb li.active > a {
    color: #ff3333;
    font-size: 0.8em;
}

.controls-bar {
    float: right;
}

.controls-bar.pull-left {
    clear: left;
}

.controls-bar.pull-right {
    clear: right;
}

.controls-bar .buttons {
    float: right;
    margin: 0 5px 5px 0;
    background-color: #ffffff;
}

.controls-bar .buttons button,
.controls-bar .buttons a.button {
    width: 35px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
}

.controls-bar .buttons.button-db {
    border: 1px solid #d3d3d3;
    height: 30px;
    overflow: hidden;
}

.controls-bar .buttons.button-db a.button {
    border: none;
    border-right: 1px solid #d3d3d3;
}

.controls-bar .buttons.button-db a.button:last-child {
    margin-left: -4px;
    border-right: none;
}

.controls-bar .buttons > div.dropdown {
    display: inline-block;
}

.controls-bar .buttons > div.dropdown:last-child {
    margin-left: -5px;
}

.controls-bar .buttons .left {
    float: left;
}

.controls-bar .buttons > span {
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: right;
    border: 1px solid #d3d3d3;
    border-right: 0;
    background-color: #ffffff;
    padding: 0 12px;
}

.controls-bar .buttons .selectize-control {
    width: 150px;
    height: 30px;
    line-height: 30px;
}

.controls-bar .buttons .selectize-control .selectize-input {
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    border-right: 0;
    border-left: 0;
    min-height: 30px;
    padding: 0 12px;
}

.controls-bar .buttons .selectize-control .selectize-input.focus {
    box-shadow: none;
    border-color: #d3d3d3;
}

.cover-profile {
    height: 172px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}

.cover-profile .avatar {
    height: 115px;
    width: 115px;
    overflow: hidden;
    position: absolute;
    margin: auto 40px auto 20px;
    top: 0;
    bottom: 0;
}

.cover-profile .cover-img {
    height: 172px;
    overflow: hidden;
    position: absolute;
}

.cover-profile .cover-img > img {
    width: 100%;
}

.cover-profile .basic-info {
    padding: 0 175px 30px;
    position: relative;
    height: 100%;
    width: 100%;
    color: #ffffff;
}

.cover-profile .basic-info .pull-left h3 > span {
    font-size: 0.6em;
    font-weight: normal;
    padding-left: 10px;
}

.cover-profile .basic-info .pull-left button,
.cover-profile .basic-info .pull-left a.button {
    height: 30px;
    width: 90px;
}

.cover-profile .basic-info .pull-right {
    position: absolute;
    padding-top: 40px;
    padding-right: 20px;
    right: 0;
}

.cover-profile .basic-info .pull-right > div {
    display: inline-block;
    text-align: center;
}

.cover-profile .basic-info .pull-right > div span {
    display: block;
}

.cover-profile .basic-info .pull-right > div span:first-child {
    font-size: 1.7em;
}

.cover-profile .basic-info .pull-right > div:last-child {
    margin-left: 10px;
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    clear: both;
    text-align: center;
    display: block;
}

.pagination > li {
    display: inline-block;
}

.pagination > li.disabled a {
    background-color: transparent;
}

.pagination > li.active a,
.pagination > li:hover a {
    color: #ffffff;
    background: #ff3333;
}

.pagination > li > a,
.pagination > li > span {
    background-color: transparent;
    border: none;
    position: relative;
    text-decoration: none;
    color: #bfc7cb;
    font-size: 1.1em;
}

.pagination > li:first-child a,
.pagination > li:last-child a {
    font-weight: bold;
}

.list-view {
    list-style: none;
    padding: 30px 0 0;
    margin: 0;
}

.list-view > li {
    clear: both;
}

.list-view > li .controls {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.list-view > li .controls .buttons {
    width: 80px;
}

.list-view > li .controls .buttons .button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}

.list-view > li .controls .buttons .button button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
}

.list-view > li .controls .buttons .button.empty {
    display: none !important;
}

.list-view > li .controls .buttons a {
    color: #838383;
}

.list-view > li .controls .buttons a:hover,
.list-view > li .controls .buttons a.selected {
    color: #ff3333;
}

.list-view > li .controls .buttons span {
    font-size: 0.9em;
    width: 40px;
    overflow: hidden;
}

.list-view > li .controls .buttons.pull-right {
    display: block;
    width: 40px;
}

.list-view > li .controls .buttons.pull-right .button {
    display: none;
    float: right;
    padding: 0 1px;
    max-width: 40px;
}

.list-view > li .controls .buttons.pull-right .button button {
    width: auto;
    max-width: 40px;
    overflow: hidden;
}

.list-view > li .controls .buttons.pull-right .button:nth-child(1) {
    display: block;
}

.list-view > li .controls .info {
    margin-left: 80px;
    margin-right: 40px;
}

.list-view > li .controls .info > div {
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
}

.list-view > li .controls .info > div:first-child {
    text-align: left;
}

.list-view > li .controls .info h5 {
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: #838383;
}

.list-view > li .controls .info h5 span {
    padding-left: 10px;
    font-size: 0.8em;
    font-weight: normal;
}

.list-view > li:hover.hover,
.list-view > li.selected {
    background-color: #e8e8e8;
}

.list-view > li:hover.hover .controls button.hover-bg-o,
.list-view > li.selected .controls button.hover-bg-o {
    color: #ffffff;
}

.list-view > li:hover.hover .controls button.hover-bg-o.has-border,
.list-view > li.selected .controls button.hover-bg-o.has-border {
    border-color: #ffffff;
}

.list-view > li:hover.hover .controls button.hover-bg-o.has-border:hover,
.list-view > li.selected .controls button.hover-bg-o.has-border:hover,
.list-view > li:hover.hover .controls button.hover-bg-o.has-border.selected,
.list-view > li.selected .controls button.hover-bg-o.has-border.selected {
    border-color: #ff3333;
}

.list-view > li:hover.hover .controls .buttons.pull-right,
.list-view > li.selected .controls .buttons.pull-right {
    width: 40px;
}

.list-view > li:hover.hover .controls .buttons.pull-right .button,
.list-view > li.selected .controls .buttons.pull-right .button {
    display: block;
}

.list-view > li:hover.hover .controls .info,
.list-view > li.selected .controls .info {
    margin-right: 40px;
}

.list-view > li:hover.hover .controls .info > div:nth-child(1),
.list-view > li.selected .controls .info > div:nth-child(1) {
    width: 100%;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.list-view > li.hover.cut {
    border: 1px dashed;
    border-radius: 3px;
    opacity: 0.5;
    margin: -1px;
}

#weblink.list-view > li .controls .buttons.pull-left {
    width: 160px;
}

#weblink.list-view > li .controls .buttons.pull-left .button:nth-child(2) {
    text-align: left;
    width: 80px;
}

#weblink.list-view > li .controls .buttons.pull-left .button:nth-child(2) button {
    width: 70px;
}

#weblink.list-view > li .controls .buttons.pull-right .button:nth-child(3) {
    width: 80px;
    max-width: none;
    padding: 0;
}

#weblink.list-view > li .controls .buttons.pull-right .button:nth-child(3) button {
    width: 70px;
}

#weblink.list-view > li .controls .buttons.pull-right .button:nth-child(7) {
    width: 120px;
    max-width: none;
    padding: 0;
    text-align: right;
}

#weblink.list-view > li .controls .buttons.pull-right .button:nth-child(7) button {
    width: 30px;
}

#weblink.list-view > li .controls .info {
    margin-left: 160px;
}

#weblink.list-view > li:hover.hover .controls .buttons.pull-right,
#weblink.list-view > li.selected .controls .buttons.pull-right {
    width: 400px;
}

#weblink.list-view > li:hover.hover .controls .info,
#weblink.list-view > li.selected .controls .info {
    margin-right: 400px;
}

#manage-feed-list.list-view > li .controls .buttons.pull-left .button:nth-child(2) button i.fa {
    top: 0;
}

#edit-feed-list.list-view > li .controls .buttons.pull-left .button:nth-child(2) {
    text-align: center;
    width: 40px;
}

#edit-feed-list.list-view > li .controls .buttons.pull-left .button:nth-child(2) button {
    width: 30px;
}

#edit-feed-list.list-view > li .controls .buttons.pull-right .button:nth-child(2) {
    width: 80px;
    max-width: none;
    padding: 0;
}

#edit-feed-list.list-view > li .controls .buttons.pull-right .button:nth-child(2) button {
    width: 70px;
}

#edit-feed-list.list-view > li:hover.hover .controls .buttons.pull-right,
#edit-feed-list.list-view > li.selected .controls .buttons.pull-right {
    width: 240px;
}

#edit-feed-list.list-view > li:hover.hover .controls .info,
#edit-feed-list.list-view > li.selected .controls .info {
    margin-right: 240px;
}

#edit-interest-list.list-view > li .controls .buttons.pull-right .button:nth-child(3) {
    width: 120px;
    max-width: none;
    padding: 0;
    text-align: right;
}

#edit-interest-list.list-view > li .controls .buttons.pull-right .button:nth-child(3) button {
    width: 30px;
}

#edit-interest-list.list-view > li:hover.hover .controls .buttons.pull-right,
#edit-interest-list.list-view > li.selected .controls .buttons.pull-right {
    width: 200px;
}

#edit-interest-list.list-view > li:hover.hover .controls .info,
#edit-interest-list.list-view > li.selected .controls .info {
    margin-right: 200px;
}

#add_feed h3 {
    margin: 10px 0;
}

#add_feed .form-inline {
    margin-top: 20px;
    margin-bottom: 10px;
}

#add_feed .form-inline .form-group {
    vertical-align: top;
    display: inline-table;
    width: 100%;
    float: none;
}

#add_feed .form-inline .form-group .input-group {
    width: 100%;
}

#add_feed .form-inline .form-group .input-group .form-control {
    height: 40px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
    margin: 0;
}

#add_feed .form-search .form-group .input-group .form-control {
    padding-right: 40px;
}

#add_feed .form-search .form-group .input-group button {
    height: 100%;
    width: 40px;
    position: absolute;
    right: 0;
}

#manage-list.list-view > li .controls .buttons.pull-left {
    width: 160px;
}

#manage-list.list-view > li .controls .buttons.pull-right .button:nth-child(5) {
    width: 120px;
    max-width: none;
    padding: 0;
    text-align: right;
}

#manage-list.list-view > li .controls .buttons.pull-right .button:nth-child(5) button {
    width: 30px;
}

#manage-list.list-view > li .controls .info {
    margin-left: 160px;
}

#manage-list.list-view > li:hover.hover .controls .buttons.pull-right,
#manage-list.list-view > li.selected .controls .buttons.pull-right {
    width: 280px;
}

#manage-list.list-view > li:hover.hover .controls .info,
#manage-list.list-view > li.selected .controls .info {
    margin-right: 280px;
}

#manage-list.list-view > li.link.selection .controls .buttons.pull-left {
    width: 160px;
}

#manage-list.list-view > li.link.selection .controls .info {
    margin-left: 160px;
}

#manage-list.list-view > li.link .controls .buttons.pull-left {
    width: 200px;
}

#manage-list.list-view > li.link .controls .buttons.pull-left .button:nth-child(4) {
    text-align: left;
    width: 80px;
}

#manage-list.list-view > li.link .controls .buttons.pull-left .button:nth-child(4) button {
    width: 70px;
}

#manage-list.list-view > li.link .controls .info {
    margin-left: 200px;
}

#manage-list.list-view > li.folder.selection .controls .buttons.pull-left {
    width: 120px;
}

#manage-list.list-view > li.folder.selection .controls .info {
    margin-left: 120px;
}

#manage-list.list-view > li.folder .controls .buttons.pull-left .button:nth-child(4) button i.fa {
    top: 0;
}

#manage-list.list-view > li.folder .controls .info {
    margin-left: 160px;
}

#manage-list.list-view > li.coop .controls .buttons.pull-right {
    width: 80px;
}

#manage-list.list-view > li.coop .controls .buttons.pull-right .button:nth-child(6) {
    display: block;
}

#manage-list.list-view > li.coop .controls .info {
    margin-right: 80px;
}

#manage-list.list-view > li.coop:hover.hover .controls .buttons.pull-right .button:nth-child(6),
#manage-list.list-view > li.coop.selected .controls .buttons.pull-right .button:nth-child(6) {
    display: none;
}

#manage-tags.list-view > li.selection .controls .buttons.pull-left {
    width: 40px;
}

#manage-tags.list-view > li.selection .controls .info {
    margin-left: 40px;
}

#manage-tags.list-view > li.hover .controls .info > div:last-child {
    color: #ff3333;
}

#manage-tags.list-view > li:hover.hover .controls .info > div:nth-child(1),
#manage-tags.list-view > li.selected .controls .info > div:nth-child(1) {
    width: 50%;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#manage-broken.list-view > li .controls .buttons.pull-left {
    width: 320px;
}

#manage-broken.list-view > li .controls .buttons.pull-left .button:nth-child(4),
#manage-broken.list-view > li .controls .buttons.pull-left .button:nth-child(5) {
    text-align: left;
    width: 80px;
}

#manage-broken.list-view > li .controls .buttons.pull-left .button:nth-child(4) button,
#manage-broken.list-view > li .controls .buttons.pull-left .button:nth-child(5) button {
    width: 70px;
}

#manage-broken.list-view > li .controls .buttons.pull-left .button:nth-child(4) button {
    color: #ff3333;
}

#manage-broken.list-view > li .controls .info {
    margin-left: 320px;
}

#manage-duplication.list-view > li.link .controls .buttons.pull-left {
    width: 240px;
}

#manage-duplication.list-view > li.link .controls .buttons.pull-left .button:nth-child(4) {
    text-align: left;
    width: 80px;
}

#manage-duplication.list-view > li.link .controls .buttons.pull-left .button:nth-child(4) button {
    width: 70px;
}

#manage-duplication.list-view > li.link .controls .info {
    margin-left: 240px;
}

#manage-duplication.list-view > li.dupli-title .controls .buttons.pull-left {
    width: 120px;
}

#manage-duplication.list-view > li.dupli-title .controls .info {
    margin-left: 120px;
}

.card-list {
    list-style: none;
    margin: 0;
    padding: 30px 15px 0;
    height: 100%;
}

.card-list > div {
    margin-bottom: 30px;
}

.card-list > div > div {
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 5px;
    background: #fbfbfb;
}

.card-list > div > div .controls {
    padding: 5px 0;
    line-height: 30px;
    position: relative;
    border-bottom: solid 1px #dddddd;
}

.card-list > div > div .controls h5 {
    height: 100%;
    margin: 0 90px 0 0;
    padding: 0 10px;
    line-height: 30px;
    text-transform: uppercase;
    overflow: hidden;
    color: #838383;
}

.card-list > div > div .controls h5 i {
    padding-right: 10px;
}

.card-list > div > div .controls .button {
    float: left;
    font-size: 0.9em;
    color: #838383;
}

.card-list > div > div .controls .button button {
    padding: 3px 10px;
    height: 100%;
    line-height: 30px;
}

.card-list > div > div .controls .button:nth-child(2) span {
    height: 100%;
    line-height: 35px;
    margin: 0 -5px;
}

.card-list > div > div .controls > p,
.card-list > div > div .controls > a {
    padding: 0 100px 0 10px;
}

.card-list > div > div .controls > a {
    text-decoration: none;
}

.card-list > div > div .thumbnail {
    background: transparent;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.card-list > div > div .thumbnail > a {
    display: block;
    color: #ffffff;
    text-align: center;
    height: 100%;
}

.card-list > div > div .thumbnail > a img {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.card-list > div > div .thumbnail .hover-control {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/mask.png") repeat;
}

.card-list > div > div .thumbnail .hover-control .link {
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
    background: #777a75;
    padding: 10px 13px;
    border-radius: 50%;
}

.card-list > div > div .thumbnail .hover-control .link-folder {
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
}

.card-list > div > div .thumbnail .hover-control .link-folder i:first-child {
    font-size: 2em;
    color: #838383;
}

.card-list > div > div .thumbnail .hover-control .link-folder i:last-child {
    margin-left: -22px;
    margin-top: 9px;
    padding-right: 10px;
    vertical-align: top;
    font-size: 0.8em;
}

.card-list > div > div .thumbnail .hover-control .more {
    position: absolute;
    top: 5%;
    right: 5%;
    display: block;
}

.card-list > div > div .thumbnail .hover-control .more li > a {
    background-color: transparent;
}

.card-list > div > div .thumbnail .hover-control .more li > a:hover,
.card-list > div > div .thumbnail .hover-control .more li > a:focus {
    background-color: transparent;
}

.card-list > div > div .thumbnail .hover-control .more .open > a:hover,
.card-list > div > div .thumbnail .hover-control .more .open > a:focus {
    background-color: transparent;
}

.card-list > div > div .thumbnail .hover-control .btn1,
.card-list > div > div .thumbnail .hover-control .btn2,
.card-list > div > div .thumbnail .hover-control .btn3 {
    position: absolute;
    padding: 5%;
    border: solid 1px #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 40%;
}

.card-list > div > div .thumbnail .hover-control .btn1.btn1,
.card-list > div > div .thumbnail .hover-control .btn2.btn1,
.card-list > div > div .thumbnail .hover-control .btn3.btn1 {
    left: 30%;
}

.card-list > div > div .thumbnail .hover-control .btn1.btn2,
.card-list > div > div .thumbnail .hover-control .btn2.btn2,
.card-list > div > div .thumbnail .hover-control .btn3.btn2 {
    right: 30%;
}

.card-list > div > div .thumbnail .hover-control .btn1.btn3,
.card-list > div > div .thumbnail .hover-control .btn2.btn3,
.card-list > div > div .thumbnail .hover-control .btn3.btn3 {
    left: 41%;
}

.card-list > div > div .thumbnail .hover-control .btn1:hover,
.card-list > div > div .thumbnail .hover-control .btn2:hover,
.card-list > div > div .thumbnail .hover-control .btn3:hover {
    background: #ff3333;
    border-color: #ff3333;
}

.card-list > div > div .thumbnail .hover-control .btn1 > i,
.card-list > div > div .thumbnail .hover-control .btn2 > i,
.card-list > div > div .thumbnail .hover-control .btn3 > i {
    color: #ffffff;
    font-size: 1.5em;
}

.card-list > div > div .thumbnail .hover-control .tooltip .tooltip-inner {
    background-color: #ff3333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 1.2em;
}

.card-list > div > div .thumbnail .hover-control .tooltip.top .tooltip-arrow {
    border-top-color: #ff3333;
}

.card-list > div > div .thumbnail .hover-control .time {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: block;
    color: #ffffff;
}

.card-list > div > div .thumbnail .hover-control .time > i {
    color: #ffffff;
}

.card-list > div > div .thumbnail:hover .hover-control {
    display: block;
}

.card-list > div > div .list-child {
    padding: 10px 0;
}

.card-list > div > div .list-child > div {
    padding-left: 5px;
    padding-right: 5px;
}

.card-list > div > div .list-child > div img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.card-list > div > div h2 {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-size: 1.1em;
    color: #2c2c2c;
    white-space: nowrap;
}

.card-list > div > div .description {
    padding: 10px;
    height: 110px;
    line-height: 20px;
    text-align: justify;
    overflow: hidden;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    border-bottom: solid 1px #dddddd;
}

.card-list > div > div .description h5 {
    color: #838383;
    margin-top: 0;
}

.card-list > div > div .description p {
    font-size: 0.8em;
}

.card-list > div > div .categories,
.card-list > div > div .card-link,
.card-list > div > div .card-folder {
    padding: 5px 0;
    line-height: 30px;
    position: relative;
    border-bottom: solid 1px #dddddd;
}

.card-list > div > div .categories > i,
.card-list > div > div .card-link > i,
.card-list > div > div .card-folder > i {
    float: right;
    font-size: 1.2em;
    padding: 6px 12px;
}

.card-list > div > div .categories > a {
    padding: 6px 12px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ff3333;
    color: #ffffff;
}

.card-list > div > div .card-link > a,
.card-list > div > div .card-folder > a {
    margin-left: 10px;
    color: #838383;
    font-size: 0.9em;
    font-weight: normal;
}

.card-list > div > div .card-link > a > i:first-child,
.card-list > div > div .card-folder > a > i:first-child {
    font-size: 2.0em;
}

.card-list > div > div .card-link > a > i:nth-child(2),
.card-list > div > div .card-folder > a > i:nth-child(2) {
    color: #ffffff;
    margin-left: -22px;
    margin-top: 7px;
    padding-right: 10px;
    vertical-align: top;
}

.card-list > div > div .card-link > a > i:first-child {
    font-size: 1.0em;
}

.card-list > div > div .info {
    margin-top: 10px;
    max-height: 32px;
    line-height: 30px;
    overflow: hidden;
}

.card-list > div > div .info > div {
    border-top: solid 1px #ababab;
    border-bottom: solid 1px #ababab;
    padding: 0 10px !important;
}

.card-list > div > div .info > div:first-child {
    border-right: solid 1px #ababab;
}

.card-list > div > div .info > p {
    padding: 0 10px;
}

.card-list > div > div.create-folder {
    border-style: dashed;
}

.card-list > div > div.create-folder > div {
    text-align: center;
    padding-top: 25%;
    padding-bottom: 31%;
}

.card-list > div > div.create-folder > div > i {
    font-size: 6.0em;
}

.card-list#folders > li .controls {
    height: 90px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.card-list#folders > li .controls h5 {
    float: left;
    margin: 30px 0;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    width: 100%;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.card-list#folders > li.add-folder .controls button,
.card-list#folders > li.add-folder .controls a.button {
    height: 60px;
    line-height: 30px;
    margin: 15px 0;
    width: 100%;
}

.card-list#folders > li.add-folder .controls a.button {
    padding: 0;
    text-align: center;
}

.card-list#files.interest-files.card-list > li .description {
    height: 60px;
}

.card-list#files.interest-files.card-list > li .info > div {
    border-left: none;
    border-right: none !important;
    border-bottom: none;
    text-align: right;
}

.card-list#files.edit-card > li > .controls.top {
    height: 90px;
    overflow: hidden;
}

.card-list#files.edit-card > li > .controls.top img {
    padding: 10px;
}

.card-list#files.edit-card > li > .controls.top .button {
    margin: 10px;
}

.card-list#files.edit-card > li > .controls.top .button:nth-child(3) {
    right: 0;
}

.card-list#files.edit-card > li > .controls.top .button button {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card-list#files.edit-card > li .description {
    padding: 10px;
    height: 60px;
    margin-bottom: 10px;
}

.card-list#files.edit-card > li .description h5 {
    color: #838383;
}

#files {
    position: relative;
    max-width: 100%;
    width: 100%;
}

#files .card {
    position: absolute;
}

.tabs-content a {
    color: #838383;
}

.tabs-content button,
.tabs-content a.button {
    height: 30px;
    padding: 0 20px;
}

.tabs-content .navbar-nav {
    padding: 0 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ababab;
    width: 100%;
}

.tabs-content .navbar-nav > li:hover,
.tabs-content .navbar-nav > li .active {
    border-bottom: 1px solid #ff3333;
    margin-bottom: -1px;
}

.tabs-content .navbar-nav > li > a:hover,
.tabs-content .navbar-nav > li > a:focus {
    background: transparent;
}

.tabs-content .controls-bar {
    margin-top: 10px;
}

.tabs-content .panels {
    margin-top: 20px;
}

.tabs-content .panels .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tabs-content .panels .panel .panel-heading,
.tabs-content .panels .panel .panel-body,
.tabs-content .panels .panel .panel-footer {
    padding: 10px;
}

.tabs-content .panels .panel .panel-heading > a,
.tabs-content .panels .panel .panel-body > a,
.tabs-content .panels .panel .panel-footer > a {
    color: #838383;
    font-size: 0.8em;
}

.tabs-content .panels .panel .panel-heading {
    background: #fbfbfb;
}

.tabs-content .panels .panel .panel-heading .panel-title > a {
    font-size: 0.8em;
}

.tabs-content .panels .thumbnail {
    border: 0;
    padding: 0;
    margin: 0 1.66666667% 5px;
    width: 30%;
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tabs-content .panels .thumbnail img {
    border: 1px solid #ababab;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tabs-content .panels .thumbnail .caption {
    padding: 5px 5px 5px 0;
}

.tabs-content .panels .thumbnail.people img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tabs-content .panels .thumbnail.people .caption {
    text-align: center;
    padding-left: 5px;
}

.tabs-content .panels .thumbnail.folders img {
    padding: 5px;
}

.tabs-content .panels .thumbnail.link {
    width: 100%;
    float: none;
    margin: 0 0 10px;
    height: 50px;
    clear: both;
}

.tabs-content .panels .thumbnail.link img {
    margin: 0;
    max-width: 50px;
}

.tabs-content .panels .thumbnail.link .caption {
    margin-left: 60px;
    height: 100%;
    position: relative;
}

.tabs-content .panels .thumbnail.link .caption > h5 {
    margin: 0;
}

.tabs-content .panels .thumbnail.link .caption > a {
    display: block;
    position: absolute;
    bottom: 0;
}

.tabs-content .well {
    padding: 0 10px 10px;
    background: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tabs-content .well > .media-list:first-child {
    margin-top: 0;
}

.tabs-content .well > .media-list:first-child > .media {
    border-top: 0;
    margin-top: 0;
}

#squaresWaveG {
    position: relative;
    width: 100px;
    height: 12px;
}

.squaresWaveG {
    position: absolute;
    top: 0;
    background-color: #ff3333;
    width: 12px;
    height: 12px;
    -moz-animation-name: bounce_squaresWaveG;
    -moz-animation-duration: 1.1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -webkit-animation-name: bounce_squaresWaveG;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -ms-animation-name: bounce_squaresWaveG;
    -ms-animation-duration: 1.1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: normal;
    -o-animation-name: bounce_squaresWaveG;
    -o-animation-duration: 1.1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    animation-name: bounce_squaresWaveG;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#squaresWaveG_1 {
    left: 0;
    -moz-animation-delay: 0.44s;
    -webkit-animation-delay: 0.44s;
    -ms-animation-delay: 0.44s;
    -o-animation-delay: 0.44s;
    animation-delay: 0.44s;
}

#squaresWaveG_2 {
    left: 13px;
    -moz-animation-delay: 0.55s;
    -webkit-animation-delay: 0.55s;
    -ms-animation-delay: 0.55s;
    -o-animation-delay: 0.55s;
    animation-delay: 0.55s;
}

#squaresWaveG_3 {
    left: 26px;
    -moz-animation-delay: 0.66s;
    -webkit-animation-delay: 0.66s;
    -ms-animation-delay: 0.66s;
    -o-animation-delay: 0.66s;
    animation-delay: 0.66s;
}

#squaresWaveG_4 {
    left: 39px;
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s;
}

#squaresWaveG_5 {
    left: 52px;
    -moz-animation-delay: 0.88s;
    -webkit-animation-delay: 0.88s;
    -ms-animation-delay: 0.88s;
    -o-animation-delay: 0.88s;
    animation-delay: 0.88s;
}

#squaresWaveG_6 {
    left: 65px;
    -moz-animation-delay: 0.99s;
    -webkit-animation-delay: 0.99s;
    -ms-animation-delay: 0.99s;
    -o-animation-delay: 0.99s;
    animation-delay: 0.99s;
}

#squaresWaveG_7 {
    left: 78px;
    -moz-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

#squaresWaveG_8 {
    left: 91px;
    -moz-animation-delay: 1.21s;
    -webkit-animation-delay: 1.21s;
    -ms-animation-delay: 1.21s;
    -o-animation-delay: 1.21s;
    animation-delay: 1.21s;
}

@-moz-keyframes bounce_squaresWaveG {
    100% {
        background-color: #ffffff;
    }
}

@-webkit-keyframes bounce_squaresWaveG {
    0% {
        background-color: #ff3333;
    }
    100% {
        background-color: #ffffff;
    }
}

@-ms-keyframes bounce_squaresWaveG {
    0% {
        background-color: #ff3333;
    }
    100% {
        background-color: #ffffff;
    }
}

@-o-keyframes bounce_squaresWaveG {
    0% {
        background-color: #ff3333;
    }
    100% {
        background-color: #ffffff;
    }
}

@keyframes bounce_squaresWaveG {
    0% {
        background-color: #ff3333;
    }
    100% {
        background-color: #ffffff;
    }
}

.footer {
    height: 40px;
    width: 60%;
    background-color: #2f2f2f;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #212121;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    z-index: 2;
}

.footer .close_debug {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: #ffffff;
    font-size: 26px;
    z-index: 9;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

.footer.opened {
    height: 160px;
    overflow: auto;
}
