{% load staticfiles %}
<div class="card-item" id="bookmark-card">
    <div class="card-item-image">
        <div class="neo">
            <span class="pull-left" id="link">
                <i class="fa fa-link"></i>
            </span>
        </div>
        <div class="hover-image">
            <div class="row no-margin no-padding">
                <div class="btn-group open pull-right" dropdown="">
                    <button class="btn btn-trans"
                            ng-click="interactive(item, 'bookmark')"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    {% include 'layout/include/bookmark-menu.html' %}
                </div>
            </div>
            <div class="item-nav-middle">
                <ul class="statistics list-inline" id="icon-status">
                    <li>
                        <i ng-click="actionLike(item,'post')" class="fa fa-fw fa-arrow-up"
                           ng-class="{'voted': item.status.liked}"></i>
                        {$ item.statistic.likes || 0 $}
                    </li>
                    <li>
                        <i ng-click="actionDislike(item,'post')" class="fa fa-fw fa-arrow-down"
                           ng-class="{'voted': item.status.disliked}"></i>
                        {$ item.statistic.dislikes || 0 $}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-comment"></i>
                        {$ item.statistic.comments || 0 $}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-eye"></i>
                        {$ item.statistic.views || 0 $}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-share-square-o"></i>
                        {$ item.statistic.shares || 0 $}
                    </li>
                    <li class="pull-right">
                        <button type="button" class="collapse-button" data-toggle="panel-box"
                                data-target="#demo">
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="img-thumbnail no-padding img-full-width">
            <img alt="{$ globals.cdn + 'post/' + item.thumbnails[0] $}"
                 ng-src="{$ globals.cdn + 'post/' + item.thumbnails[0] $}"
                 err-src="{% static 'images/thumbnail-link.jpg' %}"
                 class="img-responsive img-full-width"/>
        </div>
    </div>
    <div class="card-item-body">
        <h4 class="title"><a target="_blank" href="{$ item.url |http $}">{$ item.name $}</a></h4>

        <p>{$ item.description |truncate $}</p>
    </div>
</div>
<div class="card-item-extra">
    <div class="panel-box">
        <ul class="icon-status list-inline" id="item" ng-class="{'hidden': !item.categories}">
            <li>
                <a href="javascript:void(0)"
                   ui-sref="feeds.view({viewType:globals.settings.viewType, pk:'{$ categ.id $}'})"
                   ng-repeat="categ in item.categories"
                   class="btn btn-category-item no-margin">
                    <i class="fa fa-fw fa-paint-brush"></i>
                    {$ categ.name $}
                </a>
                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
            </li>
        </ul>
        <ul class="icon-status list-inline" id="item">
            <li>
                <a href="{$ item.feed.url |http $}" target="_blank" class=" btn-link-item no-margin">
                    <img alt=""
                         ng-src="{$ globals.cdn + 'feed_source_icon/' + item.feed.icon $}"
                         err-src="{% static 'images/fa-globe-w.png' %}"
                         width="16" height="16"
                         class=""/>

                    {$ item.feed.name $}</a>
                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
            </li>
        </ul>
        <ul class="icon-status list-inline" id="item">
            <li>
                <a href="javascript:void(0)" class=" btn-link-item no-margin">
                    <i class="fa fa-fw fa-folder"></i> {$ '???' $}</a>
                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
            </li>
        </ul>
    </div>
</div>
