<ul class="dropdown-menu custom-menu" role="menu">
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup(item)">
            Open
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="copy()">
            Copy
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="cut()">
            Cut
        </a>
    </li>
    <li ng-if="false">
        <a href="javascript:void(0);" ng-click="showBookmarkRenamePopup()">
            Rename
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showDeletePopup()">
            Delete
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showManageTagsPopup()">
            Manage tag
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="javascript:void(0);" ng-click="showSharePopup()">
            Share
        </a>
    </li>
</ul>
