<ul class="dropdown-menu custom-menu" role="menu">
    <li>
        <a href="javascript:void(0);" ng-click="showSharePopup()">
            Share
        </a>
    </li>
    <li>
        <a href="javascript:void(0);"
           ng-click="interactive(item,'post');item.status.bookmarked ? continue : showAddLinkPopup();">
            Bookmark
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="markAsRead(item)">
            Mark as read
        </a>
    </li>
</ul>
