<ul class="dropdown-menu custom-menu" role="menu">
    <li>
        <a target="_blank" href="{$ item.url $}">
            Visit web
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showSharePopup(item)">
            Share
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showSubscribePopup(item)">
            Subscribe
        </a>
    </li>
</ul>
