<ul class="dropdown-menu custom-menu" role="menu">
    <li ng-disabled="!globals.interactive.action">
        <button ng-disabled="!globals.interactive.action"
                ng-class="{ 'enabled' : globals.interactive.action , 'disabled' : !globals.interactive.action}"
                ng-click="paste(1)" class="paste">
            Paste
        </button>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showCreateLinkPopup()">
            Create Link
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showRenamePopup()">
            Rename
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showDeletePopup()">
            Delete
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showManageTagsPopup()">
            Manage tag
        </a>
    </li>
</ul>