{% load staticfiles %}
<div class="card-item" id="folder">
    <div class="card-item-image">
        <div class="neo">
            <span class="pull-left" id="link">
                <i class="fa fa-folder"></i>
            </span>
        </div>
        <div class="hover-image">
            <div class="row no-padding no-margin">
                <div class="btn-group open pull-right" dropdown="">
                    <button class="btn btn-trans"
                            ng-click="interactive(item, 'folder')"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        <i class="fa fa-gear"></i>
                    </button>
                    {% include 'layout/include/folder-menu.html' %}
                </div>
            </div>
            <div class="item-nav-middle">
                <div class="item-nav-middle-inner">
                    <a ui-sref="manage.view({viewType: globals.settings.viewType, pk: item.id})"
                       class="btn btn-open btn-middle popover-primary" popover-trigger="mouseenter"
                       ng-click="interactive(item,'post');item.status.bookmarked ? continue : showAddLinkPopup();"
                       popover-placement="top" popover="Open"><i class="fa fa-folder-open"></i>
                    </a>
                </div>
                <ul class="statistics list-inline" id="icon-status">
                    <li>
                        <i ng-click="actionLike(item,'folder')" class="fa fa-fw fa-arrow-up"
                           ng-class="{'voted': item.status.liked}"></i>
                        {$ item.statistic.likes || 0 $}
                    </li>
                    <li>
                        <i ng-click="actionDislike(item,'folder')" class="fa fa-fw fa-arrow-down"
                           ng-class="{'voted': item.status.disliked}"></i>
                        {$ item.statistic.dislikes || 0 $}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-eye"></i>
                        {$ item.statistic.views || 0 $}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-share-square-o"></i>
                        {$ item.statistic.shares || 0 $}
                    </li>
                </ul>
            </div>
        </div>
        <div class="img-thumbnail no-padding img-full-width">
            <img alt=""
                 ng-src="{% static 'images/card-folder.jpg' %}"
                 err-src="{% static 'images/card-folder.jpg' %}"
                 class="img-responsive img-full-width"/>
        </div>
        <div class="card-info-layer">
            <h4>{$ item.name $}</h4>
        </div>
    </div>
    <div class="card-item-body">
        <h5>{$ item.description |truncate $}</h5>
    </div>
</div>
