<span class="action-buttons">
    <button class="center input-check"
            ng-show="globals.selection.hand_select"
            ng-model="globals.selection.select_all"
            ng-click="selectItem(item, 'folders');">
        <i class="fa"
           ng-class="{'fa-check-square-o':item.selected , 'fa-square-o' : !item.selected}"></i>
    </button>
    <button class="center favorite-star"
            ng-click="actionFavourite(item)">
        <i class="fa"
           ng-class="{'fa-star':item.status.favourited , 'fa-star-o' : !item.status.favourited}"></i>
    </button>
    <button class="center add-item"
            ng-click="interactive(item,'folder');$state.go('manage.view',{viewType: globals.settings.viewType, pk: item.id})">
        <i class="fa fa-folder-open"></i>
    </button>
</span>

<span class="col-xs-10 info-text">
    <a href="javascript:void(0)" ui-sref="manage.view({viewType: globals.settings.viewType, pk: item.id})"><strong>{$item.name$}</strong></a>
    {$ item.description |truncate $}
</span>

<span class="col-xs-1 more" dropdown>
    <button type="button " class="more-action pull-right-sm"
            data-toggle="dropdown" ng-click="interactive(item, 'folder')"><i class="fa fa-ellipsis-h"></i></button>
    {% include 'layout/include/folder-menu.html' %}
</span>

<span class="info-bar">
    <a href="javascript:void(0)" ng-click="actionLike(item,'folder')">
        <i class="fa fa-arrow-up" ng-class="{'voted': item.status.liked}"></i>
        {$ item.statistic.likes || 0 $}
    </a>
    <a href="javascript:void(0)" ng-click="actionDislike(item,'folder')">
        <i class="fa fa-arrow-down" ng-class="{'voted': item.status.disliked}"></i>
        {$ item.statistic.dislikes || 0 $}
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-comment"></i>
        {$ item.statistic.comments || 0 $}
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-eye"></i>
        {$ item.statistic.views || 0 $} </a>
    <a href="javascript:void(0)">
        <i class="fa fa-share-square-o"></i>
        {$ item.statistic.shares || 0 $}
    </a>
    <a href="javascript:void(0)" title="{$ item.published_on | date:'medium' $}">
        <i class="fa fa-clock-o"></i>
        {$ item.published_on | amDifference : null : 'days' | abs $}d
    </a>
</span>
