<ul class="dropdown-menu custom-menu" role="menu">
    <li>
        <a ui-sref="manage.view({type: 'folder', viewType: globals.settings.viewType, pk: item.id})">
            Open
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="copy()">
            Copy
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="cut()">
            Cut
        </a>
    </li>
    <li ng-disabled="!globals.interactive.action">
        <button ng-disabled="!globals.interactive.action"
                ng-class="{ 'enabled' : globals.interactive.action , 'disabled' : !globals.interactive.action}"
                ng-click="paste()" class="paste">
            Paste
        </button>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showCreateLinkPopup()">
            Create Link
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showRenamePopup()">
            Rename
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showDeletePopup()">
            Delete
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showManageTagsPopup()">
            Manage tag
        </a>
    </li>
    {#<li class="divider"></li>#}
    {#<li>#}
    {#    <a href="javascript:void(0);" ng-click="showBackUpPopup()">#}
    {#        Backup#}
    {#    </a>#}
    {#</li>#}
    {#<li>#}
    {#    <a href="javascript:void(0);" ng-click="showSharePopup()">#}
    {#        Share#}
    {#    </a>#}
    {#</li>#}
    {#<li ng-show="!item.public || item.public<1">#}
    {#    <a ng-click="publish()">#}
    {#        Publish#}
    {#    </a>#}
    {#</li>#}
    {#<li ng-show="item.public && item.public>0">#}
    {#    <a ng-click="publish()">#}
    {#        UnPublish#}
    {#    </a>#}
    {#</li>#}
    {#<li>#}
    {#    <a href="javascript:void(0);" ng-click="showCollaboratePopup()">#}
    {#        Collaborate#}
    {#    </a>#}
    {#</li>#}
    {#<li>#}
    {#    <a href="#/manage/detectbrokenlink" ui-sref="manage.detectbrokenlink">#}
    {#        Detect broken link#}
    {#    </a>#}
    {#</li>#}
    {#<li>#}
    {#    <a href="#/manage/detectduplicationlink" ui-sref="manage.detectduplicationlink">#}
    {#        Detect duplication#}
    {#    </a>#}
    {#</li>#}
</ul>