<ul class="dropdown-menu custom-menu" role="menu">
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup()">
            Open Topic
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showSharePopup()">
            Share
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup()">
            Subscribe
        </a>
    </li>
</ul>
