<span class="action-buttons">
    <button class="center input-check"
            ng-show="globals.selection.hand_select"
            ng-model="globals.selection.select_all"
            ng-click="selectItem(item, 'interest');">
        <i class="fa"
           ng-class="{'fa-check-square-o':item.selected , 'fa-square-o' : !item.selected}"></i>
    </button>
    <button class="center favorite-star"
            ng-click="actionFavourite(item)">
        <i class="fa"
           ng-class="{'fa-star':item.status.favourited , 'fa-star-o' : !item.status.favourited}"></i>
    </button>
     <button class="center add-item"
             ng-click="interactive(item,'interest');">
         <i class="fa fa-check"></i>
     </button>
</span>

<span class="col-xs-10 info-text">
    <span>{$ item.folders[0].name || 'All' |truncate:30 $}</span>
    <i class="fa fa-angle-right"></i>
    <i class="fa fa-link"></i>
    <a href="{$ item.url |http $}" target="_blank">
        <strong>{$ item.name |truncate:30 $}</strong>
    </a>
   <span ng-bind-html="item.description |truncate:70 | unsafe"></span>
</span>

<span class="col-xs-1 more" dropdown>
    <button type="button " class="more-action pull-right-sm"
            data-toggle="dropdown" ng-click="interactive(item,'interest')"><i class="fa fa-ellipsis-h"></i></button>
    {% include 'layout/include/bookmark-menu.html' %}
</span>

<span class="info-bar">
    <a href="javascript:void(0)" ng-click="actionLike(item,'interest')" ng-class="{'voted': item.status.liked}">
        <i class="fa fa-arrow-up"></i>
        {$ item.statistic.likes || 0 $}
    </a>
    <a href="javascript:void(0)" ng-click="actionDislike(item,'interest')" ng-class="{'voted': item.status.disliked}">
        <i class="fa fa-arrow-down"></i>
        {$ item.statistic.dislikes || 0 $}
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-comment"></i>
        {$ item.statistic.comments || 0 $}
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-eye"></i>
        {$ item.statistic.views || 0 $} </a>
    <a href="javascript:void(0)">
        <i class="fa fa-share-square-o"></i>
        {$ item.statistic.shares || 0 $}
    </a>
    <a href="javascript:void(0)" title="{$ item.published_on | date:'medium' $}">
        <i class="fa fa-clock-o"></i>
        {$ item.published_on | amDifference : null : 'days' | abs $}d
    </a>
</span>
