<span class="action-buttons">
    <button class="center add-item"
            ng-click="interactive(item,'post'); item.status.bookmarked ? continue : showAddLinkPopup();">
        <i class="fa"
           ng-class="{'fa-plus': !item.status.bookmarked, 'fa-check': item.status.bookmarked}"></i>
    </button>
</span>

<span class="col-xs-10 info-text">
    <span>{$ item.interests |getInterest:globals.current.info |truncate:30 $}</span>
    <i class="fa fa-angle-right"></i>
    <i class="fa fa-link"></i>
    <a ng-if="!$state.is('search.all')" href="javascript:void(0);" ng-click="showLinkDetailPopup(item)">
        <span class="title" ng-class="{'unread':!item.status.viewed}">{$ item.name |truncate:40 $}</span>
    </a>
   <span ng-bind-html="item.description |truncate:70 | unsafe"></span>
</span>

<span class="col-xs-1 more" dropdown>
    <button type="button " class="more-action pull-right-sm"
            data-toggle="dropdown" ng-click="interactive(item,'post')"><i class="fa fa-ellipsis-h"></i></button>
    {% include 'layout/include/feed-list-menu.html' %}
</span>

<span class="info-bar">
    <a href="javascript:void(0)" ng-click="actionLike(item,'post')">
        <i class="fa fa-arrow-up" ng-class="{'voted': item.status.liked}"></i>
        {$ item.statistic.likes || 0 $}
    </a>
    <a href="javascript:void(0)" ng-click="actionDislike(item,'post')">
        <i class="fa fa-arrow-down" ng-class="{'voted': item.status.disliked}"></i>
        {$ item.statistic.dislikes || 0 $}
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-comment"></i>
        {$ item.statistic.comments || 0 $}
    </a>
    <a href="javascript:void(0)">
        <i class="fa fa-eye"></i>
        {$ item.statistic.views || 0 $} </a>
    <a href="javascript:void(0)">
        <i class="fa fa-share-square-o"></i>
        {$ item.statistic.shares || 0 $}
    </a>
    <a href="{$ item.bookmark.url |http $}" target="_blank">
        <i class="fa fa-compass"></i>
        Visit web
    </a>
    <a ng-if="!item.status.viewed" href="javascript:void(0)" title="{$ item.published_on | date:'medium' $}">
        <i class="fa fa-clock-o"></i>
        {$ item.published_on | amDifference : null : 'days' | abs $}d
    </a>
</span>
