<li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle">
        <span>
            <i class="fa-bell"></i>
        </span>
    </a>
    <ul class="dropdown-menu notification-menu messages list-group list-group-minimal">
        <li>
            <ul class="dropdown-menu-list list-unstyled ps-scrollbar ps-container">
                <li class="active">
                    <a href="javascript:void(0)">
                        <span class="line">
                            <strong>Welcome to Kara beta version </strong>
                            <span class="light small">- {$ globals.version $}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>