<ul class="dropdown-menu custom-menu" role="menu">
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup()">
            Follow
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup()">
            Accept
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup()">
            Deline
        </a>
    </li>
</ul>
