<div id="search-select" class="search-select" role="menu">
    <p>Filter your type you want to search</p>
    <ul>
        <li><label for="all">
            <input type="checkbox" id="all" ng-model="globals.search.all">
            All
        </label></li>
        <li><label for="Post">
            <input type="checkbox" id="Post" ng-model="globals.search.post">
            Links
        </label></li>
        <li><label for="Web">
            <input type="checkbox" id="Web" ng-model="globals.search.web">
            Web
        </label></li>
        <li><label for="Interest">
            <input type="checkbox"  id="Interest" ng-model="globals.search.interest">
            Interest
        </label></li>
        <li><label for="Bookmark">
            <input type="checkbox"  id="Bookmark" ng-model="globals.search.bookmark">
            Bookmark
        </label></li>
    </ul>
</div>
