{% load staticfiles %}
{% load filters %}

<div class="card-view" id="people-card">
    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"reloadItems":true}'
         class="masonry-container">
        {% for i in 6|get_range %}
            <div class="item" masonry-tile>
                <div class="card-item" id="bookmark-card">
                    <div class="card-item-image">
                        <div class="hover-image">
                            <div class="row no-margin no-padding">
                            <span class="pull-left" id="link">
                                <i class="fa fa-user"></i>
                            </span>

                                <div class="btn-group open pull-right" dropdown="">
                                    <a class=" dropdown-toggle"
                                       ng-click="interactive(item, 'people')"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="true">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    {% include 'layout/include/people-menu.html' %}
                                </div>
                            </div>
                            <div class="item-nav-middle">
                                <div class="item-nav-middle-inner-tri">
                                    <button class="btn btn-middle"><i class="fa fa-info"></i></button>
                                    <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                            popover-placement="top" popover="Accept"
                                            ><i class="fa fa-check"></i></button>
                                    <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                            popover-placement="top" popover="Deline"><i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="img-thumbnail no-padding img-full-width">
                            <img alt=""
                                 ng-src="{% static 'images/thumbnail-link.jpg' %}"
                                 err-src="{% static 'images/thumbnail-link.jpg' %}"
                                 class="img-responsive img-full-width"/>
                        </div>
                    </div>
                    <div class="card-item-body">
                        <h4><a ng-click="showLinkDetailPopup(item)"
                               href="javascript:void(0);">{% lorem 6 w random %}</a></h4>

                        <p>{% lorem 12 w random %}</p>
                    </div>
                    <div class="card-item-footer">
                        <ul class="icon-status list-inline" id="icon-status">
                            <li>
                                <i class="fa fa-fw fa-check-square-o"></i>
                                {$ item.shares || 0 $}
                            </li>
                            <li class="pull-right">
                                <button type="button" class="collapse-button" data-toggle="panel-box"
                                        data-target="#demo"><i
                                        class="fa fa-caret-down"></i></button>
                            </li>
                        </ul>
                        <div class="panel-box">
                        <span class="icon-status list-inline" id="item">
                            <i class="fa fa-globe"></i> 4 following web
                        </span>
                        <span class="icon-status list-inline" id="item">
                            <i class="fa fa-link"></i> 99 bookmarked interest
                        </span>
                        <span class="icon-status list-inline" id="item">
                            <i class="fa fa-heart"></i> 56 following interest
                        </span>
                        <span class="icon-status list-inline" id="item">
                            <i class="fa fa-folder"></i> 16
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="clear"></div>
