{% extends "layout/main-view.html" %}

{% block views %}
    <div class="select-view btn-group-view" ng-if="$state.includes('feeds.view')">
        <a class="btn" id="button_select"
           ng-click="globals.settings.viewType='list'"
           ng-class="{ selected: $state.includes('feeds'+'.view', {viewType:'list'}) }"
           ui-sref="{$ $state.current.data.state_root $}.view({viewType:'list', src:'1111', pk:'{$ $stateParams.pk $}'})">
            <i class="fa fa-list"></i>
        </a>
        <a class="btn" id="btn_gear"
           ng-click="globals.settings.viewType='card'"
           ng-class="{ selected: $state.includes('feeds'+'.view', {viewType:'card'}) }"
           ui-sref="{$ $state.current.data.state_root $}.view({viewType:'card', pk:'{$ $stateParams.pk $}'})">
            <i class="fa fa-th-large"></i>
        </a>
    </div>

    <li ng-class="{active: $last}"
        ng-show="$last||$first||globals.settings.showFullBreadcrumb"
        ng-repeat="item in globals.current.info.parents | reverse">
        {$ $globals.current.info.parents[0] $}
    </li>
{% endblock %}
