<div class="list-view">
    <div class="row activity-listing">
        <ul class="list-group list-unstyled">
            <li class="item"
                ng-class="{selection:!globals.selection.hand_select}"
                ng-repeat="item in globals.links | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                ng-include="'templates/include/feed-list/'"></li>
        </ul>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}
