<div class="card-view" id="feed-card">
    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true}'
         class="masonry-container">
        <div class="item" masonry-tile
             ng-repeat="item in posts | orderBy:globals.settings.sortType:globals.settings.sortReverse"
             ng-include="'templates/include/feed-post-card/'">
        </div>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}