{% load staticfiles %}

<div class="card-view" id="people-card">
    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth":true}'
         class="masonry-container">
        <div class="item" masonry-tile ng-repeat="item in activities">
            <div class="card-item" id="bookmark-card">
                <div class="card-people-header">
                    <div class="avatar-info">
                        <img alt="{$ globals.user.first_name + ' ' + globals.user.last_name $}"
                             ng-src="{$ globals.cdn + 'avatar/' + globals.user.profile.avatar $}"
                             err-src="{% static 'images/user-4.png' %}"
                             class="img-circle img-responsive first-image">
                    </div>
                    <div class="action-info">
                        <span class="people-object">{$ globals.user.first_name + ' ' + globals.user.last_name $}</span>

                        <p ng-if=" item.action == 'Like' ">like this</p>

                        <p ng-if=" item.action == 'Dislike' ">dislike this</p>

                        <p ng-if=" item.action == 'Share' ">share this</p>

                        <p ng-if=" item.action == 'Comment' ">comment this</p>
                    </div>
                    <div class="date-info">
                        <span class="date-time"> <i class="fa fa-clock-o"></i> {$ item.updated_on | amDifference : null : 'days' | abs $} d</span>
                    </div>
                </div>
                <div class="card-item-image">
                    <div class="hover-image">
                        <div class="row no-margin no-padding">
                            <span class="pull-left" id="link">
                                <i class="fa fa-user"></i>
                            </span>

                            <div class="btn-group open pull-right" dropdown="">
                                <a class=" dropdown-toggle"
                                   ng-click="interactive(item, 'post')"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="true">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                {% include 'layout/include/bookmark-menu.html' %}
                            </div>
                        </div>
                        <div ng-if="item.content_type == 'bookmark' ||  item.content_type == 'post'"
                             class="item-nav-middle">
                            <div class="item-nav-middle-inner-double">
                                <button class="btn btn-middle"><i class="fa fa-compass"></i></button>
                                <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                        popover-placement="top" popover="Bookmark"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div ng-if="item.content_type == 'feedsource' " class="item-nav-middle">
                            <div class="item-nav-middle-inner-double">
                                <button class="btn btn-middle" ng-click="showWebScreenPopup(item.content_object)"><i
                                        class="fa fa-globe"></i></button>
                                <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                        popover-placement="top" popover="Subscribe"
                                        ng-click="showSubscribePopup()"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.content_type == 'post'" class="img-thumbnail no-padding img-full-width">
                        <img alt=""
                             ng-src="{% static 'images/thumbnail-link.jpg' %}"
                             err-src="{% static 'images/thumbnail-link.jpg' %}"
                             class="img-responsive img-full-width"/>
                    </div>
                    <div ng-if="item.content_type == 'feedsource' " class="img-thumbnail no-padding img-full-width">
                        <img alt=""
                             ng-src="{$ globals.cdn + 'feed_source_cover/' + item.content_object.cover $}"
                             err-src="{% static 'images/test-cover.jpg' %}"
                             class="img-responsive img-full-width"/>
                    </div>
                    <div ng-if="item.content_type == 'feedsource' " class="card-info-layer">
                        <img alt=""
                             ng-src="{$ globals.cdn + 'feed_source/' + item.content_object.thumbnail $}"
                             err-src="{% static 'images/logo-inside.jpg' %}"
                             class="logo-inside">
                        <h4><a ng-click="showWebScreenPopup(item)"
                               href="javascript:void(0);">{$ item.content_object.name $}</a></h4>
                    </div>
                </div>
                <div class="card-item-body">
                    <h4 ng-if="item.content_type == 'bookmark' ">
                        <a ng-click="showLinkDetailPopup(item)"
                           href="javascript:void(0);">{$ item.content_object.title $}</a>
                    </h4>
                    <h4 ng-if="item.content_type == 'post' ">
                        <a ng-click="showLinkDetailPopup(item)"
                           href="javascript:void(0);">{$ item.content_object.title $}</a>
                    </h4>

                    <p>{$ item.content_object.description | truncate:100 $}</p>
                </div>
                <div class="card-item-footer">
                    <ul class="icon-status list-inline" id="icon-status">
                        <li>
                            <i ng-click="actionLike(item,'post')" class="fa fa-fw fa-arrow-up"
                               ng-class="{'voted': item.status.liked}"></i>
                            {$ item.statistic.likes || 0 $}
                        </li>
                        <li>
                            <i ng-click="actionDislike(item,'post')" class="fa fa-fw fa-arrow-down"
                               ng-class="{'voted': item.status.disliked}"></i>
                            {$ item.statistic.dislikes || 0 $}
                        </li>
                        <li>
                            <i class="fa fa-fw fa-comment"></i>
                            {$ item.statistic.comments || 0 $}
                        </li>
                        <li>
                            <i class="fa fa-fw fa-eye"></i>
                            {$ item.statistic.views || 0 $}
                        </li>
                        <li>
                            <i class="fa fa-fw fa-share-square-o"></i>
                            {$ item.statistic.shares || 0 $}
                        </li>
                        <li class="pull-right">
                            <button type="button" class="collapse-button" data-toggle="panel-box" data-target="#demo"><i
                                    class="fa fa-caret-down"></i></button>
                        </li>
                    </ul>
                    <div class="panel-box">
                        <ul class="icon-status list-inline" id="item" ng-class="{'hidden': !item.categories}">
                            <li>
                                <a href="javascript:void(0)"
                                   ui-sref="feeds.view({viewType:globals.settings.viewType, pk:'{$ categ.id $}'})"
                                   ng-repeat="categ in item.categories"
                                   class="btn btn-category-item no-margin">
                                    <i class="fa fa-fw fa-paint-brush"></i>
                                    {$ categ.name $}
                                </a>
                                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                            </li>
                        </ul>
                        <ul class="icon-status list-inline" id="item">
                            <li>
                                <a href="{$ item.feed.url |http $}" target="_blank" class=" btn-link-item no-margin">
                                    <i class="fa fa-fw fa-globe"></i>{$ item.feed.name $}</a>
                                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                            </li>
                        </ul>
                        <ul class="icon-status list-inline" id="item">
                            <li>
                                <a href="javascript:void(0)" class=" btn-link-item no-margin">
                                    <i class="fa fa-fw fa-folder"></i> {$ '???' $}</a>
                                <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}