{% block after-view %}
    <div id="manage-feeds" class="row">
        <div class="col-md-12">
            <div ng-repeat="(listName, list) in models.lists" class="category-block" dnd-list="list"
                 dnd-drop="dropCallback(event, index, item, external, type, 'containerType')"
                 data-block-id="{$ $index $}">
                <div class="block-header">
                    <h4 class="block-title">Design
                    <span class="pull-right">
                        <button type="button" class="btn btn-trans"><i class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-trans" ng-click="showRenamePopup()"><i
                                class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-trans"><i class="fa fa-close"></i></button>
                    </span>
                    </h4>
                </div>
                <ul>
                    <li ng-repeat="item in list"
                        dnd-draggable="item"
                        dnd-moved="list.splice($index, 1)"
                        dnd-effect-allowed="copyMove"
                        dnd-selected="models.selected = item"
                        dnd-canceled="checkCanceled(event)"
                        ng-class="{'selected': models.selected === item}">
                        <span class="item-icon"><i class="fa fa-facebook-square"></i></span>
                        <span class="item-text">{$ item.label $}</span>
                        <span class="pull-right item-action">
                            <button type="button" class="btn btn-trans"><i
                                    class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-trans"><i class="fa fa-close"></i></button>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="category-block non-content" dnd-list data-new="folder"
                 dnd-drop="dropCallback(event, index, item, external, type, 'containerType')">
                <span class="empty-block">Drag and drop a source here to create a new collection</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}