{% load staticfiles %}
{% load webdesign %}
{% load filters %}

<div class="card-list" id="files">
    {% for i in 9|get_range %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div>
                <div class="thumbnail">
                    <a href="javascript:void(0);">
                        <img alt="sadas"
                             ng-src="{% static 'images/img-exmp.jpg' %}"
                             err-src="{% static 'images/img-exmp.jpg' %}"
                             class="img-responsive"/>
                    </a>

                    <div class="hover-control">
                        <a href="javascript:void(0)" class="link"><i class="fa fa-link"></i></a>

                        <div class="more">
                            <ul class="nav" style="max-width: 300px;">
                                <li class="dropdown">
                                    <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    {% include "feeds/menu-feature-of-view.html" %}
                                </li>
                            </ul>
                        </div>
                        <div class="btn1"><i class="fa fa-compass"></i></div>
                        <a class="btn2" data-toggle="tooltip" data-placement="top" title="Bookmark"
                           href="javascript:void(0);" ng-click="showAddLinkPopup()">
                            <i class="fa fa-plus"></i>
                        </a>

                        <div class="time"><i class="fa fa-clock-o"></i> 2d</div>
                    </div>
                </div>
                <div class="description">
                    <h5>{% lorem 5 w random %}</h5>

                    <p>
                        {% lorem %}
                    </p>
                </div>
                <div class="controls clearfix">
                    <div class="button">
                        <button ng-click="voteUp()"><i class="fa fa-arrow-circle-up"></i></button>
                    </div>
                    <div class="button">
                        <span>123</span>
                    </div>
                    <div class="button">
                        <button ng-click="showVoteDownPopup()"><i class="fa fa-arrow-circle-down"></i></button>
                    </div>
                    <div class="button">
                        <button><i class="fa fa-comment"></i> 4</button>
                    </div>
                    <div class="button">
                        <button><i class="fa fa-eye"></i> 99</button>
                    </div>
                    <div class="button">
                        <button ng-click="showSharePopup()"><i class="fa fa-share-square-o"></i> 35</button>
                    </div>
                </div>
                <div class="categories">
                    <a><i class="fa fa-star"></i> Popular</a>
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="card-link">
                    <a href="javascript:void(0)"><i class="fa fa-newspaper-o"></i> 253 articles/ weeks</a>
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="card-folder">
                    <a href="javascript:void(0)">
                        <i class="fa fa-folder"></i>
                        <i class="fa fa-globe"></i>
                        123
                    </a>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>
