{% load webdesign %}
{% load filters %}


<div class="col-md-12">
    {% with web="Behance" comments="1k" views="9k" adds="6k" %}
        <ul id="edit-feed-list" class="list-view ">
            {% for i in 20|get_range %}
                <li class="hover">
                    <div class="controls">
                        <div class="buttons pull-left">
                            {# 1 #}
                            <div class="button">
                                <button class="has-border has-radius hover-bg-o"
                                        ng-click="item.status.bookmarked ? continue : showAddLinkPopup();">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            {# 2 #}
                            <div class="button">
                                <button class="">
                                    <i class="fa fa-globe"></i>
                                </button>
                            </div>
                        </div>
                        <div class="buttons pull-right">
                            {# 1 #}
                            <div class="button dropdown">
                                <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i>
                                </button>
                                {% include "feeds/menu-feature-of-view.html" %}
                            </div>
                            {# 2 #}
                            <div class="button">
                                <a class="reverse" href="javascript:void(0);" ng-click="showLinkDetailPopup()"><i
                                        class="fa fa-compass fa-fw"></i>&nbspVisit web</a>
                            </div>
                            {# 3 #}
                            <div class="button">
                                <button><i class="fa fa-comment fa-fw"></i>&nbsp<span>{{ comments }}</span></button>
                            </div>
                            {# 4 #}
                            <div class="button">
                                <button><i class="fa fa-newspaper-o fa-fw"></i>&nbsp<span>{{ views }}</span></button>
                            </div>
                            {# 5 #}
                            <div class="button">
                                <button><i class="fa fa-check-square-o fa-fw"></i>&nbsp<span>{{ adds }}</span></button>
                            </div>
                        </div>
                        <div class="info row">
                            <div class="col-md-12 col-xs-12">
                                <h5>
                                    {{ web }}
                            <span>
                                {% lorem 10 w random %}
                            </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    {% endwith %}
</div>
