{% extends "layout.html" %}

{% block extra-container %}
    <div class="page-container" id="login-block" ng-if="globals.is_need_login && globals.is_anonymous">
        <div class="main-content" ng-controller="AuthController">
            {% include 'login.html' %}
        </div>
    </div>
    <div ui-view="extra"></div>
{% endblock %}
