﻿<!DOCTYPE html>
<html lang="en">
<head>
    {% block base %}<base href="/"/>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="YyYBeQQ_NHEjKZKpcm0Q9jTEB8ZuKCnt8V2e-x01MLs">

    <!-- common social tags -->
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.karaplus.com/static/images/logo%402x.png">
    <meta property="og:site_name" content="KaraPlus">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://www.karaplus.com/static/images/logo%402x.png">
    <meta name="twitter:site" content="@KaraPlus">
    <meta name="twitter:creator" content="@KaraPlus">

    <!-- document-specific social tags -->
    <meta name="author" content="VietDev.vn">

    <meta property="og:title" content="KaraPlus">
    <meta property="og:url" content="http://www.karaplus.com/">
    <meta name="twitter:title" content="KaraPlus">
    <meta name="twitter:url" content="http://www.karaplus.com/">

    <meta property="og:description"
          content="Kara is curration network. We are community that care Knowledge , Inspiration , Culture">
    <meta name="description"
          content="Kara is curration network . We are community that care Knowledge , Inspiration , Culture">
    <meta name="twitter:description"
          content="Kara is curration network . We are community that care Knowledge , Inspiration , Culture">

    <!-- basic favicon -->
    {% block title %}<title>{{ title }}</title>{% endblock %}
    {% load staticfiles %}
    {% block icon %}
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    {% endblock %}
    {% load compress %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.css' %}"/>
        <link rel="stylesheet" href="{% static 'content/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'content/xenon-core.css' %}">
        <link rel="stylesheet" href="{% static 'content/xenon-forms.css' %}">
        <link rel="stylesheet" href="{% static 'content/xenon-components.css' %}">
        <link rel="stylesheet" href="{% static 'content/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'content/custom.css' %}">
        <link rel="stylesheet" href="{% static 'ng-dialog/css/ngDialog.min.css' %}">
    {% endblock %}
    {% block javascriptIE %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        <script src="{% static 'html5shiv/dist/html5shiv.js' %}"></script>
        <script src="{% static 'respond/dest/respond.src.js' %}"></script>
        <![endif]-->
    {% endblock %}
    {% block scriptFB %}{% endblock %}
    {% block scriptGP %}
        <script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
    {% endblock %}
</head>
{% block body %}
    <body ng-controller="KaraController"
          ng-init="initialize('{{ user.username }}', '{{ user.is_authenticated }}', '{{ user.is_anonymous }}', '{{ version }}')"
          ng-class="{'login-page': globals.is_anonymous && globals.is_need_login,
           'is-loading': globals.is_loading.length,
           'right-sidebar-open': layoutOptions.rightSidebar.isOpen}"
          class="page-body">
    {% block container %}
        <div class="page-container" ng-if="!globals.is_need_login || globals.is_authenticated">
            {% block layout-sidebar %}
                <div class="sidebar-menu"
                     ng-class="{'collapsed': layoutOptions.sidebar.isCollapsed,
                         'uncollapsed': ! layoutOptions.sidebar.isCollapsed}" ui-view="sidebar-menu">
                </div>
            {% endblock %}
            {% block main-content %}
                <div class="main-content">
                    {% block user-navbar %}
                        <div ui-view="user-info-navbar"></div>
                    {% endblock %}
                    {% block main-content-view %}
                        <ui-view class="main-content-view"></ui-view>
                    {% endblock %}
                    {% block site-footer %}
                        <div ui-view="site-footer"></div>
                    {% endblock %}
                </div>
            {% endblock main-content %}
            {% block layout-sidebar-chat %}
                <div id="chat" class="fixed" ui-view="side-bar-chat"></div>
            {% endblock %}
        </div>
    {% endblock container %}
    {% block extra-container %}
        <div ui-view="extra"></div>
    {% endblock %}
    {% include 'test/_debug.html' %}
    {% block loading-overlay %}
        <!-- Remove this code if you want to disable Loading Overlay in the beginning of document loading -->
        <div class="page-loading-overlay">
            <div class="loader-2"></div>
        </div>
    {% endblock %}
    {% block IE8 %}
        <!--[if IE 8]>
            <script src="{% static 'es5-shim/es5-shim.js' %}"></script>
        <![endif]-->
    {% endblock %}
    {% block javascript %}
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery.inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
        <!-- Masonry -->
        <script type="text/javascript" src="{% static 'desandro-matches-selector/matches-selector.js' %}"></script>
        <script type="text/javascript" src="{% static 'fizzy-ui-utils/utils.js' %}"></script>
        <script type="text/javascript" src="{% static 'ev-emitter/ev-emitter.js' %}"></script>
        <script type="text/javascript" src="{% static 'get-size/get-size.js' %}"></script>
        <script type="text/javascript" src="{% static 'outlayer/item.js' %}"></script>
        <script type="text/javascript" src="{% static 'outlayer/outlayer.js' %}"></script>
        <script type="text/javascript" src="{% static 'imagesloaded/imagesloaded.js' %}"></script>
        <script type="text/javascript" src="{% static 'masonry/masonry.js' %}"></script>

        <!-- Bottom Scripts -->
        <script type="text/javascript" src="{% static 'autofill-event/src/autofill-event.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'Context.js/context.js' %}"></script>
        <script type="text/javascript" src="{% static 'gridify/src/gridify.js' %}"></script>
        <script type="text/javascript" src="{% static 'moment/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'owl.carousel/dist/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/lib/joinable.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/lib/jquery.ba-resize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/lib/resizeable.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/lib/TweenMax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'selectize/dist/js/standalone/selectize.js' %}"></script>
        <script type="text/javascript" src="{% static 'toastr/toastr.min.js' %}"></script>
    {% endblock %}

    {% block javascript-app %}
        <!-- Angular -->
        <script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-fullscreen/src/angular-fullscreen.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-masonry-directive/src/angular-masonry-directive.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-moment/angular-moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-image-crop/image-crop.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resource/angular-resource.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-socialshare/src/js/angular-socialshare.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-ui-router/release/angular-ui-router.js' %}"></script>
        <script type="text/javascript" src="{% static 'djng/js/django-angular.js' %}"></script>
        <script type="text/javascript" src="{% static 'ng-dialog/js/ngDialog.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ng-file-upload/ng-file-upload.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ng-tags-input/ng-tags-input.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'oclazyload/dist/ocLazyLoad.js' %}"></script>

        <!-- App -->
        <script type="text/javascript" src="{% static 'scripts/kara.js' %}"></script>
        <!-- Factory + Services -->
        <script type="text/javascript" src="{% static 'scripts/services/layoutServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/karaServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/authServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/manageServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/feedsServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/interestServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/peopleServices.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/services/searchServices.js' %}"></script>
        <!-- Controllers -->
        <script type="text/javascript" src="{% static 'scripts/controllers/layoutControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/karaControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/authControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/manageControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/feedsControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/interestControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/peopleControllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/controllers/searchControllers.js' %}"></script>
        <!-- Directives -->
        <script type="text/javascript" src="{% static 'scripts/directives/directives.js' %}"></script>
        <!-- Filters -->
        <script type="text/javascript" src="{% static 'scripts/filters/filters.js' %}"></script>
        <!-- Animations -->
        <!-- JavaScripts initializations and stuff -->
        <script type="text/javascript" src="{% static 'scripts/xenon-custom.js' %}"></script>
    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function () {
            angular.bootstrap(document, ['kara']);
        });
    </script>
    </body>
{% endblock body %}
</html>