{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="login-header">
            <div class="pull-left">
                <img alt=""
                     ng-src="{% static 'images/logo@2x.png' %}"
                     err-src="{% static 'images/logo@2x.png' %}"
                     width="100%"
                     class=""/>
            </div>
        </div>
    </div>
</div>
<div class="login-container">
    <div class="row">
        <div class="welcome-board">
            <h1>Welcome to Karaplus </h1>
            <h4>The Curration Network - Knowledge - Inspiration - Community</h4>
        </div>
        <div class="login-inner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="external-login">
                        {% if not user or user.is_anonymous %}
                            <a href="javascript:void(0)"
                               win-href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"
                               ng-click="fb_login();"
                               class="facebook">
                                <i class="fa-facebook"></i>
                                Login with Facebook
                            </a>
                            <a href="javascript:void(0)"
                               win-href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"
                               ng-click="gp_login();"
                               class="gplus">
                                <i class="fa-google-plus"></i>
                                Login with Gmail
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Add class "fade-in-effect" for login form effect -->
                    <form method="post" role="form" id="login" class="login-form fade-in-effect">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="email"
                                   ng-model="email" ng-class="{'wrong-username':wrong_username}"
                                   required autocomplete="off" placeholder="Email"/>
                            <i class="fa fa-exclamation-circle wrong-username" ng-if="wrong_username"></i>

                            <div class="alert-invalid" ng-if="wrong_username">
                                <span class="alert">Email is not found , retype to sign in or sign up below</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="passwd" id="passwd"
                                   ng-model="password" ng-class="{'wrong-password':wrong_password}"
                                   required autocomplete="off" placeholder="Password"/>
                            <i class="fa fa-exclamation-circle wrong-password" ng-if="wrong_password"></i>

                            <div class="alert-invalid" ng-if="wrong_password">
                                <span class="alert">Password is incorrect . Please , try again !</span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!wrong_username">
                            <button class="btn btn-signup" ng-click="login()">
                                <i class="fa-lock"></i>
                                SIGN UP/SIGN IN
                            </button>
                            <p>By click join with kara , I agree to <a href="javascript:void(0)">Terms of Users and Policy</a></p>
                        </div>
                        <div class="form-group" ng-if="wrong_username">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-signup" ng-click="join_kara()">
                                        SIGN UP
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-signin" ng-click="login()">
                                        SIGN IN
                                    </button>
                                </div>
                            </div>
                            <p>By click sign up/sign in , I agree to <a href="javascript:void(0)">Terms of Users and Policy</a></p>
                        </div>
                        <!-- Errors container -->
                    </form>
                </div>
            </div>
            <!-- External login -->
        </div>
    </div>
</div>
<div class="bottom">
    <div class="container">
        <div class="pull-left">
            Kara 2015 - All rights reserved
        </div>
        <div class="pull-right">
            <ul>
                <li><a href="javascript:void(0)" ng-click="showResetPasswordForm()">Reset password</a>

                    <div class="reset-password-form" ng-if="reset_password">
                        <form action="">
                            <h4>Email <span class="pull-right" ng-click="closeResetPasswordForm()"><i
                                    class="fa fa-close"></i></span></h4>
                            <input type="email" class="form-control"
                                   placeholder="Type your email"
                                   id="email-to-reset"
                                   required
                                   ng-model="email">

                            <p>We will send you instructions to reset your password</p>
                            <button type="button" class="btn btn-action btn-lg"
                                    ng-click="sendMailResetPassword(email)">Send</button>
                        </form>
                    </div>
                </li>
                <li><a href="javascript:void(0)">Terms</a></li>
                <li><a href="javascript:void(0)">Policy</a></li>
                <li><a href="javascript:void(0)">Support</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="over-layer" ng-if="reset_password"></div>
