{% extends "profile/tabs/tab-content.html" %}

{% load staticfiles %}

{% block tabs-submenu %}
{% endblock %}

{% block tabs-controls-bar %}
{% endblock %}

{% block tabs-views %}
    <div id="card-feed">
        <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth":true}'
             class="masonry-container">
            <div class="item" masonry-tile ng-repeat="interest in interests" ng-if="!interest.pined">
                <div class="card-item" id="interest-card">
                    <div class="card-item-image">
                        <div class="neo">
                            <span class="pull-left" id="link">
                                <i class="fa fa-heart"></i>
                            </span>
                        </div>
                        <div class="hover-image">
                            <div class="row no-margin no-padding">
                                <div class="btn-group open pull-right" dropdown="">
                                    <button class="btn btn-trans"
                                            ng-click="interactive(interest, 'interest')"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    {% include 'layout/include/interest-card-menu.html' %}
                                </div>
                            </div>
                            <div class="item-nav-middle">
                                <div class="item-nav-middle-inner">
                                    <button class="btn btn-middle popover-primary"
                                            popover-trigger="mouseenter"
                                            popover-placement="top"
                                            style="background:#fe3333"
                                            popover="Unsubscribe" ng-click="pin_interest(interest)">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                                <ul class="statistics list-inline" id="icon-status">
                                    <li>
                                        <i ng-click="actionLike(interest,'interest')" class="fa fa-fw fa-arrow-up"
                                           ng-class="{'voted': interest.status.liked}"></i>
                                        {$ interest.statistic.likes || 0 $}
                                    </li>
                                    <li>
                                        <i ng-click="actionDislike(interest,'interest')"
                                           class="fa fa-fw fa-arrow-down"
                                           ng-class="{'voted': interest.status.disliked}"></i>
                                        {$ interest.statistic.dislikes || 0 $}
                                    </li>
                                    <li>
                                        <i class="fa fa-fw fa-share-square-o"></i>
                                        {$ interest.statistic.shares || 0 $}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="img-thumbnail no-padding img-full-width">
                            <img alt=""
                                 ng-src="{$ globals.cdn + 'interest/' +interest.thumbnail $}"
                                 err-src="{% static 'images/thumbnail-interest-card.jpg' %}"
                                 class="img-responsive img-full-width"/>
                        </div>
                        <div class="card-info-layer">
                            <h4># {$ interest.name $}</h4>
                        </div>
                    </div>
                    <div class="card-item-body">
                        <h5 ng-bind-html=" interest.description | truncateword : 20 | unsafe "></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {% include "interests/pagination.html" %}
{% endblock %}