{% extends "profile/tabs/tab-content.html" %}

{% block tabs-submenu %}
{% endblock %}

{% block tabs-controls-bar %}
{% endblock %}

{% block tabs-views %}
    <div class="">
        <div masonry='{ "transitionDuration": "0.4s", "itemSelector" : ".item","isResizeBound": true, "isFitWidth": true}'
             class="masonry-container">
            <div class="item" masonry-tile
                 ng-repeat="item in bookmarks"
                 ng-include="'templates/include/bookmark-card/'"></div>
        </div>
    </div>
    <div class="clear"></div>

    {% include "layout/pagination.html" %}
{% endblock %}
