{% extends "profile/tabs/tab-content.html" %}

{% load staticfiles %}
{% load webdesign %}
{% load filters %}

{% block tabs-submenu %}
    <div class="col-md-12">
        <div id="people-feed">
            <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth":true}'
                 class="masonry-container">
                {% for i in 8|get_range %}
                    <div class="item" masonry-tile>
                        <div class="card-item" id="bookmark-card">
                            <div class="card-item-image">
                                <div class="hover-image">
                                    <div class="row no-margin no-padding">
                                    <span class="pull-left" id="link">
                                        <i class="fa fa-user"></i>
                                    </span>

                                        <div class="btn-group open pull-right" dropdown="">
                                            <a class=" dropdown-toggle"
                                               ng-click="interactive(item, 'post')"
                                               data-toggle="dropdown"
                                               aria-haspopup="true"
                                               aria-expanded="true">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </a>
                                            {% include 'layout/include/bookmark-menu.html' %}
                                        </div>
                                    </div>
                                    <div class="item-nav-middle">
                                        <div class="item-nav-middle-inner-double">
                                            <button class="btn btn-middle"><i class="fa fa-info"></i></button>
                                            <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                                    popover-placement="top" popover="Add"><i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="  no-padding">
                                    <img alt=""
                                         ng-src="{% static 'images/thumbnail-link.jpg' %}"
                                         err-src="{% static 'images/thumbnail-link.jpg' %}"
                                         class="img-responsive img-circle card-avatar"/>
                                </div>
                            </div>
                            <div class="card-item-body">
                                <h4><a ng-click="showLinkDetailPopup(item)"
                                       href="javascript:void(0);">{% lorem 6 w random %}</a></h4>

                                <p>{% lorem 12 w random %}</p>
                            </div>
                            <div class="card-item-footer">
                                <ul class="icon-status list-inline" id="icon-status">
                                    <li>
                                        <i class="fa fa-fw fa-check-square-o"></i>
                                        {$ item.shares || 0 $}
                                    </li>
                                    <li class="pull-right">
                                        <button type="button" class="collapse-button" data-toggle="panel-box"
                                                data-target="#demo"><i
                                                class="fa fa-caret-down"></i></button>
                                    </li>
                                </ul>
                                <div class="panel-box">
                                    <span class="icon-status list-inline" id="item">
                                        <i class="fa fa-globe"></i> 4 following web
                                    </span>
                                    <span class="icon-status list-inline" id="item">
                                        <i class="fa fa-link"></i> 99 bookmarked interest
                                    </span>
                                    <span class="icon-status list-inline" id="item">
                                        <i class="fa fa-heart"></i> 56 following interest
                                    </span>
                                    <span class="icon-status list-inline" id="item">
                                        <i class="fa fa-folder"></i> 16
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block tabs-views %}
{% endblock %}
