{% load staticfiles %}

<div class="col-md-12">
    <div class="col-md-4 panels profile-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Web - ( <span>{$ total_sources || sources.length $}</span> )
                    <a ng-if="total_sources > 6"
                       href="javascript:void(0)"
                       ui-sref="profile.web({profile:wall_user.profile.id})"
                       class="pull-right">
                        View more
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="item" ng-repeat="source in sources">
                    <img alt="{$ source.name $}"
                         ng-src="{$ globals.cdn + 'feed_source/' + source.thumbnail $}"
                         err-src="{% static 'images/gaming.jpg' %}"
                         class="img-responsive">

                    <div class="caption text-center">
                        <a href="javascript:void(0)" ng-click="showWebScreenPopup(source)">{$ source.name $}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Interest - ( <span>{$ total_interests || interests.length $}</span> )
                    <a ng-if="total_interests > 6"
                       href="javascript:void(0)"
                       ui-sref="profile.interest({profile:wall_user.profile.id})"
                       class="pull-right">
                        View more
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="item" ng-repeat="interest in interests | limitTo:6">
                    <img alt="{$ interest.name $}"
                         ng-src="{$ globals.cdn + 'interest/' + interest.thumbnail $}"
                         err-src="{% static 'images/gaming.jpg' %}"
                         class="img-responsive">

                    <div class="caption text-center">
                        <strong>{$ interest.name $}</strong>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="panel panel-default">#}
        {#    <div class="panel-heading">#}
        {#        <h3 class="panel-title">People - <span>{$ total_friends || friends.length $}</span> <a#}
        {#                href="javascript:void(0)" class="pull-right">View more</a></h3>#}
        {#    </div>#}
        {#    <div class="panel-body">#}
        {#        <div class="thumbnail people" ng-repeat="friend in friends">#}
        {#            <a href="javascript:void(0)"#}
        {#               ui-sref="profile.people({'profile':wall_user.profile.id})"#}
        {#               class="">#}
        {#                <img ng-src="{$ globals.cdn + 'avatar/' + friend.avatar $}"#}
        {#                     alt="{$ friend.nick_name $}"#}
        {#                     class="media-object img-responsive img-circle">#}
        {#            </a>#}
        {#            <div class="caption text-center">#}
        {#                <strong>{$ friend.nick_name $}</strong>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        {#</div>#}

        {#<div class="panel panel-default">#}
        {#    <div class="panel-heading">#}
        {#        <h3 class="panel-title">Folder - <span>{$ total_public_folders || public_folders.length $}</span> <a href="javascript:void(0)" class="pull-right">View more</a></h3>#}
        {#    </div>#}
        {#    <div class="panel-body">#}
        {#        <div class="thumbnail folders" ng-repeat="folder in public_folders">#}
        {#            <img alt="{$ folder.content_object.name $}"#}
        {#                 ng-src="{% static 'images/gaming.jpg' %}"#}
        {#                 err-src="{% static 'images/gaming.jpg' %}"#}
        {#                 class="img-responsive">#}
        {#            <div class="caption text-center">#}
        {#                <strong>{$ folder.content_object.name $}</strong>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        {#</div>#}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Folder - ( <span>{$ total_folders || folders.length $}</span> )
                    <a ng-if="total_folders > 6"
                       href="javascript:void(0)"
                       ui-sref="profile.folder({profile:wall_user.profile.id})"
                       class="pull-right">
                        View more
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="item folders" ng-repeat="folder in folders">
                    <img alt="{$ folder.name $}"
                         ng-src="{% static 'images/card-folder.jpg' %}"
                         err-src="{% static 'images/card-folder.jpg' %}"
                         class="img-responsive">

                    <div class="caption text-center">
                        <strong>{$ folder.name $}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Link - ( <span>{$ total_bookmarks || bookmarks.length $}</span> )
                    <a ng-if="total_bookmarks > 5"
                       href="javascript:void(0)"
                       ui-sref="profile.link({'profile':wall_user.profile.id})"
                       class="pull-right">
                        View more
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="item link row no-margin" ng-repeat="links in bookmarks">
                    <img alt="{$ links.name $}"
                         ng-src="{% static 'images/thumbnail-link.jpg' %}"
                         err-src="{% static 'images/thumbnail-link.jpg' %}"
                         class="col-xs-3 no-padding pull-left img-responsive">

                    <div class="col-xs-9 caption text-left">
                        <h5><a href="{$ links.url |http $}" target="_blank">{$ links.name $}</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 panels">
        {% include 'profile/tabs/wallpost.html' %}
    </div>
</div>
