{% block tabs-submenu %}
{% endblock %}

<div class="col-md-12 controls-bar">
    {% block tabs-controls-bar %}
        {% include "layout/header/sortmenu.html" %}
    {% endblock %}
</div>
<div class="clear"></div>

<div class="">
    {% block tabs-views %}
    {% endblock %}
</div>
