{% load staticfiles %}

<div class="col-md-12 well white">
    <div class="media-list">
        <div class="media">
            <div class="media-left">
                <a href="javascript:void(0)">
                    <img alt="96x96"
                         ng-src="{$ globals.cdn + 'avatar/' + globals.user.profile.avatar $}"
                         err-src="{% static 'images/user-4.png' %}"
                         class="img-circle media-object img-responsive">
                </a>
            </div>
            <div class="media-body">
                <form ng-submit="actionWallPost()">
                    <div class="form-group">
                        <textarea placeholder="Write something ..."
                                  rows="4"
                                  class="form-control"
                                  name="Comment"
                                  id="Comment"
                                  ng-model="post_text"></textarea>
                    </div>
                    <button class="btn btn-action btn-sm pull-right"
                            type="submit"
                            id="submit">Submit
                    </button>
                </form>
            </div>
        </div>
        <ul class="media-list" ng-if="wall_posts">
            <li ng-repeat="wallpost in wall_posts track by $index"
                class="media">
                <a href="javascript:void(0)" class="media-left">
                    <img alt="96x96"
                         ng-src="{$ globals.cdn + 'avatar/'+wallpost.poster.avatar $}"
                         err-src="{% static 'images/thumbnail-avatar-big.jpg' %}"
                         class="img-circle media-object img-responsive">
                </a>

                <div class="media-body" ng-init="wallpost.reply=false">
                    <h4 class="media-heading">
                        {$ wallpost.poster.nick_name + ' (' + wallpost.poster.user.username + ')' $}
                    </h4>

                    <p class="time">{$ wallpost.updated_on | amDateFormat:'YYYY.MM.DD HH:mm:ss' $}</p>

                    <p>{$ wallpost.content $}</p>

                    <div class="controls row">
                        <div class="col-md-6">
                            <div class="button">
                                <button class="reply btn"
                                        ng-click="wallpost.reply=true; get_comments(wallpost, 'wallpost')">Comments
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 vote">
                            <div class="button">
                                <button ng-click="actionLike(wallpost,'wallpost')">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                            </div>
                            <div class="button">
                                <a href="javascript:void(0)" class="reverse">
                                    {$ wallpost.statistic.likes || 0 $}
                                </a>
                            </div>
                            <div class="button">
                                <button ng-click="actionDislike(wallpost,'wallpost')">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            </div>
                            <div class="button">
                                <a href="javascript:void(0)" class="reverse">
                                    {$ wallpost.statistic.dislikes || 0 $}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="wallpost.reply" ng-controller="CommentCtrl">
                            <div class="form-group">
                                <textarea placeholder="Write something ..."
                                          rows="2"
                                          class="form-control"
                                          ng-model="wallpost.comment_tex"></textarea>
                            </div>
                            <button ng-click="actionComment(wallpost, 'wallpost')"
                                    class="btn btn-trans btn-sm comment-reply-button">Enter
                            </button>
                        </div>
                    </div>
                    <ul class="media-list" ng-if="wallpost.comments" ng-include="'comment-of-wallpost'"></ul>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        {% include "profile/pagination.html" %}
    </div>
</div>

<script type="text/ng-template" id="comment-of-wallpost">
    <li ng-repeat="comment in wallpost.comments track by $index"
        class="media">
        <div class="media-left">
            <a href="javascript:void(0)">
                <img alt="96x96"
                     ng-if="comment.person.avatar"
                     ng-src="{$ globals.cdn + 'avatar/' + comment.person.avatar $}"
                     err-src="{% static 'images/thumbnail-avatar-big.jpg' %}"
                     class="img-circle media-object img-responsive">
            </a>
        </div>
        <div class="media-body" ng-init="comment.reply=false">
            <h4 class="media-heading">{$ comment.person.nick_name + ' (' + comment.person.user.username + ')' $}</h4>

            <p class="time">{$ comment.updated_on | amDateFormat:'YYYY.MM.DD HH:mm:ss' $}</p>

            <p>{$ comment.content $}</p>

            <div class="controls row">
                <div class="col-md-6">
                    <div class="button">
                        <button class="reply btn" ng-click="comment.reply=true; get_comments(comment, 'comment')">
                            Replies
                        </button>
                    </div>
                </div>
                <div class="col-md-6 vote">
                    <div class="button">
                        <button ng-click="actionLike(comment,'comment')">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)" class="reverse">
                            {$ comment.statistic.likes || 0 $}
                        </a>
                    </div>
                    <div class="button">
                        <button ng-click="actionDislike(comment,'comment')">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)" class="reverse">
                            {$ comment.statistic.dislikes || 0 $}
                        </a>
                    </div>
                </div>
                <div class="col-md-12" ng-if="comment.reply" ng-controller="CommentCtrl">
                    <div class="form-group">
                        <textarea placeholder="Write something ..."
                                  rows="2"
                                  class="form-control"
                                  ng-model="comment.comment_tex"></textarea>
                    </div>
                    <button ng-click="actionComment(comment, 'comment')" class="btn btn-action btn-sm pull-right">
                        Enter
                    </button>
                </div>
            </div>
            <ul class="media-list" ng-if="comment.comments" ng-include="'reply-of-comment'"></ul>
        </div>
    </li>
</script>

<script type="text/ng-template" id="reply-of-comment">
    <div class="media"
         ng-repeat="reply in comment.comments track by $index">
        <div class="media-left">
            <a href="javascript:void(0)">
                <img alt="96x96"
                     ng-src="{$ globals.cdn + 'avatar/' + reply.person.avatar $}"
                     err-src="{% static 'images/thumbnail-avatar-big.jpg' %}"
                     class="img-circle media-object img-responsive">
            </a>
        </div>

        <div class="media-body" ng-init="reply.reply=false">
            <h4 class="media-heading">{$ reply.person.nick_name + ' (' + reply.person.user.username + ')' $}</h4>

            <p class="time">{$ reply.updated_on | amDateFormat:'YYYY.MM.DD HH:mm:ss' $}</p>

            <p>{$ reply.content $}</p>

            <div class="controls row">
                <div class="col-md-6"></div>
                <div class="col-md-6 vote">
                    <div class="button">
                        <button ng-click="actionLike(reply,'comment')">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)" class="reverse">
                            {$ reply.statistic.likes || 0 $}
                        </a>
                    </div>
                    <div class="button">
                        <button ng-click="actionDislike(reply,'comment')">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)" class="reverse">
                            {$ reply.statistic.dislikes || 0 $}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

