<div class="card-view-footer">
    <div class="col-md-12 pagination-change-page"
         ng-class="{ numPages: (globals.current.paginator.numPages> 1),
          hidden: !globals.current.paginator.totalItems }">
        <pagination ng-change="changePage()"
                    ng-model="globals.current.paginator.currentPage"
                    total-items="globals.current.paginator.totalItems"
                    items-per-page="globals.current.paginator.itemsPerPage"
                    num-pages="globals.current.paginator.numPages"
                    max-size="globals.settings.maxSizePage"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    class="pagination-sm"></pagination>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
