<div class="tabs-search">
    <ul>
        <li ui-sref-active="active" ng-if="globals.search.types.length > 1">
            <a ui-sref="search.all({ 'keyword' : '{$ $state.params.keyword $}'})">All</a>
        </li>
        <li ui-sref-active="active" ng-if="globals.search.all || globals.search.web">
            <a ui-sref="search.web({ 'keyword' : '{$ $state.params.keyword $}'})">Web</a>
        </li>
        <li ui-sref-active="active" ng-if="globals.search.all || globals.search.interest">
            <a ui-sref="search.interest({ 'keyword' : '{$ $state.params.keyword $}'})">Interest</a>
        </li>
        <li ui-sref-active="active" ng-if="globals.search.all || globals.search.bookmark">
            <a ui-sref="search.bookmark({ 'keyword' : '{$ $state.params.keyword $}'})">Bookmark</a>
        </li>
        <li ui-sref-active="active" ng-if="globals.search.all || globals.search.post">
            <a ui-sref="search.post({ 'keyword' : '{$ $state.params.keyword $}'})">Posts</a>
        </li>
    </ul>
</div>
