<div id="search_result">
    {% include 'search/search_tabs.html' %}
    <div class="search-block" ng-if="globals.search.all || globals.search.web">
        <h4>Web</h4>

        <div class="list-view">
            <div class="row activity-listing">
                <span ng-if="sources.length" class="pull-right">
                    <a class="see-more"
                       ui-sref="search.web({ 'keyword' : '{$ $state.params.keyword $}'})">
                        See all
                    </a>
                </span>
                <ul class="list-group list-unstyled" ng-if="sources.length">
                    <li class="item"
                        ng-class="{selection:!globals.selection.hand_select}"
                        ng-repeat="item in sources | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                        ng-include="'templates/include/feed-source-list/'"></li>
                </ul>
                <span class="no-result" ng-if="!sources.length">
                    Your search  "{$ $state.params.keyword $}"  did not match any documents in Web
                </span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="search-block" ng-if="globals.search.all || globals.search.interest">
        <h4>Interest</h4>

        <div class="list-view">
            <div class="row activity-listing">
                <span ng-if="interests.length" class="pull-right">
                    <a class="see-more"
                       ui-sref="search.interest({ 'keyword' : '{$ $state.params.keyword $}'})">
                        See all
                    </a>
                </span>
                <ul class="list-group list-unstyled" ng-if="interests.length">
                    <li class="item"
                        ng-class="{selection:!globals.selection.hand_select}"
                        ng-repeat="item in interests | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                        ng-include="'templates/include/interest-list/'"></li>
                </ul>
                <span class="no-result" ng-if="!interests.length">
                    Your search  "{$ $state.params.keyword $}"  did not match any documents in Interest
                </span>
            </div>
        </div>
    </div>
    <div class="search-block" ng-if="globals.search.all || globals.search.bookmark">
        <h4>Bookmark</h4>

        <div class="list-view">
            <div class="row activity-listing">
                <span ng-if="links.length || folders.length" class="pull-right">
                    <a class="see-more"
                       ui-sref="search.bookmark({ 'keyword' : '{$ $state.params.keyword $}'})">
                        See all
                    </a>
                </span>
                <ul class="list-group list-unstyled">
                    <li class="item"
                        ng-if="folders.length"
                        ng-class="{selection:!globals.selection.hand_select}"
                        ng-repeat="item in folders | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                        ng-include="'templates/include/folder-list/'"></li>
                    <li class="item"
                        ng-if="links.length"
                        ng-class="{selection:!globals.selection.hand_select}"
                        ng-repeat="item in links | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                        ng-include="'templates/include/bookmark-list/'"></li>
                </ul>
                <span class="no-result" ng-if="!links.length && !folders.length">
                    Your search  "{$ $state.params.keyword $}"  did not match any documents in Bookmark
                </span>
            </div>
        </div>
    </div>
    <div class="search-block" ng-if="globals.search.all || globals.search.post">
        <h4>Post</h4>

        <div class="list-view">
            <div class="row activity-listing">
                <span ng-if="posts.length" class="pull-right">
                    <a class="see-more"
                       ui-sref="search.post({ 'keyword' : '{$ $state.params.keyword $}'})">
                        See all
                    </a>
                </span>
                <ul class="list-group list-unstyled">
                    <li class="item animated fadeIn"
                        ng-class="{selection:!globals.selection.hand_select}"
                        ng-repeat="item in posts | orderBy:'status.viewed':globals.settings.sortReverse"
                        ng-include="'templates/include/feed-post-list/'"></li>
                </ul>
                <span class="no-result" ng-if="!posts.length">
                    Your search  "{$ $state.params.keyword $}"  did not match any documents in Post
                </span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>