{% extends "layout/main-view.html" %}

{% block title %}
    <h1 class="title ng-binding">{$ globals.current.info.name || '' $}</h1>

    <p class="description ng-binding">
        {$ globals.current.paginator.totalItems + ' results for ' + '"' + $state.params.keyword + '"' $}
    </p>
{% endblock %}

{% block breadcrumb-options %}
{% endblock %}

{% block sort %}
{% endblock %}

{% block select %}
{% endblock %}

{% block views %}
{% endblock %}
