{% load staticfiles %}

<div id="search_result">
    {% include 'search/search_tabs.html' %}
    <div id="add_feed" class="row">
        <div id="card-feed">
            <div masonry='{"transitionDuration": "0.4s", "itemSelector": ".item", "isResizeBound": true, "isFitWidth": true}'
                 class="masonry-container">
                <div class="item" masonry-tile ng-repeat="item in sources">
                    <div class="card-item" id="bookmark-card">
                        <div class="card-item-image">
                            <div class="neo">
                            <span class="pull-left" id="link">
                                <i class="fa fa-globe"></i>
                            </span>
                            </div>
                            <div class="hover-image">
                                <div class="row no-margin no-padding">
                                    <div class="btn-group open pull-right" dropdown="">
                                        <button class="btn btn-trans"
                                                ng-click="interactive(item, 'web')"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="true">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                        {% include 'layout/include/feed-source-menu.html' %}
                                    </div>
                                </div>
                                <div class="item-nav-middle">
                                    <div class="item-nav-middle-inner-double">
                                        <button class="btn btn-middle" ng-click="showWebScreenPopup(item)">
                                            <i class="fa fa-globe"></i>
                                        </button>
                                        <button class="btn btn-middle popover-primary" popover-trigger="mouseenter"
                                                popover-placement="top" popover="Subscribe"
                                                ng-click="interactive(item, 'feedsource'); showSubscribePopup(item);">
                                            <i ng-class="{'fa-times': item.subscribed }" class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <ul class="statistics list-inline" id="icon-status">
                                        <li>
                                            <i ng-click="actionLike(item,'post')" class="fa fa-fw fa-arrow-up"
                                               ng-class="{'voted': item.status.liked}"></i>
                                            {$ item.statistic.likes || 0 $}
                                        </li>
                                        <li>
                                            <i ng-click="actionDislike(item,'post')"
                                               class="fa fa-fw fa-arrow-down"
                                               ng-class="{'voted': item.status.disliked}"></i>
                                            {$ item.statistic.dislikes || 0 $}
                                        </li>
                                        <li>
                                            <i class="fa fa-fw fa-comment"></i>
                                            {$ item.statistic.comments || 0 $}
                                        </li>
                                        <li>
                                            <i class="fa fa-fw fa-eye"></i>
                                            {$ item.statistic.views || 0 $}
                                        </li>
                                        <li>
                                            <i class="fa fa-fw fa-share-square-o"></i>
                                            {$ item.statistic.shares || 0 $}
                                        </li>
                                        <li class="pull-right">
                                            <button type="button" class="collapse-button"
                                                    data-toggle="panel-box"
                                                    data-target="#demo">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="img-thumbnail no-padding img-full-width fadeIn animated">
                                <img alt=""
                                     ng-src="{$ globals.cdn + 'feed_source_cover/' + item.cover $}"
                                     err-src="{% static 'images/test-cover.jpg' %}"
                                     class="img-responsive img-full-width"/>
                            </div>
                            <div class="card-info-layer">
                                <img alt=""
                                     ng-src="{$ globals.cdn + 'feed_source/' + item.thumbnail $}"
                                     err-src="{% static 'images/logo-inside.jpg' %}"
                                     class="logo-inside">
                                <h4><a ng-click="showLinkDetailPopup(item)" href="javascript:void(0);">
                                    {$ item.name $}</a></h4>
                            </div>
                        </div>
                        <div class="card-item-body">
                            <h5>{$ item.description $}</h5>
                        </div>
                    </div>
                    <div class="card-item-extra">
                        <div class="panel-box">
                            <ul class="icon-status list-inline" id="item">
                                <li>
                                    <a href="javascript:void(0)" class=" btn-link-item no-margin">
                                        <i class="fa fa-fw fa-folder"></i> {$ item.numb.relate_sources $}</a>
                                    <span class="pull-right"><i class="fa fa-angle-right"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           <span class="no-result" ng-if="sources.length == 0">
               Your search  "{$ $state.params.keyword $}"  did not match any documents in Web
           </span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    {% include 'search/pagination.html' %}
</div>