<nav class="navbar user-info-navbar" role="navigation">
    <!-- User Info, Notifications and Menu Bar -->
    <!-- Left links for user info navbar -->
    <script type="text/ng-template" id="hmenu-items-tpl">
        <li ng-repeat="item in top_menu"
            class="hover-line navbar-menu">
            <a href="javascript:void(0)" ng-click="goLogin()" class="">
                {$ item.title $}
            </a>
        </li>
    </script>

    <ul class="user-info-menu left-links list-inline list-unstyled"
        ng-include="'hmenu-items-tpl'"></ul>

    <!-- Right links for anonymous navbar -->
    <ul ng-if="!globals.is_authenticated"
        class="user-info-menu right-links list-inline list-unstyled anonymous-menu">
        <li id="profile"
            class="">
            <a href="javascript:void(0)" ng-click="goLogin()" type="button" class="btn btn-action bg-lg">
                JOIN KARA NOW
            </a>
        </li>
    </ul>
</nav>