{% load staticfiles %}

<div class="sidebar-menu-inner">
    <header class="logo-env">
        <!-- logo -->
        <div class="logo">
            <a href="javascript:void(0)" ui-sref="home" class="logo-expanded">
                <img alt=""
                     ng-src="{% static 'images/logo@2x.png' %}"
                     err-src="{% static 'images/logo@2x.png' %}"
                     width="100%"
                     class=""/>
            </a>
            <a href="javascript:void(0)" ng-click="sidebarToggle()" class="logo-collapsed icon-right">
                <i class="fa-bars"></i>
            </a>
        </div>
    </header>
    <div class="login-container" ng-if="global.is_anonymous">
        <div class="welcome-board">
            <h3>This folder </h3>
            <h4>share by {$ $stateParams.user $}</h4>
        </div>
        {% if not user or user.is_anonymous %}
            <div class="login-inner">
                <div class="col-sm-12">
                    <div class="external-login">
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="facebook">
                            <i class="fa-facebook"></i>
                            Login with Facebook
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="gplus">
                            <i class="fa-google-plus"></i>
                            Login with Gmail
                        </a>
                    </div>
                </div>
                <p class="text-center">or</p>

                <div class="col-sm-12">
                    <div class="external-login">
                        <a href="javascript:void(0)" ng-click="goLogin()" class="twitter">
                            <i class="fa-fw"></i>
                            Login with Kara
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
