{% extends 'layout/left-sidebar.html' %}
{% load staticfiles %}

{% block button-add %}
    <div class="btn-left-sidebar">
        <a href="javascript:void(0)" ui-sref="feeds.add"
           class="btn bg-lg btn-add">
            Add Feed
        </a>
    </div>
{% endblock button-add %}

{% block main-menu %}
    <script type="text/ng-template" id="menu-item-link-tpl">
        <img alt=""
             ng-if="item.parent.isOpen"
             ng-src="{$ globals.cdn + 'feed_source_icon/' + item.data.icon $}"
             err-src="{% static 'images/fa-globe-w.png' %}"
             width="16" height="16"
             class="fadeIn animated"/>
        <span class="title">{$ item.title |truncate:20 $}</span>
    </script>

    <script type="text/ng-template" id="menu-items-tpl">
        <li ng-if="menuItems[1]==null" class="feed-null">
            Your favorite web feeds will be organized here . Please use add feed to pick webs you like to read
        </li>
        <li ng-if="menuItems[1]" ng-repeat="item in menuItems"
            ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
            <a href="javascript:void(0)"
               ui-sref="{$ item.ref $}"
               ng-include="'menu-item-link-tpl'"></a>
            <span class="expand-menu"
                  ng-click="item.isOpen = !item.isOpen; getChildSourcesForMenu(item);"
                  ng-if="!item.isRoot">
                <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
            </span>
            <span class="number">{$ item.data.numb.posts $}</span>
            <button type="button" data-toggle="dropdown"
                    ng-if="!item.isRoot"
                    ng-click="interactive(item, 'object')"
                    class="more-action dropdown-toggle pull-right-sm">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <ul class="dropdown-menu" role="menu" ng-include="'menu-dropdown'" dropdown
                ng-if="!item.isRoot"></ul>

            <ul id="sub-menu"
                ng-if="item.menuItems.length"
                ng-init="subItems = item.menuItems"
                ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                ng-include="'menu-items-recursive-tpl'"></ul>
        </li>
    </script>

    <script type="text/ng-template" id="menu-items-recursive-tpl">
        <li ng-repeat="item in subItems"
            ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
            <a href="javascript:void(0)"
               ng-click="item.isOpen = !item.isOpen;"
               ui-sref="{$ item.ref $}"
               ng-include="'menu-item-link-tpl'"></a>
            <span class="number">{$ item.data.numb.posts $}</span>
            <button class="pull-right-sm btn-trans more-action-child"
                    ng-show="$state.includes('feeds')"
                    ng-click="showWebScreenPopup(item.data)">
                <i class="fa fa-globe"></i>
            </button>
            <ul id="sub-menu"
                ng-if="item.menuItems.length"
                ng-init="subItems = item.menuItems"
                ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                ng-include="'menu-items-recursive-tpl'"></ul>
        </li>
    </script>

    <script type="text/ng-template" id="menu-dropdown">
        <li>
            <a href="javascript:void(0);" ng-click="showTagCategoryRenamePopup()">
                Rename
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="showSharePopup()">
                Share
            </a>
        </li>
    </script>

    <ul id="main-menu"
        ng-show="$state.includes('manage') || $state.includes('feeds') || $state.includes('interests')"
        class="main-menu"
        ng-include="'menu-items-tpl'">
    </ul>
{% endblock main-menu %}

{% block menu-extra %}
{% endblock menu-extra %}

{% block button-manage %}
    <div class="btn-left-sidebar ">
        <a type="button" data-ripple-color="#BD2626"
           href="javascript:void(0)" ui-sref="feeds.manage"
           class="btn btn-action bg-lg">Manage</a>
    </div>
{% endblock button-manage %}
