{% extends 'layout/left-sidebar.html' %}
{% load staticfiles %}

{% block button-add %}
    <div class="btn-left-sidebar">
        <a type="button"
           href="javascript:void(0)" ui-sref="interests.add"
           class="btn bg-lg btn-add">Add Interest</a>
    </div>
{% endblock button-add %}

{% block main-menu %}
    <script type="text/ng-template" id="menu-item-link-tpl">
        <img alt=""
             ng-if="item.parent.isOpen"
             ng-src="{$ globals.cdn + 'feed_source_icon/' + item.data.icon $}"
             err-src="{% static 'images/fa-heart.png' %}"
             width="16" height="16"
             class=""/>
        <span class="title"> {$ item.title |truncate:20 $}</span>
    </script>

    <script type="text/ng-template" id="menu-items-tpl">
        <li ng-if="menuItems[1]==null" class="feed-null">
            Your favorite interests will be organized here . Please use add interes to pick interest you like to read
        </li>
        <li ng-if="menuItems[1]" ng-repeat="item in menuItems"
            ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
            <a href="javascript:void(0)"
               ng-click="item.isOpen = !item.isOpen;"
               ui-sref="{$ item.ref $}"
               ng-include="'menu-item-link-tpl'"></a>
        <span class="expand-menu" ng-click="getChildInterestsForMenu(item); item.isOpen = !item.isOpen;"
              ng-if="!item.isRoot">
            <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
        </span>
            <button type="button"
                    ng-if="!item.isRoot"
                    class="more-action dropdown-toggle pull-right-sm"
                    data-toggle="dropdown">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <ul class="dropdown-menu" role="menu" ng-include="'menu-dropdown'" dropdown
                ng-if="!item.isRoot"></ul>

            <ul id="sub-menu"
                ng-if="item.menuItems.length"
                ng-init="subItems = item.menuItems"
                ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                ng-include="'menu-items-recursive-tpl'"></ul>
        </li>
    </script>

    <script type="text/ng-template" id="menu-items-recursive-tpl">
        <li ng-repeat="item in subItems"
            ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
            <a href="javascript:void(0)"
               ng-click="item.isOpen = !item.isOpen;"
               ui-sref="{$ item.ref $}"
               ng-include="'menu-item-link-tpl'"></a>
            <button class="pull-right-sm more-action-child"
                    ng-show="$state.includes('feeds')"
                    ng-click="showWebScreenPopup(item.data)">
                <i class="fa fa-globe"></i>
            </button>
            <ul id="sub-menu"
                ng-if="item.menuItems.length"
                ng-init="subItems = item.menuItems"
                ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                ng-include="'menu-items-recursive-tpl'"></ul>
        </li>
    </script>

    <script type="text/ng-template" id="menu-dropdown">
        <li>
            <a href="javascript:void(0);" ng-click="showEditFeedPopup(globals.settings.viewType)">
                Edit
            </a>
        </li>
        <li ng-if="false">
            <a href="javascript:void(0);" ng-click="showBookmarkRenamePopup()">
                Rename
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="showSharePopup()">
                Share
            </a>
        </li>
    </script>


    <ul id="main-menu" ng-show="$state.includes('manage') || $state.includes('feeds') || $state.includes('interests')"
        class="main-menu"
        ng-include="'menu-items-tpl'">
    </ul>
{% endblock main-menu %}

{% block menu-extra %}
{% endblock menu-extra %}

{% block button-manage %}
    <div class="btn-left-sidebar">
        <a type="button" data-ripple-color="#BD2626"
           href="javascript:void(0)" ui-sref="interests.manage"
           class="btn btn-action bg-lg">Manage</a>
    </div>
{% endblock button-manage %}
