{% load staticfiles %}

<div class="sidebar-menu-inner">
    {% block header %}
        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="javascript:void(0)" ui-sref="home" class="logo-expanded">
                    <img alt=""
                         ng-src="{% static 'images/logo@2x.png' %}"
                         err-src="{% static 'images/logo@2x.png' %}"
                         width="100%"
                         class=""/>
                </a>
                <a href="javascript:void(0)" ng-click="sidebarToggle()" class="logo-collapsed icon-right">
                    <i class="fa-bars"></i>
                </a>
            </div>
        </header>
    {% endblock header %}

    {% block button-add %}
        <div class="btn-left-sidebar">
            <a class="btn bg-lg btn-add"
               href="javascript:void(0)"
               ng-click="showImportBookmarkPopup()"
               ng-show="$state.includes('manage')">Add Bookmark</a>
        </div>
    {% endblock button-add %}

    {% block main-menu %}
        <script type="text/ng-template" id="menu-item-link-tpl">
            <span class="title">{$ item.title |truncate:20 $}</span>
        </script>

        <script type="text/ng-template" id="menu-items-tpl">
            <li ng-repeat="item in menuItems"
                ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
                <a href="javascript:void(0)"
                   ng-click="item.isOpen = !item.isOpen;"
                   ui-sref="{$ item.ref $}"
                   ng-include="'menu-item-link-tpl'"></a>
                <span class="expand-menu" ng-click="getChildFolderForItemMenu(item); item.isOpen = !item.isOpen;"
                      ng-if="!item.isRoot">
                    <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
                </span>
                <span class="number">{$ item.numb.posts $}</span>
                <button type="button "
                        ng-if="!item.isRoot"
                        class="more-action dropdown-toggle pull-right-sm"
                        data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                <ul class="dropdown-menu" role="menu" ng-include="'menu-dropdown'" dropdown
                    ng-if="!item.isRoot"></ul>

                <ul id="sub-menu"
                    ng-if="item.menuItems.length"
                    ng-init="subItems = item.menuItems"
                    ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                    ng-include="'menu-items-recursive-tpl'"></ul>
            </li>
        </script>

        <script type="text/ng-template" id="menu-items-recursive-tpl">
            <li ng-repeat="item in subItems"
                ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
                <a href="javascript:void(0)"
                   ng-click="item.isOpen = !item.isOpen;"
                   ui-sref="{$ item.ref $}"
                   ng-include="'menu-item-link-tpl'"></a>
                <span class="expand-menu" ng-click="getChildFolderForItemMenu(item); item.isOpen = !item.isOpen;"
                      ng-if="!item.isRoot">
                    <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
                </span>
                <span class="number">{$ item.numb.posts $}</span>
                <button class="pull-right-sm more-action-child"
                        ng-show="$state.includes('feeds')"
                        ng-click="showWebScreenPopup(item.data)">
                    <i class="fa fa-globe"></i>
                </button>
                <ul id="sub-menu"
                    ng-if="item.menuItems.length"
                    ng-init="subItems = item.menuItems"
                    ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                    ng-include="'menu-items-recursive-tpl'"></ul>
            </li>
        </script>

        <script type="text/ng-template" id="menu-dropdown">
            <li>
                <a href="javascript:void(0);" ng-click="showEditFeedPopup(globals.settings.viewType)">
                    Edit
                </a>
            </li>
            <li ng-if="false">
                <a href="javascript:void(0);" ng-click="showBookmarkRenamePopup()">
                    Rename
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" ng-click="showSharePopup()">
                    Share
                </a>
            </li>
        </script>


        <ul id="main-menu"
            class="main-menu"
            ng-include="'menu-items-tpl'">
        </ul>
    {% endblock main-menu %}

    {% block menu-extra %}
        <script type="text/ng-template" id="menu-other-tpl">
            <li ng-repeat="item in menuOther"
                ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
                <a href="javascript:void(0)"
                   ui-sref="{$ item.ref $}"
                   ng-include="'menu-item-link-tpl'"></a>
                <ul ng-if="item.menuItems.length"
                    ng-init="subItems = item.menuItems"
                    ng-include="'menu-items-recursive-tpl'"></ul>
            </li>
        </script>


        <ul id="other-menu"
            class="main-menu"
            ng-include="'menu-other-tpl'">
        </ul>


        <script type="text/ng-template" id="menu-tags-tpl">
            <li ng-repeat="item in menuTags"
                ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}"
                    >
                <a href="javascript:void(0)"
                   ui-sref="{$ item.ref $}"
                   ng-include="'menu-item-link-tpl'"></a>
                <ul ng-if="item.menuItems.length"
                    ng-init="subItems = item.menuItems"
                    ng-include="'menu-items-recursive-tpl'"></ul>
            </li>
        </script>


        <ul id="tag-menu"
            class="main-menu"
            ng-include="'menu-tags-tpl'">
        </ul>
    {% endblock menu-extra %}

    {% block button-manage %}
    {% endblock button-manage %}
</div>
