{% block title %}
    <h1 class="title ng-binding">{$ globals.current.info.name || '' $}</h1>

    <p class="description ng-binding">{$ globals.current.paginator.unit || '' $}</p>
{% endblock %}

<div class="row">
    {% block breadcrumb-options %}
        <div class="col-md-5" ng-if="!$state.includes('*.manage.**') && !$state.includes('**.add.**')">
            {% include "layout/header/breadcrumb.html" %}
        </div>
    {% endblock %}
    {% block right-options %}
        <div class="right-options pull-right" ng-class="{'right-options-manage':true}">
            {% block feature-create %}
            {% endblock %}

            {% block controls_bar %}
                {% block sort %}
                    <div class="inner-sort">
                        {% include "layout/header/sortby.html" %}
                    </div>
                {% endblock %}
                <div class="inner-select-reload">
                    {% block select %}
                        {% include "layout/header/select.html" %}
                    {% endblock %}
                    <div class="buttons dropdown btn-group-view ">
                        <button type="button" class="btn btn-reload"
                                ng-click="reloadPage();">
                            <i class="fa fa-repeat"></i>
                        </button>
                    </div>
                </div>

                <div class="inner-change-view"
                     ng-if="(!$state.includes('*.manage.**') && !$state.includes('**.add.**')) || $state.includes('**.content_tag.**')">
                    {% block views %}
                        {% include "layout/header/views.html" %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block bottom_header %}
    {% endblock %}
</div>

{% block before-view %}
{% endblock %}

<ui-view></ui-view>

{% block after-view %}
{% endblock %}
