{% comment %}
Pagination Settings
Settings can be provided as attributes in the <pagination> or globally configured through the paginationConfig.
ng-change   :
 ng-change can be used together with ng-model to call a function whenever the page changes.
ng-model    :
    Current page number. First page is 1.
ng-disabled :
    Used to disable the pagination component
total-items :
    Total number of items in all pages.
items-per-page  (Defaults: 10)  :
    Maximum number of items per page. A value less than one indicates all items on one page.
max-size  (Defaults: null)  :
    Limit number for pagination size.
num-pages readonly (Defaults: angular.noop) :
    An optional expression assigned the total number of pages to display.
rotate (Defaults: true) :
    Whether to keep current page in the middle of the visible ones.
direction-links (Default: true) :
    Whether to display Previous / Next buttons.
previous-text (Default: 'Previous') :
    Text for Previous button.
next-text (Default: 'Next') :
    Text for Next button.
boundary-links (Default: false) :
    Whether to display First / Last buttons.
first-text (Default: 'First')   :
    Text for First button.
last-text (Default: 'Last')     :
    Text for Last button.
template-url (Default: 'template/pagination/pagination.html')   :
    Override the template for the component with a custom provided template

Pager Settings
Settings can be provided as attributes in the <pager> or globally configured through the pagerConfig.
For ng-model, total-items, items-per-page and num-pages see pagination settings. Other settings are:
align (Default: true) :
    Whether to align each link to the sides.
previous-text (Default: '<< Previous') :
    Text for Previous button.
next-text (Default: 'Next >>') :
    Text for Next button.
template-url _(Default: 'template/pagination/pager.html') :
    Override the template for the component with a custom provided template
ng-disabled  :
    Used to disable the pager component
{% endcomment %}
<div class="card-view-footer">
    <div class="col-md-12 text-center pagination-change-state"
         ng-class="{ hidden: !((globals.current.paginator.numPages> 1) && (globals.current.paginator.totalItems > 0)) }">
        <pagination ng-change="changeState()"
                    ng-model="globals.current.paginator.currentPage"
                    total-items="globals.current.paginator.totalItems"
                    items-per-page="globals.current.paginator.itemsPerPage"
                    num-pages="globals.current.paginator.numPages"
                    max-size="globals.settings.maxSizePage"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    class="pagination-sm"></pagination>
        <div class="clear"></div>
    </div>

    <div class="col-md-12 pagination-change-page hidden"
         ng-class="{ numPages: (globals.current.paginator.numPages> 1),
      totalItems: (globals.current.paginator.totalItems > 0) }">
        <pagination ng-change="changePage()"
                    ng-model="globals.current.paginator.currentPage"
                    total-items="globals.current.paginator.totalItems"
                    items-per-page="globals.current.paginator.itemsPerPage"
                    num-pages="globals.current.paginator.numPages"
                    max-size="globals.settings.maxSizePage"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    class="pagination-sm"></pagination>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
