{% extends 'layout/left-sidebar.html' %}
{% load staticfiles %}

{% block button-add %}
    <div class="btn-left-sidebar">
        <a type="button"
           href="javascript:void(0)" ui-sref="people.add_people"
           class="btn bg-lg btn-add">Find more friends</a>
    </div>
{% endblock button-add %}

{% block main-menu %}
    <script type="text/ng-template" id="menu-person-tpl">
        <span class="people-thumb-container" ng-if="item.data.avatar">
        <img alt=""
             ng-src="{$ globals.cdn + 'avatar/' + item.data.avatar $}"
             err-src="{% static 'images/user-4.png' %}"
             class="media-object img-circle thumb">
    </span>
        <span class="title">{$ item.title |truncate:20 $}</span>
    </script>

    <script type="text/ng-template" id="menu-people-tpl">
        <li ng-repeat="item in menuItems"
            ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
            <a href="javascript:void(0)"
               ng-click="item.isOpen = !item.isOpen;"
               ui-sref="{$ item.ref $}"
               ng-include="'menu-person-tpl'"></a>
        <span class="expand-menu"
              ng-click="friend_root(item)"
              ng-if="item.data.is_friend_root">
            <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
        </span>
        <span class="expand-menu"
              ng-click="following_root(item)"
              ng-if="item.data.is_follow_root">
            <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
        </span>
            <ul id="sub-menu"
                ng-if="item.menuItems.length"
                ng-init="subItems = item.menuItems"
                ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                ng-include="'menu-people-recursive-tpl'"></ul>
        </li>
    </script>

    <script type="text/ng-template" id="menu-people-recursive-tpl">
        <li ng-repeat="item in subItems"
            ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
            <a href="javascript:void(0)"
               ng-click="item.isOpen = !item.isOpen;"
               ui-sref="{$ item.ref $}"
               ng-include="'menu-person-tpl'"></a>
        <span class="expand-menu"
              ng-click="friendInGroup(item)"
              ng-if="item.data.type=='fi-group'">
            <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
        </span>
        <span class="expand-menu"
              ng-click="followingInGroup(item)"
              ng-if="item.data.type=='fo-group'">
            <i class="fa" ng-class="{'fa-angle-right':!item.isOpen,'fa-angle-down':item.isOpen}"></i>
        </span>
            <ul id="sub-menu"
                ng-if="item.menuItems.length"
                ng-init="subItems = item.menuItems"
                ng-class="{show: item.isOpen, hidden: !item.isOpen}"
                ng-include="'menu-people-recursive-tpl'"></ul>
        </li>
    </script>

    <ul id="main-menu"
        class="main-menu people-left-sidebar"
        ng-include="'menu-people-tpl'">
    </ul>
{% endblock main-menu %}

{% block menu-extra %}
{% endblock menu-extra %}

{% block button-manage %}
    <div class="btn-left-sidebar ">
        <a type="button"
           href="javascript:void(0)" ui-sref="people.manage_friends"
           class="btn btn-action bg-lg">Manage People</a>
    </div>
{% endblock button-manage %}
