{% load staticfiles %}
<div class="right-sidebar-inner">
    <div class="col-md-12"
         ng-if="$state.includes('feeds.view.src') && globals.current.info">
        <div class="row no-margin block">
            <div class="button-group">
                <a href="{$ globals.current.info.url |http $}" target="_blank" class="btn">
                    <i class="fa fa-compass"></i>
                </a>
                <button type="button" class="btn" ng-click="plusObject()"
                        ng-class="{'subscribed': globals.current.info.status.subscribed}">
                    <i ng-class="{'fa-plus': !globals.current.info.status.subscribed, 'fa-check': globals.current.info.status.subscribed}"></i>
                </button>
                <button type="button" class="btn"
                        ng-click="upObject();"
                        ng-class="{'voted-c':globals.current.info.status.liked}">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn"
                        ng-click="downObject();"
                        ng-class="{'voted-c':globals.current.info.status.disliked}">
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        </div>
        <!-- INFO -->
        <div class="row no-margin block">
            <img alt=""
                 ng-src="{$ 'http://static.karaplus.com/' + 'feed_source_icon/' + globals.current.info.icon $}"
                 err-src="{% static 'images/fa-globe.png' %}"
                 class="icon-web">
            <strong>{$ globals.current.info.name $}</strong>
            <h4 class="right-sidebar-title">
                <a href="{$ globals.current.info.url |http $}" target="_blank" class="title">
                    {$ globals.current.info.name $}
                </a>
            </h4>

            <p>
                {$ globals.current.info.description $}
                <a class="pull-right" ng-click="">Read more </a>
            </p>
        </div>
        <!-- STATISTIC -->
        {% include 'layout/rsb_statistic.html' %}
        <!-- SUBSCRIBERS -->
        {% include 'layout/rsb_user.html' %}
        <!-- TAGS -->
        {% include 'layout/rsb_tag.html' %}
        <!-- SHARE -->
        {% include 'layout/rsb_socialshare.html' %}
        <!-- Note -->
        {% include 'layout/rsb_note.html' %}
    </div>
</div>

