<div class="row no-margin block">
    <h4 class="right-sidebar-title">Statistic</h4>
    <ul class="list-group list-group-minimal statistic">
        <li class="list-group-item">
            <i class="fa-fw fa-comment"></i>
            <span ng-click="showPopupStatic('commented',globals.current.info)">Comment </span>
            <span class="pull-right" ng-click="scrollToComment()">
                {$ globals.current.info.statistic.comments || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw fa-eye"></i>
            <span ng-click="showPopupStatic('viewed',globals.current.info)">View </span>
            <span class="pull-right" ng-click="showPopupStatic('viewed',globals.current.info)">
                {$ globals.current.info.statistic.views || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw fa-arrow-up"></i>
            <span ng-click="showPopupStatic('liked',globals.current.info)">Vote </span>
            <span class="pull-right" ng-click="showPopupStatic('liked',globals.current.info)">
                {$ globals.current.info.statistic.likes || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw  fa-arrow-down"></i>
            <span ng-click="showPopupStatic('disliked',globals.current.info)">Down Vote </span>
            <span class="pull-right" ng-click="showPopupStatic('disliked',globals.current.info)">
                {$ globals.current.info.statistic.dislikes || 0 $}
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-fw fa-share-square"></i>
            <span ng-click="showPopupStatic('shared',globals.current.info)">Share </span>
            <span class="pull-right" ng-click="showPopupStatic('shared',globals.current.info)">
                {$ globals.current.info.statistic.shares || 0 $}
            </span>
        </li>
    </ul>
</div>
