<div class="row no-margin block" ng-if="globals.current.tags && globals.current.tags.length">
    <h4 class="right-sidebar-title">Tags</h4>
    <ul class="list-inline">
        <li ng-repeat="tag in globals.current.tags">
            <a href="javascript:void(0)" class="btn btn-tags">{$ tag.tag $}</a>
        </li>
    </ul>
</div>
