<div class="row no-margin block" ng-if="globals.current.info.note">
    <h4 class="right-sidebar-title">Note</h4>

    <p>
        {$ 'Difficulty on insensible reasonable in. '
        + 'From as went he they. '
        + 'Preference themselves me as thoroughly partiality considered on in estimating.' $}
    </p>
</div>