{% load staticfiles %}
<nav class="navbar user-info-navbar" role="navigation">
    <!-- User Info, Notifications and Menu Bar -->
    <!-- Left links for user info navbar -->
    <script type="text/ng-template" id="hmenu-items-tpl">
        <li ng-repeat="item in top_menu"
            ng-class="{'active': item.isActive, 'open': $state.includes(item.state)}"
            class="hover-line navbar-menu">
            <a href="javascript:void(0)" ui-sref="{$ item.ref $}" class="">
                {$ item.title $}
                <span ng-if="false" class="badge badge-secondary pull-right">
                    34
                </span>
            </a>
        </li>
    </script>

    <ul class="user-info-menu left-links list-inline list-unstyled"
        ng-include="'hmenu-items-tpl'"></ul>

    <!-- Right links for user info navbar -->
    <ul ng-controller="AuthController"
        ng-if="globals.is_authenticated"
        class="user-info-menu right-links list-inline list-unstyled">
        <li>
            <div class="search-bar animated ">
                <form>
                    <input type="text" placeholder="Search for everything" ng-model="globals.search.keyword"
                           class="form-control search-keyword" id="input_keyword">
                    <button type="submit" ng-click="searchSubmit(globals.search)"
                            class="btn-trans btn-search"><i class="fa fa-search"></i></button>
                    <button class="btn-trans btn-select-search"><i class="fa fa-angle-down"></i></button>
                    {% include "layout/include/search-menu.html" %}
                </form>
            </div>
        </li>

        {% include "layout/include/notification.html" %}

        <li id="profile"
            class="dropdown user-profile">
            <a data-toggle="dropdown"
               href="javascript:void(0)"
               class="">
                <img alt="{$ global.user.username $}"
                     ng-src="{$ globals.cdn + 'avatar/' + globals.user.profile.avatar $}"
                     err-src="{% static 'images/user-4.png' %}"
                     ng-click="$state.go('profile.wall', {'profile':globals.user.profile.id})"
                     width="28"
                     class="img-circle img-inline userpic-32"/>
                <span>
                    {$ globals.user.username | truncate:24 $}
                    <i class="fa-angle-down"></i>
                </span>
            </a>

            <ul class="dropdown-menu user-profile-menu list-unstyled">
                <li>
                    <a href="javascript:void(0)" ui-sref="profile.wall({'profile':globals.user.profile.id})">
                        <i class="fa-user"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ui-sref="profile-setting">
                        <i class="fa-wrench"></i>
                        Settings
                    </a>
                </li>

                <li class="last">
                    <a href="javascript:void(0)" ng-click="logout()">
                        <i class="fa-lock"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0)" ng-click="rightSidebarToggle();" data-toggle="chat">
                <span>
                    <i class="fa-info-circle"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>