{% load webdesign %}
{% load filters %}

{#{% include "manage/detect-content-header.html" %}#}

<div class="board">
    <div class="col-md-12">
        {% with web="Behance" overtime="29d" shares="6k" views="9k" comments="1k" votes="123k" %}
            <ul id="manage-duplication" class="list-view ">
                <li class="dupli-title">
                    <div class="controls">
                        <div class="buttons pull-left">
                            {# 1 #}
                            <div class="button">
                            </div>
                            {# 2 #}
                            <div class="button">
                                <button class="" ng-click=""><i class="fa fa-caret-down fa-lg"></i></button>
                            </div>
                            {# 3 #}
                            <div class="button">
                                <button class="basic" ng-click=""><i class="fa fa-behance"></i></button>
                            </div>
                        </div>
                        <div class="buttons pull-right">
                        </div>
                        <div class="info row">
                            <h5>
                                {{ web }}
                            </h5>
                        </div>
                    </div>
                </li>
                <hr>
                {% for i in 15|get_range %}
                    <li class="hover link">
                        <div class="controls">
                            <div class="buttons pull-left">
                                {# 1 #}
                                <div class="button">
                                    <button class="" ng-click=""><i class="fa fa-square-o"></i></button>
                                </div>
                                {# 2 #}
                                <div class="button">
                                    <button class="" ng-click=""><i class="fa fa-star"></i></button>
                                </div>
                                {# 3 #}
                                <div class="button">
                                    <button class="has-border has-radius hover-bg-o" ng-click="showAddLinkPopup()"><i
                                            class="fa fa-plus"></i></button>
                                </div>
                                {# 4 #}
                                <div class="button">
                                    <button class="basic">{{ web }}</button>
                                </div>
                                {# 5 #}
                                <div class="button">
                                    <button class="basic"><i class="fa fa-angle-right"></i>&nbsp<i
                                            class="fa fa-link"></i></button>
                                </div>
                            </div>
                            <div class="buttons pull-right">
                                {# 1 #}
                                <div class="button dropdown">
                                    <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i>
                                    </button>
                                    {#{% include "manage/menu-feature-of-link.html" %}#}
                                </div>
                            </div>
                            <div class="info row">
                                <div class="col-md-12 col-xs-12">
                                    <h5>
                                        {% lorem 5 w random %}
                                <span>
                                    {% lorem 10 w random %}
                                </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="clear"></div>
        {% endwith %}
    </div>
</div>
