{% include "layout/header/tag-header.html" %}

<div class="list-view">
    <div class="row activity-listing">
        <ul id="manage-tags" class="list-group ">
            <li class="list-item">
                <div class="controls">
                    <div class="buttons pull-left">
                    </div>
                    <div class="buttons pull-right">
                    </div>
                    <div class="info row">
                        <span class="action-buttons"></span>

                        <div class="col-md-5 text-left">
                            Tag-name
                        </div>
                        <div class="col-md-2 text-left">
                            Links
                        </div>
                        <div class="col-md-2 text-left">
                            Folders
                        </div>
                        <div class="col-md-2 text-left">
                            Total
                        </div>
                    </div>
                </div>
            </li>

            <script type="text/ng-template" id="tags-list">
                <div class="controls">
                    <div class="info row">
                        <span class="action-buttons" ng-init="item.selected=false;item.status.favourited=false;">
                            <button class="center input-check"
                                    ng-model="globals.selection.select_all"
                                    ng-show="globals.selection.hand_select"
                                    ng-click="selectItem(item, 'tags')">
                                <i class="fa"
                                   ng-class="{'fa-square-o': !item.selected,
                                        'fa-check-square-o': item.selected}"></i>
                            </button>
                        </span>

                        <div class="col-xs-5">
                            <a ui-sref="manage.content_tag({viewType: '{$ globals.settings.viewType $}', slug:'{$ item.slug $}' })">
                                {$item.tag$}</a>
                        </div>
                        <div class="col-md-2">
                            {$ item.links $}
                        </div>
                        <div class="col-md-2">
                            {$ item.folders $}
                        </div>
                        <div class="col-md-2">
                            <span class="total-item">{$ item.links + item.folders $}</span>
                        </div>
                        <span class="col-xs-1 more" dropdown ng-if="item.tools.length">
                        {# 1 #}
                            <button type="button" class="btn btn-trans" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            {% include "layout/tools/tag-tools.html" %}
                        </span>
                    </div>
                </div>
            </script>

            <li class="hover" ng-class="{selection:!globals.selection.hand_select}"
                ng-click="interactive(item, 'tag')"
                ng-repeat="item in globals.current.links | orderBy:globals.settings.sortType:globals.settings.sortReverse" ng-include="'tags-list'"
                index="{$ $index $}">
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}

