{% extends "layout/main-view.html" %}

{% block feature-create %}
    <div class="btn-group-options">
        <button tooltip data-toggle="tooltip" data-placement="bottom" title="Create a new folder" type="button"
                ng-click="showCreateFolderPopup()" class="btn btn-reload btn-options">
            <i class="fa fa-folder"></i>
        </button>
        <button tooltip data-toggle="tooltip" data-placement="bottom" title="Add bookmark" type="button"
                ng-click="showCreateLinkPopup()" class="btn btn-reload btn-options">
            <i class="fa fa-link"></i>
        </button>
        <button data-toggle="dropdown" aria-haspopup="true" role="button" class="btn btn-reload btn-options">
            <i class="fa fa fa-ellipsis-h"></i>
        </button>
        {% include "layout/include/folder-current-menu.html" %}
    </div>
{% endblock %}
