<ul id="context2" class="dropdown-menu custom-menu" role="menu">
    <li>
        <a href="javascript:void(0);" ng-click="showLinkDetailPopup(item)">
            Open
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="copy()">
            Copy
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="cut()">
            Cut
        </a>
    </li>
    <li ng-if="false">
        <a href="javascript:void(0);" ng-click="showBookmarkRenamePopup()">
            Rename
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showDeletePopup()">
            Delete
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showManageTagsPopup()">
            Manage tag
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="javascript:void(0);" ng-click="showSharePopup()">
            Share
        </a>
    </li>
</ul>

<ul id="context1" class="dropdown-menu context-menu">
    <li ng-disabled="!globals.interactive.action">
        <button ng-disabled="!globals.interactive.action"
                ng-class="{ 'enabled' : globals.interactive.action , 'disabled' : !globals.interactive.action}"
                ng-click="paste(1)" class="paste">
            Paste
        </button>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showCreateLinkPopup()">
            Create Link
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showRenamePopup()">
            Rename
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showDeletePopup()">
            Delete
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" ng-click="showManageTagsPopup()">
            Manage tag
        </a>
    </li>
</ul>

<div class="list-view" on-right-click="ShowContextMenu()">
    <div class="row activity-listing">
        <ul class="list-group list-unstyled">
            <li class="item"
                ng-click="interactive(item)"
                ng-class="{selection:!globals.selection.hand_select}"
                ng-repeat="item in folders | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                ng-include="'templates/include/folder-list/'"></li>
            <li class="item"
                ng-click="interactive(item)"
                ng-repeat="item in links | orderBy:globals.settings.sortType:globals.settings.sortReverse"
                ng-include="'templates/include/bookmark-list/'"></li>
        </ul>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}
