<div class="card-view">
    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth" : true}'
         class="masonry-container">
        <div class="item" masonry-tile
             ng-repeat="item in folders | orderBy:globals.settings.sortType:globals.settings.sortReverse"
             ng-include="'templates/include/folder-card/'"></div>
        <div class="item" masonry-tile
             ng-repeat="item in links | orderBy:globals.settings.sortType:globals.settings.sortReverse"
             ng-include="'templates/include/bookmark-card/'"></div>
    </div>
</div>

<div class="clear"></div>

{% include "layout/pagination.html" %}