{% include "layout/header/tag-header.html" %}
<div class="list-view">
    <div class="row activity-listing">
        <ul id="manage-tags" class="list-view ">
            <li class="list-item">
                <div class="controls">
                    <div class="buttons pull-left"></div>
                    <div class="buttons pull-right"></div>
                    <div class="info row">
                        <div class="col-md-6 text-center">
                            Tag-name
                        </div>
                        <div class="col-md-2 text-center">
                            Links
                        </div>
                        <div class="col-md-2 text-center">
                            Folders
                        </div>
                        <div class="col-md-2 text-center">
                            Total
                        </div>
                    </div>
                </div>
            </li>

            <script type="text/ng-template" id="tags-list">
                <div class="controls">
                    <div class="buttons pull-right">
                        {# 1 #}
                        <div class="button dropdown">
                            <button class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            {#{% include "manage/menu-feature-of-link.html" %}#}
                        </div>
                    </div>
                    <div class="info row">
                        <div class="action-buttons" ng-init="item.selected=false;item.status.favourited=false;">
                            <button class="center input-check"
                                    ng-model="globals.selection.select_all"
                                    ng-show="globals.selection.hand_select"
                                    ng-click="selectItem(item, 'tags')">
                                <i class="fa"
                                   ng-class="{'fa-square-o': !item.selected,
                                        'fa-check-square-o': item.selected}"></i>
                            </button>
                            <button class="center favorite-star"
                                    ng-class=" {selected: item.status.favorited}"
                                    ng-click="actionFavourite(item)">
                                <i class="fa"
                                   ng-class="{ 'fa-star' : item.status.favorited , 'fa-star-o' : !item.status.favorited}"></i>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            {$ item.tag $}
                        </div>
                        <div class="col-md-2">
                            {$ item.links $}
                        </div>
                        <div class="col-md-2">
                            {$ item.folders $}
                        </div>
                        <div class="col-md-2">
                            <span class="total-item">{$ item.links + item.folders $}</span>
                        </div>
                    </div>
                </div>
            </script>

            <li class="hover" ng-class="{selection:!globals.selection.hand_select}"
                ng-repeat="item in globals.current.links | orderBy:globals.settings.sortType:globals.settings.sortReverse" ng-include="'tags-list'"
                index="{$ $index $}">
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
