<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>

<form class="form-horizontal">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="link_name">Name</label>

            <div class="controls">
                <input type="text" id="link_name" class="form-control" required
                       placeholder="Name of your link"
                       ng-disabled="true"
                       ng-model="modalItem.name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="link_url">Url</label>

            <div class="controls">
                <input type="text" id="link_url" class="form-control" required autofocus
                       ng-disabled="true"
                       ng-model="modalItem.url">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="tags">Add Tags:</label>

            <div class="controls">
                <tags-input
                        ng-model="tags"
                        display-property="tag"
                        key-property="tag"
                        placeholder="Add a tag"
                        min-length="2"
                        add-on-blur="false"
                        enable-editing-last-tag="true">
                    <auto-complete
                            source="loadUserTags($query)"
                            display-property="tag"
                            debounce-delay="500"
                            min-length="2"
                            select-first-match="false">
                    </auto-complete>
                </tags-input>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="link_folders">Folder</label>

            <div class="controls select-folder-addlink" dropdown>
                <input class="form-control " readonly data-toggle="dropdown"
                       ng-model="modalItem.to_folder.name"/>
                <!-- Single button using append-to-body -->

                <script type="text/ng-template" id="list-item-display">
                    <span class="dropdown-icon btn-trans" data-keepOpenOnClick ng-if="item.children.length">
                        <i class="fa fa-angle-right"></i>
                    </span>
                    <span ng-click="modalItem.to_folder=item" class="item-folder">
                        {$ item.name $}
                    </span>
                    <button class="pull-right btn-trans" ng-click="cancel('Dismiss');showCreateFolderPopup();">
                        <i class="pull-right fa fa-plus"></i>
                    </button>
                </script>

                <script type="text/ng-template" id="list-item-recursive">
                    <li ng-class="{'has-sub-menu': item.children.length}"
                        ng-repeat="item in folders">
                        <span ng-include="'list-item-display'"></span>
                        <ul class="sub-menu-add-link"
                            ng-if="item.children.length"
                            ng-init="folders=item.children"
                            ng-include="'list-item-recursive'"></ul>
                    </li>
                </script>

                <ul class="dropdown-menu select-folder-list" role="menu">
                    <li ng-class="{'has-sub-menu': item.children.length}"
                        ng-repeat="item in globals.user.folders_structure">
                        <span ng-include="'list-item-display'"></span>
                        <ul class="sub-menu-add-link"
                            ng-if="item.children.length"
                            ng-init="folders=item.children"
                            ng-include="'list-item-recursive'"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" ng-click="addBookmark()">Create</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
