{% load staticfiles %}

<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <ul class="feature-buttons share-buttons">
            <li>
                <a href="javascript:void(0)" class="remove-tag" ng-click="">
                    <img alt="Dropbox"
                         ng-src="{% static 'images/backup_dropbox.png' %}"
                         err-src="{% static 'images/backup_dropbox.png' %}"
                         class=""/>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="remove-tag" ng-click="">
                    <img alt="Google Drive"
                         ng-src="{% static 'images/backup_google_drive.png' %}"
                         err-src="{% static 'images/backup_google_drive.png' %}"
                         class=""/>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="remove-tag" ng-click="">
                    <img alt="My Computer"
                         ng-src="{% static 'images/backup_mycomputer.png' %}"
                         err-src="{% static 'images/backup_mycomputer.png' %}"
                         class=""/>
                </a>
            </li>
        </ul>
    </div>
</form>
