<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form action="">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-action">Update password</button>
            <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss ')">Cancel</button>
        </div>
    </div>
</form>
