<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="createBookmark(newBookmarkLink)">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <h3>{$ modalItem.folder $}</h3>

        <div class="control-group">
            <label class="control-label" for="bookmark_url">Your URL Link</label>

            <div class="controls">
                <input autofocus type="text" id="bookmark_url" class="form-control" required placeholder="Your URL Link"
                       ng-model="newBookmarkLink.url">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="bookmark_title">Title</label>

            <div class="controls">
                <input type="text" id="bookmark_title" class="form-control" required placeholder="Name of your link"
                       ng-model="newBookmarkLink.title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="tags">Tags</label>

            <div class="controls">
                <tags-input
                        ng-model="newBookmarkLink.tags"
                        display-property="tag"
                        key-property="tag"
                        placeholder="Add a tag"
                        min-length="2"
                        add-on-blur="false"
                        enable-editing-last-tag="true">
                    <auto-complete
                            source="loadUserTags($query)"
                            display-property="tag"
                            debounce-delay="500"
                            min-length="2"
                            select-first-match="false">
                    </auto-complete>
                </tags-input>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">Create</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('cancel')">Cancel</button>
    </div>
</form>