<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="folder_name">Name</label>

            <div class="controls">
                <input type="text" id="folder_name" class="form-control" required
                       placeholder="Enter new name of your folder"
                       ng-model="newFolder.name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="folder_desc">Description</label>

            <div class="controls">
                <textarea id="folder_desc" class="form-control" required placeholder="Type your description"
                          ng-model="newFolder.description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">Create</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
