<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="createNewFolder(newFolder)">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="folder_name">Name</label>

            <div class="controls">
                <input autofocus type="text" id="folder_name" class="form-control" required placeholder="Name of your folder"
                       ng-model="newFolder.name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="folder_desc">Description</label>

            <div class="controls">
                <textarea id="folder_desc" class="form-control" placeholder="Description of your folder"
                          ng-model="newFolder.description"></textarea>
            </div>
        </div>
        {# tags of this new folder #}
        <div class="control-group">
            <label class="control-label" for="tags">Add Tags:</label>

            <div class="controls">
                {% comment %}
                <tags-input
                    ng-model="{string}"
                    template="{string}"
                    display-property="{string}||text"
                    key-property="{string}||text"
                    type="{string}||text||email||url"
                    text="{string}"
                    tabindex="{number}"
                    placeholder="{string}||Add a tag"
                    min-length="{number}||3"
                    max-length="{number}||MAX_SAFE_INTEGER"
                    min-tags="{number}||0"
                    max-tags="{number}||MAX_SAFE_INTEGER"
                    allow-leftover-text="{boolean}||false"
                    remove-tag-symbol="{string}||x"
                    add-on-enter="{boolean}||true"
                    add-on-space="{boolean}||false"
                    add-on-comma="{boolean}||true"
                    add-on-blur="{boolean}||true"
                    add-on-paste="{boolean}||false"
                    paste-split-pattern="{string}||,"
                    replace-spaces-with-dashes="{boolean}||true"
                    allowed-tags-pattern="{string}||.+"
                    enable-editing-last-tag="{boolean}||false"
                    add-from-autocomplete-only="{boolean}||false"
                    spellcheck="{boolean}||true"
                    on-tag-adding="{expression}"
                    on-tag-added="{expression}"
                    on-invalid-tag="{expression}"
                    on-tag-removing="{expression}"
                    on-tag-removed="{expression}"
                    on-tag-clicked="{expression}">
                    <auto-complete
                        source="{expression}"
                        template="{string}"
                        display-property="{string}||text"
                        debounce-delay="{number}||100"
                        min-length="{number}||3"
                        highlight-matched-text="{boolean}||true"
                        max-results-to-show="{number}||10"
                        load-on-down-arrow="{boolean}||false"
                        load-on-empty="{boolean}||false"
                        load-on-focus="{boolean}||false"
                        select-first-match="{boolean}||true">
                    </auto-complete>
                </tags-input>
                {% endcomment %}
                <tags-input
                        ng-model="newFolder.tags"
                        display-property="tag"
                        key-property="tag"
                        placeholder="Add a tag"
                        min-length="2"
                        add-on-blur="false"
                        enable-editing-last-tag="true">
                    <auto-complete
                            source="loadUserTags($query)"
                            display-property="tag"
                            debounce-delay="500"
                            min-length="2"
                            select-first-match="false">
                    </auto-complete>
                </tags-input>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">Create</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss '+newFolder.name)">Cancel</button>
    </div>
</form>
