<form class="form-horizontal" ng-submit="reTagCategory()">
    <a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>

    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="folder_name">Name</label>

            <div class="controls">
                <input type="text" id="new_category" class="form-control" placeholder="Enter new name of your item"
                       ng-model="new_category">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">Create</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss '+modalItem.name)">Cancel</button>
    </div>
</form>