<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="deleteItem()">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="ask">Are you sure want to delete {$ modalItem.name $}?</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">Delete</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('cancel')">Cancel</button>
    </div>
</form>