<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $} {$ globals.user.username $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="ask">Follow sucessfully. Do you want to send an invite to make friend to {$
                globals.user.username $}?</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">OK</button>
        <button class="reset btn btn-gray " type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
