<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<div class="modal-header">
    <h3>{$ modalTitle $}</h3>
</div>
<ul class="tab-create-link" ng-init="tabbed_panel_active = 1">
    <li ng-class="{'active': tabbed_panel_active == 1}">
        <button class="btn btn-trans" ng-click="tabbed_panel_active = 1">Import Bookmark</button>
    </li>
    <li ng-class="{'active': tabbed_panel_active == 2}">
        <button class="btn btn-trans hoverable" ng-click="tabbed_panel_active = 2">Add new bookmark</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane" ng-class="{'active': tabbed_panel_active == 1}">
        <form method="post" class="form-horizontal create-link-form" id="formtest"
              ng-submit="importBookmarkSubmit(fileBookmark)">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="folder_name">Folder</label>

                    <div class="controls">
                        <select class="select form-control" placeholder="Chrome" ng-model="fileBookmark.folderName">
                            <option value="">Default Sorting</option>
                            <option>Chrome</option>
                            <option>Firefox</option>
                            <option>Safari</option>
                            <option>Internet Explorer</option>
                        </select>
                    </div>
                    <label class="control-label" for="folder_name">Select html bookmark file</label>

                    <div class="controls">
                        <input type="file" file-model="fileBookmark.myFileUpload" id="file-upload">
                    </div>
                    <label class="control-label" for="folder_name"></label>

                    <div class="controls">
                        <!--<div class="alert alert-success" ng-bind="messageSuccess">
                        </div>
                        <div class="alert alert-danger" ng-bind="messageError">
                        </div>-->
                        <div ng-messages="fileBookmark.$error" role="alert">
                            <div class="alert alert-success" ng-show="fileBookmark.isSuccess"
                                 ng-bind="fileBookmark.messageSuccess"></div>
                            <div class="alert alert-danger" ng-show="fileBookmark.isError"
                                 ng-bind="fileBookmark.messageError"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">Import</button>
                <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss ')">Cancel</button>
            </div>
        </form>
    </div>

    <div class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
        <form method="post" class="form-horizontal create-link-form" id="formtest"
              ng-submit="createBookmark(newBookmarkLink)">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="bookmark_url">Your URL Link</label>

                    <div class="controls">
                        <input autofocus type="text" id="bookmark_url" class="form-control" required placeholder="Your URL Link"
                               ng-model="newBookmarkLink.url">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="bookmark_title">Title</label>

                    <div class="controls">
                        <input type="text" id="bookmark_title" class="form-control" required
                               placeholder="Name of your link" ng-model="newBookmarkLink.title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="tags">Tags</label>

                    <div class="controls">
                        <tags-input ng-model="newBookmarkLink.tags" display-property="tag">
                            <auto-complete source="loadTags($query)" debounce-delay="5"></auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-action" data-ripple-color="#BD2626" type="submit">Bookmark</button>
                <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss ')">Cancel</button>
            </div>
        </form>
    </div>
</div>
