<a ng-click="submit(modalItem.tags)" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <ul class="feature-buttons tag-buttons clearfix">
            <li ng-repeat="item in modalItem.tags">
                <a href="javascript:void(0)" class="remove-tag" ng-click="removeTag(item.tag)"><i
                        class="fa fa-close"></i></a>
                <a href="javascript:void(0)">{$ item.tag $}</a>
            </li>
            <li class="add-tag-button">
                <button class="reverse-o btn btn-action " ng-click="addTagModal()">Add tag</button>
            </li>
        </ul>
    </div>
</form>