{% load filters %}

<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal form form-private" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            {% for i in 2|get_range %}
                <div class="input-group-cover">
                    <div class="input-group" ng-init="init{{ i }} = {role : 'Public'}">
                        <a href="javascript:void(0)">Folder</a>

                        <div class="dropdown">
                            <a id="collaborate_{{ i }}" data-target="#" href="javascript:void(0);"
                               data-toggle="dropdown" aria-haspopup="false" role="button" aria-expanded="true">
                                {$ init{{ i }}.role $}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="collaborate_{{ i }}">
                                <li><a href="javascript:void(0);" ng-click="init{{ i }}.role = 'Public'">Public</a></li>
                                <li><a href="javascript:void(0);" ng-click="init{{ i }}.role = 'Friend'">Friend</a></li>
                                <li><a href="javascript:void(0);" ng-click="init{{ i }}.role = 'Only Me'">Only Me</a>
                                </li>
                            </ul>
                        </div>
                        <hr/>
                    </div>
                    <div class="input-group-cover">
                        {% for j in 2|get_range %}
                            <div class="input-group" ng-init="init{{ i }}{{ j }} = {role : 'Public'}">
                                <a href="javascript:void(0)">Public Folder</a>

                                <div class="dropdown">
                                    <a id="collaborate_{{ i }}" data-target="#" href="javascript:void(0);"
                                       data-toggle="dropdown" aria-haspopup="false" role="button" aria-expanded="true">
                                        {$ init{{ i }}{{ j }}.role $}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="collaborate_{{ i }}">
                                        <li><a href="javascript:void(0);" ng-click="init{{ i }}{{ j }}.role = 'Public'">Public</a>
                                        </li>
                                        <li><a href="javascript:void(0);" ng-click="init{{ i }}{{ j }}.role = 'Friend'">Friend</a>
                                        </li>
                                        <li><a href="javascript:void(0);"
                                               ng-click="init{{ i }}{{ j }}.role = 'Only Me'">Only Me</a></li>
                                    </ul>
                                </div>
                                <hr/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">OK</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
