<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="renameTag(item)">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="tag_name">Tag</label>

            <div class="controls">
                <input type="text" id="tag_name" class="form-control" placeholder="{$ item.tag $}"
                       ng-model="item.rename">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">Rename</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss '+tag)">Cancel</button>
    </div>
</form>