<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>

<form class="form-horizontal" ng-submit="renameTagCategory()">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="folder_name">New name</label>

            <div class="controls">
                <input autofocus type="text" id="folder_name" class="form-control" placeholder="Enter new name of your item"
                       ng-model="modalItem.name">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">Rename</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss '+modalItem.name)">Cancel</button>
    </div>
</form>