<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form ng-submit="resetpwd(pwd)">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="new-password">New password</label>
            <input type="password" id="new-password" class="form-control" ng-model="pwd.new">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm new password</label>
            <input type="password" id="confirm-password" class="form-control" ng-model="pwd.confirm">
        </div>
    </div>
    <div class="modal-footer">
        <span ng-if="pwd.error">{$ pwd.error $}</span>

        <div class="pull-right">
            <button class="btn btn-action">Update password</button>
            <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss ')">Cancel</button>
        </div>
    </div>
</form>
