<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body search">
        <div class="control-group">
            <div class="controls">
                <input class="form-control input-select" type="text" placeholder="Search"
                       ng-model="globals.search.searchKey">

                <div class="dropdown" ng-init="globals.current.searchType='All'">
                    <a id="search_type" data-target="#" href="javascript:void(0);"
                       data-toggle="dropdown" aria-haspopup="false" role="button" aria-expanded="true">
                        Type: {$ globals.search.searchType $}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="search_type">
                        <li><a href="javascript:void(0);" ng-click="globals.current.searchType=''">All</a></li>
                        <li><a href="javascript:void(0);" ng-click="globals.current.searchType='Web'">Web</a></li>
                        <li><a href="javascript:void(0);" ng-click="globals.current.searchType='Link'">Link</a></li>
                        <li><a href="javascript:void(0);" ng-click="globals.current.searchType='Folder'">Folder</a></li>
                        <li><a href="javascript:void(0);" ng-click="globals.current.searchType='Interest'">Interest</a>
                        </li>
                        <li><a href="javascript:void(0);" ng-click="globals.current.searchType='People'">People</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit" ui-sref="manage.search">Search</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
