<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="callSubmit()">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="link_folders">Folder</label>

            <div class="controls select-folder" dropdown>
                <script type="text/ng-template" id="list-item-display">
                    <span ng-if="item.children.length">
                        <i class="fa fa-angle-right"></i>
                    </span>
                    <span ng-click="setDestFolder(item.id)" class="item-folder">
                        {$ item.name $}
                    </span>
                </script>

                <script type="text/ng-template" id="list-item-recursive">
                    <li ng-repeat="item in folders"
                        ng-class="{ban: inBanList(item.id), active: item.id == params.folder}"
                        ng-if="!inBanList(item.id)"
                        class="">
                        <span ng-include="'list-item-display'"
                              ng-class="{disabled: item.id == params.parent_id}"></span>
                        <ul class="sub-menu"
                            ng-if="item.children.length"
                            ng-init="folders=item.children"
                            ng-include="'list-item-recursive'"></ul>
                    </li>
                </script>

                <ul class="select-folder-list">
                    <li ng-repeat="item in folders_structure"
                        ng-class="{ban: inBanList(item.id), active: item.id == params.folder}"
                        ng-if="!inBanList(item.id)"
                        class="folder-list-inline">
                        <span ng-include="'list-item-display'"
                              ng-class="{disabled: item.id == params.parent_id}"></span>
                        <ul class="sub-menu"
                            ng-if="item.children.length"
                            ng-init="folders=item.children"
                            ng-include="'list-item-recursive'"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">Done</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
