{% load staticfiles %}
<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <ul class="feature-buttons share-buttons">
            <li class="facebook">
                <a href="javascript:void(0)" class="remove-tag" ng-click="">
                    <img alt="Facebook"
                         ng-src="{% static 'images/share_facebook.png' %}"
                         err-src="{% static 'images/share_facebook.png' %}"
                         class=""/>
                </a>
            </li>
            <li class="twitter">
                <a href="javascript:void(0)" class="remove-tag" ng-click="">
                    <img alt="Twitter"
                         ng-src="{% static 'images/share_twitter.png' %}"
                         err-src="{% static 'images/share_twitter.png' %}"
                         class=""/>
                </a>
            </li>
            <li class="g-plus">
                <a href="javascript:void(0)" class="remove-tag" ng-click="">
                    <img alt="Google Plus"
                         ng-src="{% static 'images/share_googleplus.png' %}"
                         err-src="{% static 'images/share_googleplus.png' %}"
                         class=""/>
                </a>
            </li>
        </ul>

        {#<h4>Share on kara</h4>#}
        {#<div class="controls select-folder" dropdown>#}
        {#    <input class="form-control dropdown-toggle" readonly data-toggle="dropdown" value/>#}
        {#    <!-- Single button using append-to-body -->#}
        {#    <ul class="dropdown-menu" role="menu">#}
        {#        <li class="has-sub-menu">#}
        {#            <span>#}
        {#                <span class="dropdown-icon btn-trans" data-keepOpenOnClick>#}
        {#                    <i class="fa fa-angle-down"></i>#}
        {#                </span>#}
        {#                Bussiness#}
        {#                <span class="pull-right btn-trans" ng-click="showCreateFolderPopup()">#}
        {#                    <i class="pull-right fa fa-plus"></i>#}
        {#                </span>#}
        {#            </span>#}
        {#            <ul class="sub-menu-add-link">#}
        {#                <li class="has-sub-menu">#}
        {#                            <span>#}
        {#                                <span class="dropdown-icon btn-trans" data-keepOpenOnClick>#}
        {#                            <i class="fa fa-angle-down"></i>#}
        {#                        </span>Startup#}
        {#                                <span class="pull-right btn-trans" ng-click="showCreateFolderPopup()">#}
        {#                            <i class="pull-right fa fa-plus"></i>#}
        {#                        </span>#}
        {#                            </span>#}
        {#                    <ul class="sub-menu-add-link">#}
        {#                        <li><span>Vietnam Startup<span class="pull-right btn-trans"#}
        {#                                                       ng-click="showCreateFolderPopup()">#}
        {#                            <i class="pull-right fa fa-plus"></i>#}
        {#                        </span></span></li>#}
        {#                    </ul>#}
        {#                </li>#}
        {#                <li><span>SME#}
        {#                <span class="pull-right btn-trans" ng-click="showCreateFolderPopup()">#}
        {#                            <i class="pull-right fa fa-plus"></i>#}
        {#                        </span></span></li>#}
        {#            </ul>#}
        {#        </li>#}
        {#    </ul>#}
        {#</div>#}
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">Done</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss '+modalItem.name)">Cancel</button>
    </div>
</form>
