{% load staticfiles %}
<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<div class="modal-header">
    <h3>{$ modalTitle $}</h3>
</div>
<div class="modal-body">
    <ul class="people-listing">
        <li ng-repeat="person in people_static.users">
            <div class="pull-left avatar-item">
                <img alt=""
                     ng-src="{$ globals.cdn + 'avatar/' + person.profile.avatar $}"
                     err-src="{% static 'images/user-4.png' %}"
                     class="img-circle">
            </div>
            <div class="people-name"><a href="javascript:void(0)" >{$ person.username | truncate : 20 $}</a></div>
        </li>
    </ul>
</div>
