<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>

<form class="form-horizontal subscribe-popup" ng-submit="subscribeSource(modalItem)">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="link_name">Name</label>

            <div class="controls">
                <input type="text" id="link_name" class="form-control" required placeholder="Name of your source"
                       ng-model="modalItem.name">
            </div>
        </div>
        {#<div class="control-group">#}
        {#    <label class="control-label" for="link_tag">Category</label>#}
        {#    <div class="controls">#}
        {#        <input type="text" id="category_name" class="form-control" required placeholder="Category name"#}
        {#               ng-model="modalItem.categories[0].name">#}
        {#    </div>#}
        {#</div>#}
        <div class="control-group">
            <label class="control-label" for="link_folders">Folder</label>

            <div class="controls select-folder" dropdown>
                <input style="cursor: pointer" class="form-control " placeholder="Type here to create new folder"
                       id="category_name" required ng-model="modalItem.categories[0].name"/>
                <button class="btn btn-trans" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
                <!-- Single button using append-to-body -->
                <script type="text/ng-template" id="list-item-display">
                    <span ng-click="modalItem.categories[0]=item">
                        {$ item.name $}
                    </span>
                </script>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in globals.categories">
                        <span ng-include="'list-item-display'"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" ng-click="addBookmark()">Create</button>
        <button class="reset btn btn-gray" type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
