<a ng-click="cancel('close')" class="close close-popup" data-dismiss="modal"><span>×</span></a>
<form class="form-horizontal" ng-submit="submit('Wait!!!')">
    <div class="modal-header">
        <h3>{$ modalTitle $}</h3>
    </div>
    <div class="modal-body">
        <div class="reason" ng-init="globals.interactive.voteReason.reason_1=false">
            Not for me
            <i class="fa fa-lg pull-right"
               ng-click="globals.interactive.voteReason.reason_1=!globals.interactive.voteReason.reason_1"
               ng-class="{'fa-square-o': !globals.interactive.voteReason.reason_1,
                          'fa-check-square-o': globals.interactive.voteReason.reason_1}"></i>
        </div>
        <div class="reason" ng-init="globals.interactive.voteReason.reason_2=false">
            Seen page already
            <i class="fa fa-lg pull-right"
               ng-click="globals.interactive.voteReason.reason_2=!globals.interactive.voteReason.reason_2"
               ng-class="{'fa-square-o': !globals.interactive.voteReason.reason_2,
                          'fa-check-square-o': globals.interactive.voteReason.reason_2}"></i>
        </div>
        <div class="reason" ng-init="globals.interactive.voteReason.reason_3=false">
            Page does not load
            <i class="fa fa-lg pull-right"
               ng-click="globals.interactive.voteReason.reason_3=!globals.interactive.voteReason.reason_3"
               ng-class="{'fa-square-o': !globals.interactive.voteReason.reason_3,
                          'fa-check-square-o': globals.interactive.voteReason.reason_3}"></i>
        </div>
        <div class="reason" ng-init="globals.interactive.voteReason.reason_4=false">
            Report as spam
            <i class="fa fa-lg pull-right"
               ng-click="globals.interactive.voteReason.reason_4=!globals.interactive.voteReason.reason_4"
               ng-class="{'fa-square-o': !globals.interactive.voteReason.reason_4,
                          'fa-check-square-o': globals.interactive.voteReason.reason_4}"></i>
        </div>
        <div class="reason" ng-init="globals.interactive.voteReason.reason_5=false">
            Report wrong topic
            <i class="fa fa-lg pull-right"
               ng-click="globals.interactive.voteReason.reason_5=!globals.interactive.voteReason.reason_5"
               ng-class="{'fa-square-o': !globals.interactive.voteReason.reason_5,
                          'fa-check-square-o': globals.interactive.voteReason.reason_5}"></i>
        </div>
        <div class="reason" ng-init="globals.interactive.voteReason.reason_6=false">
            Block this site
            <i class="fa fa-lg pull-right"
               ng-click="globals.interactive.voteReason.reason_6=!globals.interactive.voteReason.reason_6"
               ng-class="{'fa-square-o': !globals.interactive.voteReason.reason_6,
                          'fa-check-square-o': globals.interactive.voteReason.reason_6}"></i>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-action" type="submit">Submit</button>
        <button class="reset btn btn-gray " type="reset" ng-click="cancel('Dismiss')">Cancel</button>
    </div>
</form>
