{% load staticfiles %}

<div class="list-view">
    <div class="row activity-listing">
        <div ng-if="loading" class="cssload-container">
            <img src="{% static 'images/kara-loading.gif' %}" alt="">
        </div>
        <ul class="list-group list-unstyled">
            <li class="item animated fadeIn"
                ng-class="{selection:!globals.selection.hand_select}"
                ng-repeat="item in posts | orderBy:'status.viewed':globals.settings.sortReverse"
                ng-include="'templates/include/interest-post-list/'"></li>
        </ul>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}
