{% extends "layout/main-view.html" %}

{% block sort %}
{% endblock %}

{% block select %}
    <div class="buttons dropdown btn-group-view btn-select-items"
         ng-if="!$state.includes('*.manage.**') && !$state.includes('**.add.**')">
        <button dropdown-toggle="dropdown"
                type="button" class="btn btn-reload"
                ng-click="">
            Show : {$ globals.settings.itemsEachPage $} Items
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="globals.settings.itemsEachPage = 12; $state.reload()"><a>12 items</a></li>
            <li ng-click="globals.settings.itemsEachPage = 24; $state.reload()"><a>24 items</a></li>
        </ul>
    </div>
{% endblock %}

{#{% block views %}#}
{#{% endblock %}#}
