{% block after-view %}
    <div id="manage-feeds" class="row">
        <div class="col-md-12">
            <div ng-repeat="zone in interests" class="category-block" ng-if="zone.interests.length">
                <div class="block-header">
                    <h4 class="block-title">{$ zone.name $}
                    <span class="pull-right">
                        <button type="button" ng-click="delAllInterests(zone);" class="btn btn-trans"><i
                                class="fa fa-close"></i></button>
                    </span>
                    </h4>
                </div>
                <ul>
                    <li ng-repeat="item in zone.interests track by $index"
                        ng-if="!item.is_trash"
                        ng-class="{'selected': selected === item}">
                        <span class="item-icon"><i class="fa fa-heart"></i></span>
                        <span class="item-text"> {$ item.name $}</span>
                    <span class="pull-right item-action">
                         <button type="button"
                                 ng-click="delOneInterest(zone, $index)"
                                 class="btn btn-trans">
                             <i class="fa fa-trash"></i>
                         </button>
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}