{% load staticfiles %}

<div class="card-view" id="link-card">
    <div ng-if="loading" class="cssload-container">
        <img src="{% static 'images/kara-loading.gif' %}" alt="">
    </div>
    <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item","isResizeBound": true,"isFitWidth" : true}'
         class="masonry-container">
        <div class="item animated fadeIn" masonry-tile
             ng-repeat="item in posts | orderBy:'status.viewed':globals.settings.sortReverse"
             ng-include="'templates/include/interest-post-card/'">
        </div>
    </div>
</div>
<div class="clear"></div>

{% include "layout/pagination.html" %}